.listitem{
    background: lightblue;
    border-radius: 6px;
}
.viewbtn {
    background:#ffffff;
    color: blue;
}
.headersty {
    padding-left: 42px;
    text-align: left;
}
.font30 {
    font-size: 30px;
}