

<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-icon class="fontlarge" (click)="ActionCloseQuoteInfo()" name="arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title>
              <h1>
          <div id="" class="text-left">{{headerInfo.QuoteNo}} -
              <select [(ngModel)]="QuoteVersionID" interface="popover" style="border: 0px;background: #3880ff;">
                  <option *ngFor="let version of headerInfo.VersionList" value="{{version.ID}}">V{{version.SrNo}}
                  </option>
              </select>
          </div>
          </h1>
      </ion-title>
      <ion-icon name="home" slot="end" class="fontlarge" (click)="ActionGoToHome()"></ion-icon>
  </ion-toolbar>
  <ion-toolbar style="--background:#ddd">
   
  <ion-row>
    <ion-col size="8">
        <h4 class="no-margin">{{headerInfo.QuoteName}}</h4>
    </ion-col>
    <ion-col size="4" class="text-right">
     <p class="no-margin">{{headerInfo.QuoteDate | date:'dd/MM'}} &nbsp; SA</p>
    </ion-col>
  </ion-row>
 </ion-toolbar>
 <ion-toolbar>
    <app-qnavigation></app-qnavigation>
 </ion-toolbar>
</ion-header>

<ion-content>

 <ion-row>
   <ion-col size="12" class="text-font">
    <div class="valignsup">{{headerInfo.Address1}}
      <span
          *ngIf="headerInfo.City != '' && headerInfo.City != null">,{{headerInfo.City}}</span>
      <span
          *ngIf="headerInfo.State != '' && headerInfo.State != null">,{{headerInfo.State}}</span>
      <span
          *ngIf="headerInfo.State != '' && headerInfo.State != null">-{{headerInfo.Zipcode}}</span>
  </div>
   </ion-col>
 </ion-row>

 <div *ngFor="let contact of headerInfo.QuoteContacts">
  <ion-row style="--padding-start:0px">
   <ion-col size="12" >
    <ion-icon class="text-font" class="fontsmall" name="contact"></ion-icon>
        {{contact.Name}}
       <div *ngIf="headerInfo.Phone != '' && headerInfo.Phone != null">
          - &nbsp; {{contact.Phone}} 
       </div>
   </ion-col>
   <ion-col size="12" *ngIf="headerInfo.Email != '' && headerInfo.Email != null">
    <ion-icon class="text-font" class="fontsmall" style="display: none;" name="contact"></ion-icon>
      <ion-icon class="text-font" class="fontsmall" name="call"></ion-icon> {{contact.Email}}
  </ion-col>
 </ion-row>
 </div>

<ion-row>
  <ion-col size="12" style="background:#ddd;"><h4 class="no-margin">Job Description</h4></ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">{{headerInfo.Version.Description}}</ion-col>
</ion-row>
  
  <app-arealayout [layoutId]="qprmsobj.layoutId"></app-arealayout>
  <ion-row class="marginbot">
    
    <ion-col size="8" class="fontbold text-right">Sub Total:</ion-col>
    <ion-col size="4" class="fontbold text-right">$ 1568.20</ion-col>
</ion-row>
<ion-row class="marginbot">
    
    <ion-col size="8" class="fontbold text-right"><u>Discount:</u></ion-col>
    <ion-col size="4" class="fontbold text-right"><span style="color:red;">($ 200.50)</span></ion-col>
</ion-row>
<ion-row class="marginbot">
   
    <ion-col size="8" class="fontbold text-right"><u>Sales Tax:</u></ion-col>
    <ion-col size="4" class="fontbold text-right">$ 112.58</ion-col>
</ion-row>
<ion-row class="marginbot">
   
    <ion-col size="8" class="fontbold text-right">Net Total:</ion-col>
    <ion-col size="4" class="fontbold text-right">$ 1480.28</ion-col>
</ion-row>
<ion-row class="marginbot">
    
    <ion-col size="8" class="fontbold text-right"><u>Fee & Charge:</u></ion-col>
    <ion-col size="4" class="fontbold text-right">$ 0.00</ion-col>
</ion-row>
<ion-row class="marginbot">
 
    <ion-col size="8" class="fontbold text-right">Final Total:</ion-col>
    <ion-col size="4" class="fontbold text-right">$ 1480.28</ion-col>
</ion-row>
<ion-row class="marginbot">
   
    <ion-col size="8" class="fontbold text-right">Payment:</ion-col>
    <ion-col size="4" class="fontbold text-right"><span style="color:red;">($ 0.00)</span></ion-col>
</ion-row>



</ion-content>


  