

<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-icon class="fontlarge" (click)="ActionCloseQuoteInfo()" name="arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title>
              <h1>
          <div id="" class="text-left">{{headerInfo.QuoteNo}} -
              <select [(ngModel)]="QuoteVersionID" interface="popover" style="border: 0px;background: #3880ff;">
                  <option *ngFor="let version of headerInfo.VersionList" value="{{version.ID}}">V{{version.SrNo}}
                  </option>
              </select>
          </div>
          </h1>
      </ion-title>
      <ion-icon name="home" slot="end" class="fontlarge" (click)="ActionGoToHome()"></ion-icon>
  </ion-toolbar>
  <ion-toolbar class="scroll">
      <ion-segment [(ngModel)]="selectedtabtype" scrollable class="list-scroll">
          <ion-button shape="round" class="btn-ion bar-header1" [ngClass]="selectedtabtype == 1 ? 'active' : ''" value="1" (click)="ActionQuickLoad(1)">Quote Info
          </ion-button>
          <ion-button shape="round" class="btn-ion bar-header1" [ngClass]="selectedtabtype == 2 ? 'active' : ''" value="2" (click)="ActionQuickLoad(2)">Area Info
          </ion-button>
          <ion-button shape="round" class="btn-ion bar-header1" [ngClass]="selectedtabtype == 3 ? 'active' : ''" value="3" (click)="ActionQuickLoad(3)">Job Desc
          </ion-button>
          <ion-button shape="round" class="btn-ion bar-header1" [ngClass]="selectedtabtype == 4 ? 'active' : ''" value="4" (click)="ActionQuickLoad(4)">PO Items
          </ion-button>
          <ion-button shape="round" class="btn-ion bar-header1" [ngClass]="selectedtabtype ==5 ? 'active' : ''" value="5" (click)="ActionQuickLoad(5)">Comm Hub
          </ion-button>
          <!-- <ion-button shape="round" class="btn-ion bar-header1" value="6" (click)="ActionQuickLoad(6)">Prints
              </ion-button> -->
      </ion-segment>
  </ion-toolbar>

</ion-header>
<ion-content>
  <app-headerinfo></app-headerinfo>
  <app-arealayout></app-arealayout>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-list *ngIf="Version.LatestCoID > 0">
      <ion-row class="marginbot">
        <ion-col size="4" class="fontbold text-right">Sub Total:</ion-col>
        <ion-col size="8" class="fontbold text-right">
          <ion-row>
            <ion-col size="3" class="text-right paddzero">$ {{(Version.TotalAmt- Version.RoundOff) | number : '.2-2'}}
            </ion-col>
            <ion-col size="1" class="text-center paddzero">+</ion-col>
            <ion-col size="3" class="text-right paddzero" color="success">
              <span *ngIf="Version.FinalAmt > 0">$ {{(Version.FinalAmt - Version.TotalAmt) | number : '.2-2'}}</span>
              <span *ngIf="Version.FinalAmt == 0">$ {{Version.NetCoTotal | number : '.2-2'}}</span>
            </ion-col>
            <ion-col size="1" class="text-center paddzero">=</ion-col>
            <ion-col size="4" class="text-right paddzero">
              <span *ngIf="Version.FinalAmt > 0">$ {{(Version.FinalAmt) | number : '.2-2'}}</span>
              <span *ngIf="Version.FinalAmt == 0">$
                {{(Version.TotalAmt + Version.NetCoTotal) | number : '.2-2'}}&nbsp;</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="marginbot">
        <ion-col size="4" class="fontbold text-right">Discount:</ion-col>
        <ion-col size="8" class="fontbold text-right">
          <ion-row>
            <ion-col size="3" class="text-right paddzero" color="danger">($ {{(Version.DiscountAmt) | number : '.2-2'}})
            </ion-col>
            <ion-col size="1" class="text-center paddzero">+</ion-col>
            <ion-col size="3" class="text-right paddzero" color="danger">
              <span *ngIf="Version.FinalDiscAmt > 0">($
                {{Version.FinalDiscAmt - Version.DiscountAmt | number : '.2-2'}})</span>
              <span *ngIf="Version.FinalDiscAmt == 0">($ {{Version.NetCoDisc | number : '.2-2'}})</span>
            </ion-col>
            <ion-col size="1" class="text-center paddzero">=</ion-col>
            <ion-col size="4" class="text-right paddzero" color="danger">
              <span *ngIf="Version.FinalDiscAmt > 0">($ {{Version.FinalDiscAmt | number : '.2-2'}})</span>
              <span *ngIf="Version.FinalDiscAmt == 0">($
                {{(Version.DiscountAmt + Version.NetCoDisc) | number : '.2-2'}})&nbsp;</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="marginbot">
        <ion-col size="4" class="fontbold text-right">Sales Tax:</ion-col>
        <ion-col size="8" class="fontbold text-right">
          <ion-row>
            <ion-col size="3" class="text-right paddzero">$ {{Version.TaxAmt | number : '.2-2'}}</ion-col>
            <ion-col size="1" class="text-center paddzero">+</ion-col>
            <ion-col size="3" class="text-right paddzero" color="success">
              <span *ngIf="Version.FinalTaxAmt > 0">$ {{(Version.FinalTaxAmt - Version.TaxAmt) | number: '.2-2'}}</span>
              <span *ngIf="Version.FinalTaxAmt == 0">$ {{Version.NetCoTax | number: '.2-2'}}</span>
            </ion-col>
            <ion-col size="1" class="text-center paddzero">=</ion-col>
            <ion-col size="4" class="text-right paddzero">
              <span *ngIf="Version.FinalTaxAmt > 0">$ {{(Version.FinalTaxAmt) | number: '.2-2'}}&nbsp;</span>
              <span *ngIf="Version.FinalTaxAmt == 0">$ {{(Version.TaxAmt + Version.NetCoTax) | number: '.2-2'}}&nbsp;</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="marginbot">
        <ion-col size="4" class="fontbold text-right">Net Total:</ion-col>
        <ion-col size="8" class="fontbold text-right">
          <ion-row>
            <ion-col size="3" class="text-right paddzero">$
              {{((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt) - (Version.RefAmt + Version.RoundOff)) | number: '.2-2'}}
            </ion-col>
            <ion-col size="1" class="text-center paddzero">+</ion-col>
            <ion-col size="3" class="text-right paddzero" color="success">
              <span *ngIf="Version.FinalNetAmt > 0">$
                {{ (Version.FinalNetAmt - ((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt))) | number: '.2-2'}}</span>
              <span *ngIf="Version.FinalNetAmt == 0">$
                {{ ((Version.NetCoTotal + Version.NetCoTax) - Version.NetCoDisc) | number: '.2-2'}}</span>
            </ion-col>
            <ion-col size="1" class="text-center paddzero">=</ion-col>
            <ion-col size="4" class="text-right paddzero">
              <span *ngIf="Version.FinalNetAmt > 0">$
                {{ (Version.FinalNetAmt - (Version.RefAmt + Version.RoundOff)) | number: '.2-2'}}</span>
              <span *ngIf="Version.FinalNetAmt == 0">$
                {{ (((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt)) + ((Version.NetCoTotal + Version.NetCoTax) - Version.NetCoDisc) - (Version.RefAmt + Version.RoundOff)) | number: '.2-2'}}&nbsp;</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="marginbot">
        <ion-col size="4" class="fontbold text-right">Fee & Charge:</ion-col>
        <ion-col size="8" class="fontbold text-right">
          <ion-row>
            <ion-col size="3" class="text-right paddzero"> $ {{(Version.RefAmt + Version.RoundOff) | number: '.2-2'}}
            </ion-col>
            <ion-col size="1" class="text-center paddzero">+</ion-col>
            <ion-col size="3" class="text-right paddzero" color="success">
              <span *ngIf="FinalFeeAndRoundAmt > 0">$
                {{(FinalFeeAndRoundAmt - (Version.RefAmt + Version.RoundOff)) | number: '.2-2'}}</span>
              <span *ngIf="FinalFeeAndRoundAmt == 0">$ {{(Version.RefAmt + Version.RoundOff) | number: '.2-2'}}</span>
            </ion-col>
            <ion-col size="1" class="text-center paddzero">=</ion-col>
            <ion-col size="4" class="text-right paddzero">$ {{FinalFeeAndRoundAmt | number: '.2-2'}}&nbsp;</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="marginbot">
        <ion-col size="4" class="fontbold text-right">Final Total:</ion-col>
        <ion-col size="8" class="fontbold text-right">
          <ion-row>
            <ion-col size="3" class="text-right paddzero">$
              {{((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt)) | number: '.2-2'}}</ion-col>
            <ion-col size="1" class="text-center paddzero">+</ion-col>
            <ion-col size="3" class="text-right paddzero" color="success">
              <span *ngIf="Version.FinalNetAmt > 0">$
                {{ (Version.FinalNetAmt - ((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt))) | number: '.2-2'}}</span>
              <span *ngIf="Version.FinalNetAmt == 0">$
                {{ ((Version.NetCoTotal + Version.NetCoTax) - Version.NetCoDisc) | number: '.2-2'}}</span>
            </ion-col>
            <ion-col size="1" class="text-center paddzero">=</ion-col>
            <ion-col size="4" class="text-right paddzero">
              <span *ngIf="Version.FinalNetAmt > 0">$ {{ Version.FinalNetAmt | number: '.2-2'}}</span>
              <span *ngIf="Version.FinalNetAmt == 0">$
                {{ (((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt)) + ((Version.NetCoTotal + Version.NetCoTax) - Version.NetCoDisc)) | number: '.2-2'}}&nbsp;</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="marginbot">
        <ion-col size="4" class="fontbold text-right">Payment:</ion-col>
        <ion-col size="8" class="fontbold text-right">
          <ion-row>
            <ion-col size="3" class="text-right paddzero" color="danger">($ {{(Version.PmtReceived) | number: '.2-2'}})
            </ion-col>
            <ion-col size="1" class="text-center paddzero">+</ion-col>
            <ion-col size="3" class="text-right paddzero" color="danger">
              ($ 0.00)
            </ion-col>
            <ion-col size="1" class="text-center paddzero">=</ion-col>
            <ion-col size="4" class="text-right paddzero" color="danger">
              ($ {{(Version.PmtReceived) | number: '.2-2'}})&nbsp;
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="marginbot" *ngIf="Version.CreditAmount > 0">
        <ion-col size="4" class="fontbold text-right">Credits:</ion-col>
        <ion-col size="8" class="fontbold text-right">
          <ion-row>
            <ion-col size="3" class="text-right paddzero" color="danger">($ {{(Version.CreditAmount) | number: '.2-2'}})
            </ion-col>
            <ion-col size="1" class="text-center paddzero">+</ion-col>
            <ion-col size="3" class="text-right paddzero" color="danger">
              ($ 0.00)
            </ion-col>
            <ion-col size="1" class="text-center paddzero">=</ion-col>
            <ion-col size="4" class="text-right paddzero">
              $ {{(Version.CreditAmount) | number: '.2-2'}}&nbsp;
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="marginbot" *ngIf="Version.RefundAmount > 0">
        <ion-col size="4" class="fontbold text-right">Refunds:</ion-col>
        <ion-col size="8" class="fontbold text-right">
          <ion-row>
            <ion-col size="3" class="text-right paddzero" color="danger">($
              {{(quote.header.Version.RefundAmount) | number: '.2-2'}})</ion-col>
            <ion-col size="1" class="text-center paddzero">+</ion-col>
            <ion-col size="3" class="text-right paddzero" color="danger">
              ($ 0.00)
            </ion-col>
            <ion-col size="1" class="text-center paddzero">=</ion-col>
            <ion-col size="4" class="text-right paddzero">
              $ {{(quote.header.Version.RefundAmount) | number: '.2-2'}}&nbsp;
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="marginbot" *ngIf="Version.PmtReceived != 0 || Version.RefundAmount != 0 || Version.CreditAmount != 0">
        <ion-col size="4" class="fontbold text-right">Balance:</ion-col>
        <ion-col size="8" class="fontbold text-right">
          <ion-row>
            <ion-col size="3" class="text-right paddzero">$
              {{((((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt)) - (Version.PmtReceived - Version.RefundAmount)) - Version.CreditAmount) | number: '.2-2'}}
            </ion-col>
            <ion-col size="1" class="text-center paddzero">+</ion-col>
            <ion-col size="3" class="text-right paddzero">
              ($ 0.00)
            </ion-col>
            <ion-col size="1" class="text-center paddzero">=</ion-col>
            <ion-col size="4" class="text-right paddzero" color="danger">
              <span *ngIf="Version.FinalNetAmt > 0">$
                {{((Version.FinalNetAmt - (Version.PmtReceived - Version.RefundAmount)) - Version.CreditAmount) | number: '.2-2'}}</span>
              <span *ngIf="Version.FinalNetAmt == 0">$
                {{(((((Version.TotalAmt + Version.TaxAmt + Version.CreditAmount) - (Version.DiscountAmt)) + ((Version.NetCoTotal + Version.NetCoTax) - Version.NetCoDisc)) - (Version.PmtReceived- Version.RefundAmount))) | number: '.2-2'}}&nbsp;</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-toolbar>
</ion-footer>


