<ion-list class="no-margin border-btm" *ngIf="selectedtabtype == 1">
  <ion-row *ngFor="let sink of MaterialList,let i = index" class="ion-no-margin">
    <ion-col size="12" class="paddzero">
      <ion-row>
        <ion-col size="9">
          <span>{{i+1}}.</span>
          <span>
            {{ sink.Color }}-{{ sink.Depth }} - {{ sink.Finish }} -
            <span *ngIf="sink.PriceByID == 0" class="color-blue">(Sqft)</span>
            <span *ngIf="sink.PriceByID == 1" class="color-blue">(Slab)</span>
            <span *ngIf="sink.PriceByID == 2" class="color-blue">(Slab Wgt. Avg.)</span>
          </span>
        </ion-col>
        <ion-col size="3" class="text-right">
          <div *ngIf="sink.Amount == 0">
            <span *ngIf="sink.PriceByID == 0">$ {{ (sink.UnitPrice * sink.MatSqftWF) | number: '.2-2'}}</span>
            <span *ngIf="sink.PriceByID == 1">$ {{ (sink.UnitPrice * sink.SlabSqft) | number: '.2-2'}}</span>
            <span *ngIf="sink.PriceByID == 2">$ {{ (sink.WagPrice * sink.MatSqftWF) | number: '.2-2'}}</span>
          </div>
          <div *ngIf="sink.Amount != 0">$ {{ sink.Amount | number:'.2-2'}}</div>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col style="font-size:12px" size="12" class="paddzero">
      <ion-row>
        <ion-col>
          <span>Fin.Sf :
            <span *ngIf="sink.PriceByID != 0"><b>{{ sink.MatSqftWF | number : '.2-2'}}</b></span>
            <span *ngIf="sink.PriceByID == 0"><b>{{ sink.Sqft | number : '.2-2'}}</b></span>
          </span>,
          <span>Mat.Sf :
            <span *ngIf="(sink.PriceByID == 0)"><b>{{ sink.MatSqftWF | number: '.2-2'}}</b></span>
            <span *ngIf="(sink.PriceByID == 2 || sink.PriceByID == 1)"><b>{{ sink.SlabSqft | number: '.2-2'}}</b></span>
          </span>,
          <span>Res.Sf :
            <b>{{ sink.AllocatedSf | number: '.2-2'}}</b>
          </span>,
          <span>Price/Unit :
            <span *ngIf="sink.PriceByID == 0 || sink.PriceByID == 1"><b>{{ sink.UnitPrice | number: '.2-2'}}</b></span>
            <span *ngIf="sink.PriceByID == 2"><b>{{ sink.WagPrice | number: '.2-2'}}</b></span>
          </span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-list>
<ion-list class="ion-no-margin" *ngIf="selectedtabtype == 2">
  <ion-row *ngFor="let sink of SinkList,let i = index" class="paddzero">
    <ion-label *ngIf="SinkList.length > 0 && i == 0"><b>SINKS:</b></ion-label>
    <ion-col size=12 class="paddzero">
      <ion-row>
        <ion-col size="9">
          <span>{{i+1}}.</span>
          <span>
            <span>{{sink.Description}}</span>
            <span *ngIf="sink.ProductItemID == 0" style="color: red;">(No Match)</span>&nbsp;
          </span>@
          <span class="colorgreen">{{sink.NoOfUnits * sink.JobQty}}</span>
        </ion-col>
        <ion-col size="3" class="text-right">$ {{sink.Amount| number : '.2-2'}}</ion-col>
      </ion-row>
    </ion-col>
    <ion-col size=12 class="paddzero" style="font-size:12px">
      <span>Area : <b>{{sink.AreaName}}</b></span>,
      <span>Price/Unit : <b>{{sink.UnitPrice | number : '.2-2'}}</b></span>
    </ion-col>
   </ion-row>
   <ion-row *ngFor="let sink of FaucetList,let i = index" class="paddzero">
    <ion-label *ngIf="FaucetList.length > 0 && i == 0"><b>FAUCETS:</b></ion-label>
    <ion-col size=12 class="paddzero">
      <ion-row>
        <ion-col size="9">
          <span>{{i+1}}.</span>
          <span>
            <span>{{sink.Description}}</span>
            <span *ngIf="sink.ProductItemID == 0" style="color: red;">(No Match)</span>&nbsp;
          </span>@
          <span class="colorgreen">{{sink.NoOfUnits * sink.JobQty}}</span>
        </ion-col>
        <ion-col size="3" class="text-right">$ {{sink.Amount| number : '.2-2'}}</ion-col>
      </ion-row>
    </ion-col>
    <ion-col size=12 class="paddzero" style="font-size:12px">
      <span>Area : <b>{{sink.AreaName}}</b></span>,
      <span>Price/Unit : <b>{{sink.UnitPrice | number : '.2-2'}}</b></span>
    </ion-col>
   </ion-row>
   <ion-row *ngFor="let sink of ApplianceList,let i = index" class="paddzero">
    <ion-label *ngIf="ApplianceList.length > 0 && i == 0"><b>APPLIANCES:</b></ion-label>
    <ion-col size=12 class="paddzero">
      <ion-row>
        <ion-col size="9">
          <span>{{i+1}}.</span>
          <span>
            <span>{{sink.Description}}</span>
            <span *ngIf="sink.ProductItemID == 0" style="color: red;">(No Match)</span>&nbsp;
          </span>@
          <span class="colorgreen">{{sink.NoOfUnits * sink.JobQty}}</span>
        </ion-col>
        <ion-col size="3" class="text-right">$ {{sink.Amount| number : '.2-2'}}</ion-col>
      </ion-row>
    </ion-col>
    <ion-col size=12 class="paddzero" style="font-size:12px">
      <span>Area : <b>{{sink.AreaName}}</b></span>,
      <span>Price/Unit : <b>{{sink.UnitPrice | number : '.2-2'}}</b></span>
    </ion-col>
   </ion-row>
   <ion-row *ngFor="let sink of ConsumableList,let i = index" class="paddzero">
    <ion-label *ngIf="ConsumableList.length > 0 && i == 0"><b>CONSUMABLES:</b></ion-label>
    <ion-col size=12 class="paddzero">
      <ion-row>
        <ion-col size="9">
          <span>{{i+1}}.</span>
          <span>
            <span>{{sink.Description}}</span>
            <span *ngIf="sink.ProductItemID == 0" style="color: red;">(No Match)</span>&nbsp;
          </span>@
          <span class="colorgreen">{{sink.NoOfUnits * sink.JobQty}}</span>
        </ion-col>
        <ion-col size="3" class="text-right">$ {{sink.Amount| number : '.2-2'}}</ion-col>
      </ion-row>
    </ion-col>
    <ion-col size=12 class="paddzero" style="font-size:12px">
      <span>Area : <b>{{sink.AreaName}}</b></span>,
      <span>Price/Unit : <b>{{sink.UnitPrice | number : '.2-2'}}</b></span>
    </ion-col>
   </ion-row>
   <ion-row *ngFor="let sink of ToolList,let i = index" class="paddzero">
    <ion-label *ngIf="ToolList.length > 0 && i == 0"><b>TOOLS:</b></ion-label>
    <ion-col size=12 class="paddzero">
      <ion-row>
        <ion-col size="9">
          <span>{{i+1}}.</span>
          <span>
            <span>{{sink.Description}}</span>
            <span *ngIf="sink.ProductItemID == 0" style="color: red;">(No Match)</span>&nbsp;
          </span>@
          <span class="colorgreen">{{sink.NoOfUnits * sink.JobQty}}</span>
        </ion-col>
        <ion-col size="3" class="text-right">$ {{sink.Amount| number : '.2-2'}}</ion-col>
      </ion-row>
    </ion-col>
    <ion-col size=12 class="paddzero" style="font-size:12px">
      <span>Area : <b>{{sink.AreaName}}</b></span>,
      <span>Price/Unit : <b>{{sink.UnitPrice | number : '.2-2'}}</b></span>
    </ion-col>
   </ion-row>
</ion-list>
<ion-list class="ion-no-margin" *ngIf="selectedtabtype == 3">
   <ion-row *ngFor="let sink of OtherList,let i = index" class="paddzero">
    <ion-label *ngIf="OtherList.length > 0 && i == 0"><b>ADDONS:</b></ion-label>
    <ion-col size=12 class="paddzero">
      <ion-row>
        <ion-col size="9">
          <span>{{i+1}}.</span>
          <span>
            <span>{{sink.Description}}</span>
            <span *ngIf="sink.ProductItemID == 0" style="color: red;">(No Match)</span>&nbsp;
          </span>@
          <span class="colorgreen">{{sink.NoOfUnits * sink.Qty}}</span>
        </ion-col>
        <ion-col size="3" class="text-right">$ {{sink.Amount| number : '.2-2'}}</ion-col>
      </ion-row>
    </ion-col>
    <ion-col size=12 class="paddzero" style="font-size:12px">
      <span>Area : <b>{{sink.AreaName}}</b></span>,
      <span>Price/Unit : <b>{{sink.UnitPrice | number : '.2-2'}}</b></span>
    </ion-col>
   </ion-row>
</ion-list>

<ion-toolbar class="tab-btm">
  <ion-tabs style="height:45px">
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button (click)="ActionLoadTabInfo(1)">
        <img src="assets/img/MaterialY.jpg" alt="your image" class="imghw">
        <ion-label class="iconsty">Material</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="ActionLoadTabInfo(2)">
        <img src="assets/img/kitchen-sink.png" alt="your image" class="imghw">
        <ion-label class="iconsty">Sinks</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="ActionLoadTabInfo(3)">
        <img src="assets/img/addons.png" alt="your image" class="imghw">
        <ion-label class="iconsty">Addons</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>