.liststy {
    padding-left:10px;
    width:100%;
    font-size:14px;
}
.margin-bottom6 {
    margin-bottom: 6px;
    margin-top: 0px;
 }
 .colorgreen {
    color: green;
}
.iconsty {
    color: royalblue;
    font-size: 12px;
}
.imghw {
    width:30px;
    height:30px;
}