.rowlineitem{
    margin-bottom: 3px;
   // border-bottom: 1px solid #ccc;
}
.marginbot {
    margin-bottom: -4px;
}
.circlefont{
    border-radius: 100%;
    line-height:15px;
}
.btninfo{
    border:1px solid #ddd;
    background-color:lightblue;
    padding:5px;
    border-radius: 5px;
}
.colorblue {
    color:#1c84c6;
}
.textfont14 {
    font-weight: 600;
    font-size: 14px;
}
.colorgreen {
    color: green;
}
.whitespc {
    white-space: nowrap;
}
.imghw {
    width:25px;
    height:25px;
    vertical-align: middle;
}
