<ion-row>
  <ion-col size="4">
    <ion-select class="btninfo"
      interface="popover" [compareWith]="compareWith" value="{{MyDefaultYearIdValue}}">
      <ion-select-option *ngFor="let area of arealist" value="{{area.id}}">{{area.name}}</ion-select-option>
    </ion-select>
  </ion-col>
  <ion-col size="4">
    <ion-select class="btninfo"
      interface="popover" [compareWith]="compareWith" value="{{MyDefaultYearIdValue}}">
      <ion-select-option *ngFor="let part of partlist" value="{{part.id}}">{{part.name}}</ion-select-option>
    </ion-select>
  </ion-col>
  <ion-col class="text-right">
    <ion-button size="small" (click)="ActionAddArea()">
      Add Area
    </ion-button>
  </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        <img src="assets/img/area.png" alt="" style="width:350px;height:400px;">
    </ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:mediumpurple;">M</ion-col>
  <ion-col (click)="ActionCreateMaterial()"> Niva - 3 CM @22.92SF </ion-col>
  <ion-col size="3" class="text-right">$ 555.71</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:mediumpurple;">S</ion-col>
  <ion-col (click)="ActionCreateMeasurement()">Bar Top (84 * 24) @14.00SF</ion-col>
  <ion-col size="3" class="text-right">-</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:mediumpurple;">B</ion-col>
  <ion-col (click)="ActionCreateSplash()">Backsplash 4" @1.33 SF</ion-col>
  <ion-col size="3" class="text-right">-</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:olivedrab;">E</ion-col>
  <ion-col (click)="ActionCreateEdge()">Chiseled  Edge @0.11 LF</ion-col>
  <ion-col size="3" class="text-right">$ 2.64</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:rgb(238, 162, 22);">S</ion-col>
  <ion-col (click)="ActionCreateSink()">Porcelain Undermount @1.00</ion-col>
  <ion-col size="3" class="text-right">$ 60.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:rgb(163, 206, 83);">F</ion-col>
  <ion-col (click)="ActionCreateFaucets()">1B 258-BN Lav Faucet @1.00</ion-col>
  <ion-col size="3" class="text-right">$ 0.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:lightseagreen;">Sc</ion-col>
  <ion-col (click)="ActionCreateCutout(1)">Island/Bar/Utility @1.00</ion-col>
  <ion-col size="3" class="text-right">$ 150.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:lightseagreen;">Ac</ion-col>
  <ion-col (click)="ActionCreateCutout(2)">Bath Tub Cutout  @1.00</ion-col>
  <ion-col size="3" class="text-right">$ 300.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:lightseagreen;">Oc</ion-col>
  <ion-col (click)="ActionCreateCutout(3)">Wire Grommet: 3" @1.00</ion-col>
  <ion-col size="3" class="text-right">$ 25.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:mediumpurple;">Fa</ion-col>
  <ion-col (click)="ActionCreateTemplate(1)">Fabrication @15.33</ion-col>
  <ion-col size="3" class="text-right">$ 0.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:mediumpurple;">T</ion-col>
  <ion-col (click)="ActionCreateTemplate(2)">Template @15.33</ion-col>
  <ion-col size="3" class="text-right">$ 0.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:mediumpurple;">I</ion-col>
  <ion-col (click)="ActionCreateTemplate(3)">Install @15.33</ion-col>
  <ion-col size="3" class="text-right">$ 0.00</ion-col>
</ion-row>

<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:rgb(238, 162, 22);">Ap</ion-col>
  <ion-col (click)="ActionCreateAppliance()">1007 Strainer Basket @1.00</ion-col>
  <ion-col size="3" class="text-right">$ 0.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
    <ion-col size="1" class="circlefont text-center color-white" style="background-color:rgb(238, 162, 22);">Ao</ion-col>
    <ion-col (click)="ActionCreateAddon()">Altima, Pure White 0190 @1.00</ion-col>
    <ion-col size="3" class="text-right">$ 28.00</ion-col>
  </ion-row>
<!-- <ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:rgb(238, 162, 22);">C</ion-col>
  <ion-col (click)="ActionCreateCarpet()">1007 Strainer Basket @3.00</ion-col>
  <ion-col size="3" class="text-right">$ 76.50</ion-col>
</ion-row> -->
<ion-row class="rowlineitem">
    <ion-col size="1" class="circlefont text-center color-white" style="background-color:rgb(238, 162, 22);">T</ion-col>
    <ion-col (click)="ActionCreateTile()">Antalya Grey, Box @1.00</ion-col>
    <ion-col size="3" class="text-right">$ 0.00</ion-col>
  </ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:rgb(238, 162, 22);">Ca</ion-col>
  <ion-col (click)="ActionCreateCabinet()">Knobs Oil Rubbed Bronze @1.00</ion-col>
  <ion-col size="3" class="text-right">$ 0.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:rgb(238, 162, 22);">Co</ion-col>
  <ion-col (click)="ActionCreateConsumable()">Gallon AW 46 Oil @1.00</ion-col>
  <ion-col size="3" class="text-right">$ 100.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
  <ion-col size="1" class="circlefont text-center color-white" style="background-color:rgb(238, 162, 22);">T</ion-col>
  <ion-col (click)="ActionCreateTool()">Tool @1.00</ion-col>
  <ion-col size="3" class="text-right">$ 0.00</ion-col>
</ion-row>
<ion-row class="rowlineitem">
    <ion-col size="1" class="circlefont text-center color-white" style="background-color:rgb(238, 162, 22);">Ci</ion-col>
    <ion-col (click)="ActionCreateCi()">Responsible for elec. reconnection</ion-col>
    <ion-col size="3" class="text-right">-</ion-col>
  </ion-row>
<ion-row class="marginbot">
    <ion-col size="4"></ion-col>
    <ion-col size="4" class="fontbold text-right">Sub Total:</ion-col>
    <ion-col size="4" class="fontbold text-right">$ 1503.35</ion-col>
</ion-row>
<ion-row class="marginbot">
    <ion-col size="4"></ion-col>
    <ion-col size="4" class="fontbold text-right" (click)="ActionDiscSelect()"><u>Discount:</u></ion-col>
    <ion-col size="4" class="fontbold text-right"><span style="color:red;">($ 0.00)</span></ion-col>
</ion-row>
<ion-row class="marginbot">
    <ion-col size="4"></ion-col>
    <ion-col size="4" class="fontbold text-right" (click)="ActionTaxSelect()"><u>Sales Tax:</u></ion-col>
    <ion-col size="4" class="fontbold text-right">$ 0.00</ion-col>
</ion-row>
<ion-row class="marginbot">
    <ion-col size="4"></ion-col>
    <ion-col size="4" class="fontbold text-right">Net Total:</ion-col>
    <ion-col size="4" class="fontbold text-right">$ 1503.35</ion-col>
</ion-row>
<ion-row class="marginbot">
    <ion-col size="4"></ion-col>
    <ion-col size="4" class="fontbold text-right" (click)="ActionFeeSelect()"><u>Fee & Charge:</u></ion-col>
    <ion-col size="4" class="fontbold text-right">$ 0.00</ion-col>
</ion-row>
<ion-row class="marginbot">
    <ion-col size="4"></ion-col>
    <ion-col size="4" class="fontbold text-right">Final Total:</ion-col>
    <ion-col size="4" class="fontbold text-right">$ 1503.35</ion-col>
</ion-row>
<ion-row class="marginbot">
    <ion-col size="4"></ion-col>
    <ion-col size="4" class="fontbold text-right">Payment:</ion-col>
    <ion-col size="4" class="fontbold text-right"><span style="color:red;">($ 0.00)</span></ion-col>
</ion-row>