.borderbot{
    --inner-border-width: 0px 0px 0px 0px;
}
.fontsty{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 20px;
  font-weight: 400;
  color:#3c4043;
  word-wrap: break-word;
}
.imgsty {
    width:20px;
    height:20px;
}
.text2 {
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:#3c4043;
}
.font12 {
    font-size: 12px;
}