<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button color="danger" type="button" (click)="ActionClose(false)">
        Close
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary" type="submit" (click)="ActionOpenAudit()">
        Audit
      </ion-button>
      <ion-button color="secondary" type="submit" (click)="ActionClose(true)">
        Edit
      </ion-button>
    </ion-buttons>
    <ion-title align="center">{{actInfo.ActTypeName}}</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="ActionClose(false)">
        Close
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="ActionClose(true)">
        Edit
      </ion-button>
    </ion-buttons>
    <ion-title>{{actInfo.ActTypeName}}</ion-title>
    <ion-icon name="create" slot="end" class="fontmedium" (click)="ActionClose(true)"></ion-icon>
    <ion-icon name="close" slot="end" class="fontlarge" (click)="ActionClose(false)"></ion-icon>
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-item>
      <ion-label>
        <h1>{{actInfo.Version.Header.QuoteNo}} - {{actInfo.Version.Header.QuoteName}}</h1>
        <h3>
          {{actInfo.SchStartTime | date:'MMM dd'}} &nbsp; {{actInfo.STime}} - {{actInfo.ETime}}
        </h3>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-row>
    <ion-col size="1">
      <ion-icon name="pin" class="font20"></ion-icon>
    </ion-col>
    <ion-col size="10">
      {{actInfo.JobFullAddres}}
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col size="1">
    <ion-icon name="contact" class="font20"></ion-icon>
  </ion-col>
  <ion-col size="10">
    {{actInfo.CustName}}
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col size="1">
    <ion-icon name="person" class="font20"></ion-icon>
  </ion-col>
  <ion-col size="10">
    {{actInfo.SalesPerName}}
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="1">
    <img src="{{actInfo.Imageurl}}" alt="img" class="imgsty">
  </ion-col>
  <ion-col size="10">
    {{actInfo.StatusName}}
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="1">
    <ion-icon name="people" class="font20"></ion-icon>
  </ion-col>
  <ion-col size="10">
    {{actInfo.ResourceList.length}} &nbsp; Resource'  
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="1">
   
  </ion-col>
  <ion-col size="10">
    <ion-label *ngFor="let resource of actInfo.ResourceList;let i = index">
      <h3>{{resource.ResourceName}}</h3>
      <p>
        <span *ngIf="resource.EmpMail!= null && resource.EmpMail != ''">
          <ion-icon name="mail"></ion-icon>&nbsp;{{resource.EmpMail}}
        </span><span *ngIf="resource.EmpPhone!= null && resource.EmpPhone != ''">,</span>
        <span *ngIf="resource.EmpPhone!= null && resource.EmpPhone != ''">
          <ion-icon name="call"></ion-icon>&nbsp;{{resource.EmpPhone}}</span>
      </p>
    </ion-label>
  </ion-col>
</ion-row>
<ion-row *ngIf="actInfo.Memo != null && actInfo.Memo != ''">
  <ion-col size="1">
    <ion-icon ios="ios-list" md="md-list" class="font20"></ion-icon>
  </ion-col>
  <ion-col size="10">
    {{actInfo.Memo}} 
  </ion-col>
</ion-row>


<ion-row>
  <ion-col size="1">
    <ion-icon ios="ios-list" md="md-list" class="font20"></ion-icon>
  </ion-col>
  <ion-col size="10">
    <ion-label *ngFor="let part of actInfo.QuotePartList;">
      <h3>{{part.AreaName}} - Part{{part.NewSrNo}} - {{part.JobSqft}} SF</h3>
    </ion-label>
  </ion-col> 
</ion-row>

</ion-list>
  
</ion-content>
<ion-footer *ngIf="calAccess" >
  <ion-toolbar color="light">
    <ion-title  color="danger" (click)="ActionDeleteEvent()">Delete Event</ion-title>
  </ion-toolbar>
</ion-footer>