.marbot {
    margin-bottom: -18px;
 }
 .margin-bottom6 {
    margin-bottom: 6px;
    margin-top: 0px;
 }
 .alertstar{  
   width: 40px;
   margin: 0 !important;
   --background: url('/assets/img/Checklist-icon.png');
   background-repeat: no-repeat;
   background-position: center;
   color:white !important;
   }
   
   