<div style="height: 550px;">
<ion-header>
  <ion-toolbar class="toolbarsty">
    <ion-title class="font-size15" style="padding-left: 5px;">Customer Details</ion-title>
    <ion-button slot="end" color="danger" size="small" (click)="ActionToClosePop(false)" class="buttonsty">X
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item *ngFor="let customer of customerList" (click)="ActionPopulateParentInfo(customer)">
    <div *ngIf="customer.TypeID != 4">
      <b class="labelfont">{{customer.SelName }} {{customer.ShowHyphen}}{{customer.Name}}</b>
      <div class="smallfont2 color-blue">{{customer.CustType}}</div>
    </div>
    <div *ngIf="customer.TypeID == 4">
      <b class="labelfont">{{customer.Name}}</b>
      <div class="smallfont2 color-blue">{{customer.CustType}}</div>
    </div>   
  </ion-item>
  <div *ngIf="customerList.length == 0" class="color-red text-center">
    --NO RECORDS FOUND--
  </div>
</ion-list>
</div>