<form #form="ngForm" (ngSubmit)="ActionQuoteSubmit(form)" class="dis-content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button color="danger" type="button" (click)="ActionCloseCreateQuote(false)">
          Cancel
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <!-- <ion-button color="primary" type="submit">
          Save
        </ion-button> -->
      </ion-buttons>
      <ion-title align="center">
        Create Quote
      </ion-title>
    </ion-toolbar>
   
  </ion-header>
  
  <ion-content>
    <div *ngIf="Progress == 0">
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Lead Type<span class="requiredField">*</span>
        </ion-label>
        <ion-select [(ngModel)]="header.LeadInfo.LeadTypeID" name="LeadTypeID" #LeadTypeID="ngModel" class="labelfont"
          required>
          <ion-select-option *ngFor="let p of leadTypes" [value]="p.ID">{{p.Name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="form.submitted && LeadTypeID.invalid" class="invalid-feedback">
        <div *ngIf="LeadTypeID.errors.required" class="color-red">Laed Type is required</div>
      </div>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Hear About us?</ion-label>
        <ion-select [(ngModel)]="header.LeadInfo.SourceID" name="SourceID" class="labelfont">
          <ion-select-option *ngFor="let p of leadHearAbout" [value]="p.ID">{{p.Name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Account Types<span
            class="requiredField">*</span>
        </ion-label>
        <ion-select name="CustTypeID" #CustTypeID="ngModel" class="labelfont" [selectedText]="CustType" [(ngModel)]="header.Version.CustTypeID" (ionChange)="onChange(CustTypeID.value)" required>
          <ion-select-option *ngFor="let p of customerTypes" [value]="p.ID">{{p.Name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="form.submitted && CustTypeID.invalid" class="invalid-feedback">
        <div *ngIf="CustTypeID.errors.required" class="color-red">Account Type is required</div>
      </div>
    </div>


    <div *ngIf="Progress == 1">
      <div *ngIf="header.Version.CustTypeID != 4 && header.Version.CustTypeID > 0">
        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary">Account<span class="requiredField">*</span>
          </ion-label>
          <ion-input [(ngModel)]="header.Version.AccName"  name="AccName" #AccName="ngModel"
            (keyup.enter)="ActionShowNewCustomerList($event,1,header.Version.AccName,1)" required></ion-input>
          <ion-icon slot="end" class="martop35" name="arrow-dropdown"
            (click)="ActionShowNewCustomerList($event,2,header.Version.AccName,1)"></ion-icon>
          <ion-icon slot="end" class="martop35" name="search"
            (click)="ActionShowNewCustomerList($event,1,header.Version.AccName,1)"></ion-icon>
        </ion-item>
        <div *ngIf="form.submitted && AccName.invalid" class="invalid-feedback">
          <div *ngIf="AccName.errors.required" class="color-red">Account is required</div>
        </div>
        <ion-item>
          <ion-checkbox color="dark" name="IsCustRetail" [(ngModel)]="header.Version.IsCustRetail"
            checked="header.Version.IsCustRetail ==1"></ion-checkbox>
          <ion-label>Retail</ion-label>
        </ion-item>

      </div>
      <div *ngIf="header.Version.CustTypeID == 4 || header.Version.IsCustRetail == 1">
        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary">Customer<span class="requiredField">*</span>
          </ion-label>
          <ion-input [(ngModel)]="header.Version.Customer.Name"  name="Name" #Name="ngModel" type="text"
            class="labelfont" (keyup.enter)="ActionShowNewCustomerList($event,1,header.Version.Customer.Name,0)"
            required></ion-input>
          <ion-icon slot="end" class="martop35" name="arrow-dropdown"
            (click)="ActionShowNewCustomerList($event,2,header.Version.Customer.Name,0)"></ion-icon>
          <ion-icon slot="end" class="martop35" name="search"
            (click)="ActionShowNewCustomerList($event,1,header.Version.Customer.Name,0)"></ion-icon>
        </ion-item>
        <div *ngIf="form.submitted && Name.invalid" class="invalid-feedback">
          <div *ngIf="Name.errors.required" class="color-red">Customer Name is required</div>
        </div>

        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary">First Name</ion-label>
          <ion-input [(ngModel)]="header.Version.Customer.FirstName" name="FirstName" type="text" class="labelfont">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary">Last Name</ion-label>
          <ion-input [(ngModel)]="header.Version.Customer.LastName" name="LastName" type="text" class="labelfont">
          </ion-input>
        </ion-item>


        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary">Phone</ion-label>
          <ion-input type="text" [(ngModel)]="header.Version.Customer.PPhone" name="PPhone" class="labelfont" maxlength="10">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary">Email</ion-label>
          <ion-input type="text" [(ngModel)]="header.Version.Customer.Email" name="Email" class="labelfont"></ion-input>
        </ion-item>

        <div *ngIf="header.IsCheck == 0">
          <ion-item>
            <ion-label class="labelfont" position="floating" color="primary">Customer Address1</ion-label>
            <ion-input type="text" [(ngModel)]="header.Version.Customer.BillAddress" name="BillAddress" class="labelfont">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="labelfont" position="floating" color="primary">Customer Address2</ion-label>
            <ion-input type="text" [(ngModel)]="header.Version.Customer.BillAddress1" name="BillAddress1" class="labelfont">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="labelfont" position="floating" color="primary">Customer City<span
                class="requiredField">*</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="header.Version.Customer.BillCity" name="BillCity" #City="ngModel" class="labelfont"
              required>
            </ion-input>
          </ion-item>
          <div *ngIf="form.submitted && City.invalid" class="invalid-feedback">
            <div *ngIf="City.errors.required" class="color-red">City is required</div>
          </div>

          <ion-item>
            <ion-label class="labelfont" position="floating" color="primary">Customer State<span
                class="requiredField">*</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="header.Version.Customer.BillState" name="BillState" #State="ngModel"
              class="labelfont" required>
            </ion-input>
          </ion-item>
          <div *ngIf="form.submitted && State.invalid" class="invalid-feedback">
            <div *ngIf="State.errors.required" class="color-red">State is required</div>
          </div>

          <ion-item>
            <ion-label class="labelfont" position="floating" color="primary">Customer ZipCode</ion-label>
            <ion-input type="text" [(ngModel)]="header.Version.Customer.BillZipCode" name="BillZipCode" class="labelfont">
            </ion-input>
          </ion-item>
        </div>

      </div>

      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Project Type
        </ion-label>
        <ion-select [(ngModel)]="header.ProjectTypeID" name="ProjectTypeID" #ProjectTypeID="ngModel" class="labelfont" required>
          <ion-select-option *ngFor="let p of projectTypes" raedonly="readonly" [value]="p.ID">{{p.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Sales Rep<span class="requiredField">*</span>
        </ion-label>
        <ion-select [(ngModel)]="header.SalesPersonID" name="SalesPersonID" #SalesPersonID="ngModel" class="labelfont"
          class="labelfont" required>
          <ion-select-option *ngFor="let s of salesPersonsList" [value]="s.ResourceID">{{s.ResourceName}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="form.submitted && SalesPersonID.invalid" class="invalid-feedback">
        <div *ngIf="SalesPersonID.errors.required" class="color-red">Sales Person is required</div>
      </div>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Price Book<span class="requiredField">*</span>
        </ion-label>
        <ion-select [(ngModel)]="header.Version.PriceListID" name="PriceListID" #PriceListID="ngModel" class="labelfont"
          required>
          <ion-select-option *ngFor="let p of priceList" [value]="p.RefID">{{p.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="form.submitted && PriceListID.invalid" class="invalid-feedback">
        <div *ngIf="PriceListID.errors.required" class="color-red">Price List is required</div>
      </div>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Estimator</ion-label>
        <ion-select [(ngModel)]="header.EstimatorID" name="EstimatorID" class="labelfont">
          <ion-select-option *ngFor="let p of estimatorsList" [value]="p.ResourceID">{{p.ResourceName}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Project Manager</ion-label>
        <ion-select [(ngModel)]="header.ProjectManagerID" name="ProjectManagerID" class="labelfont">
          <ion-select-option *ngFor="let p of projectManagersList" [value]="p.ResourceID">{{p.ResourceName}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Production Type</ion-label>
        <ion-select [(ngModel)]="header.Version.JobTypeID" name="JobTypeID" class="labelfont">
          <ion-select-option *ngFor="let p of productionTypeList" [value]="p.ID">{{p.Name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col size="5" class="paddzero flex">
            <ion-checkbox color="dark" [(ngModel)]="header.Version.Financed" name="Financed" class="nomargin">
            </ion-checkbox>&nbsp;&nbsp;
            <ion-label color="primary" class="paddleft5">Is Financed</ion-label>
          </ion-col>
          <ion-col size="7" class="paddzero flex">
            <ion-checkbox color="dark" name="IsCheck" class="nomargin" [(ngModel)]="header.IsCheck"
              (ionChange)="isSameChange($event)">
            </ion-checkbox>&nbsp;&nbsp;
            <ion-label color="primary" class="paddleft5">Same As Job Address</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <div *ngIf="Progress == 2">
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Job Name<span class="requiredField">*</span>
        </ion-label>
        <ion-input type="text" [(ngModel)]="header.QuoteName" name="QuoteName" #QuoteName="ngModel" class="labelfont"
          required></ion-input>
      </ion-item>
      <div *ngIf="form.submitted && QuoteName.invalid" class="invalid-feedback">
        <div *ngIf="QuoteName.errors.required" class="color-red">Job Name is required</div>
      </div>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Job Address1</ion-label>
        <ion-input type="text" [(ngModel)]="header.Address1" name="Address1" class="labelfont"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Job Address2</ion-label>
        <ion-input type="text" [(ngModel)]="header.Address2" name="Address2" class="labelfont"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Job City<span class="requiredField">*</span>
        </ion-label>
        <ion-input type="text" [(ngModel)]="header.City" name="City" #City="ngModel" class="labelfont" required>
        </ion-input>
      </ion-item>
      <div *ngIf="form.submitted && City.invalid" class="invalid-feedback">
        <div *ngIf="City.errors.required" class="color-red">City is required</div>
      </div>

      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Job State<span class="requiredField">*</span>
        </ion-label>
        <ion-input type="text" [(ngModel)]="header.State" name="State" #State="ngModel" class="labelfont" required>
        </ion-input>
      </ion-item>
      <div *ngIf="form.submitted && State.invalid" class="invalid-feedback">
        <div *ngIf="State.errors.required" class="color-red">State is required</div>
      </div>

      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Job ZipCode</ion-label>
        <ion-input type="text" [(ngModel)]="header.Zipcode" name="Zipcode" class="labelfont"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Year Built</ion-label>
        <ion-input type="text" [(ngModel)]="header.YearBuilt" name="YearBuilt" class="labelfont"></ion-input>
      </ion-item>
    </div>

  </ion-content>
  <ion-footer style="padding-right: 5px;background: aliceblue;">

    <ion-segment style="height: 44px;">
      <ion-segment-button checked (click)="changeProgress(0)">
        <ion-icon name="quote" class="imghw1 paddzero"></ion-icon>
        <ion-label [ngClass]="{'txt-color' : Progress == 0 }" class="font10 paddzero">Lead/Quote</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="changeProgress(1)">
        <ion-icon ios="ios-people" md="md-people"></ion-icon>
        <ion-label [ngClass]="{'txt-color' : Progress == 1 }" class="font10 paddzero">Customer</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="changeProgress(2)">
        <ion-icon ios="ios-briefcase" md="md-briefcase"></ion-icon>
        <ion-label [ngClass]="{'txt-color' : Progress == 2 }" class="font10 paddzero">Job</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-footer>
</form>
