
<ion-header>
  <ion-toolbar style="top:5px;">
  <ion-searchbar [(ngModel)]="queryString" id="search" placeholder="Search by Name"></ion-searchbar>
  <ion-button slot="end"  size="small" (click)="ActionRunFilter()" >Select</ion-button>
    <ion-button slot="end" color="danger" size="small" (click)="ActionToClosePop(false)" >X</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-row style="height:360px">
<ion-col size="12" *ngIf="result.FiterTypeID == 1">
<!-- <ion-item style="color: darkblue;font-weight:bold">
Activity Types
</ion-item>  -->
<!-- [ngClass]="{ 'activeBgColor': item.ID == result.ActTypeId }" -->
<ion-item *ngFor="let item of ActTypeList | FilterPipe: queryString : searchableList"  >
  <ion-label style="margin: 0px;padding: 10px 0px 10px 0px;" >
  <ion-checkbox style="width:30px" color="dark"  [(ngModel)]="item.Check" checked="item.Check ==1"></ion-checkbox> 
  {{item.Name}}
</ion-label>
</ion-item>
</ion-col>
<ion-col size="12" *ngIf ="result.FiterTypeID == 2">
<ion-item style="color: darkblue;font-weight:bold">
Resources
</ion-item>
<ion-item *ngFor="let resource of ResourceList | FilterPipe: queryString : searchableList">
<ion-checkbox style="width:30px" color="dark"  [(ngModel)]="resource.Check" checked="resource.Check ==1"></ion-checkbox> 
{{resource.ResourceName}}
</ion-item>
</ion-col>



<ion-col size="12" *ngIf ="result.FiterTypeID == 3">
  <ion-item style="color: darkblue;font-weight:bold">
  Resources
  </ion-item>
  <ion-item *ngFor="let status of StatusList | FilterPipe: queryString : searchableList">
  <ion-checkbox style="width:30px" color="dark"  [(ngModel)]="status.Check" checked="status.Check ==1"></ion-checkbox> 
  {{status.Name}}
  </ion-item>
  </ion-col>
</ion-row>
</ion-content>