
<ion-list *ngFor="let area of arealist" class="no-margin border-btm">
  <ion-row  (click)="ActionAreaSelect(area.ID)">
    <ion-col size="9">{{area.Name}} (#{{area.NoOfUnits}})</ion-col>
    <!-- <ion-col size="2">#P - {{1}}</ion-col> -->
    <ion-col size="3" class="text-right">$ {{area.FinalAreaAmt}}</ion-col>
  </ion-row>
  <ion-row style="font-size:12px">
    <ion-col>
      <span>Mat : <b>{{area.MaterialSqft}}SF</b></span>,
      <span>Fab : <b>{{area.FabLaborSqft}}SF</b></span>,
      <span>Edg : <b>{{area.EdgeLnft}}LF</b></span>,
      <span>Cut : <b>{{area.CutOutLnft}}LF</b></span>,
      <span>Snk : <b>{{area.SinkQty}}</b></span>
    </ion-col>
  </ion-row>
</ion-list>