<!-- <agm-map [latitude]='latitude' [longitude]='longitude' 
  >
  <agm-marker
       
        [latitude]="latitude"
        [longitude]="longitude"
        
      >
      </agm-marker>
</agm-map> -->
<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button color="danger" type="button" (click)="ActionCloseMap(false)">
          Cancel
        </ion-button>
      </ion-buttons>
      <ion-title align="center">
          Map
      </ion-title>
    </ion-toolbar>
  <!-- <ion-toolbar>
      <ion-title class="titleheader">Job Info</ion-title>
      <ion-button slot="end" color="success" size="small" (click)="ActionSaveHeader(true)">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionCloseJobEdit(false)">X</ion-button>
  </ion-toolbar> -->
</ion-header>
<ion-content>
<div id="map_canvas"></div>
</ion-content>