
  <form #form="ngForm" (ngSubmit)="ActionSaveActivity(form)" class="dis-content">
    <ion-header>
      <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-button color="danger" type="button" (click)="ActionCloseActivity(false)">
              Close
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button color="primary"  *ngIf="calAccess" type="submit">
              Save
            </ion-button>
          </ion-buttons>
          <ion-title align="center">Activity Details</ion-title>
        </ion-toolbar>
      <ion-toolbar>
        <ion-item *ngIf="actinfo.ID > 0">
          <ion-label>
            <h2>{{actinfo.QuoteNo}} - {{actinfo.JobName}}</h2>
            <h3>{{actinfo.CustName}}</h3>
            <h3>{{actinfo.SalesPerName}}</h3>
            <p>
              {{actinfo.JobFullAddres}}
            </p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="actinfo.ID == 0">
          <ion-input type="text" placeholder="JobNo and Name"  [(ngModel)]="actinfo.JobName" name="JobName"  #JobName="ngModel" required></ion-input>
          <ion-icon slot="end"  name="arrow-dropdown"
          (click)="ActionApprovedJobList('',2)"></ion-icon>
        <ion-icon slot="end" name="search"
          (click)="ActionApprovedJobList(actinfo.JobName,1)"></ion-icon>
          <div *ngIf="form.submitted && JobName.invalid" class="invalid-feedback">
            <div *ngIf="JobName.errors.required" class="color-red">Select Job</div>
        </div>
        </ion-item>
        <div *ngIf="form.submitted && JobName.invalid" class="invalid-feedback padd-Left">
          <div *ngIf="JobName.errors.required" class="color-red">Select Job</div>
      </div>
        <ion-item *ngIf="actinfo.ID == 0 && actinfo.JobName != '' && actinfo.JobName != null">
          <ion-label>
            <p>
              {{actinfo.JobFullAddres}}
            </p>
          </ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-header>
<ion-content>
<ion-list class="bg-lightgrey" >
  <ion-item>
    <ion-label floating>Phase<span class="requiredField">*:</span></ion-label>
    <ion-select (ngModelChange)="ActionChangePhase($event)" [(ngModel)]="actinfo.PhaseID" name="PhaseID" #PhaseID="ngModel" required [selectedText]="actinfo.PhaseName">
      <ion-select-option *ngFor="let c of phaseList" [value]="c.ID">{{c.Name}}</ion-select-option>
    </ion-select>
    <div *ngIf="form.submitted && PhaseID.invalid" class="invalid-feedback">
      <div *ngIf="PhaseID.errors.required" class="color-red">Activity Phase is required</div>
  </div>
  </ion-item>
  <ion-item>
    <ion-label floating>Act Type<span class="requiredField">*:</span></ion-label>
    <ion-select [(ngModel)]="actinfo.ActTypeID" name="ActTypeID" [selectedText]="actinfo.ActivityType"
      #ActTypeID="ngModel" (ngModelChange)="ActionGetStatusResourceList($event)" required>
      <ion-select-option *ngFor="let c of ActTypeList" [value]="c.ID">{{c.Name}}</ion-select-option>
    </ion-select>
    <div [hidden]="!form.submitted  || ActTypeID.valid" class="invalid-feedback padd-Left">
      <div class="error">Activity Type is required</div>
    </div>
  </ion-item>
  <!-- <ion-item>
    <ion-label floating  (click)="ActionOpenAreaPart()">Areas:</ion-label>
  <span *ngFor="let part of actinfo.QuotePartList" (click)="ActionOpenAreaPart()"> 
    {{part.AreaName}} - Part{{part.NewSrNo}} - {{part.JobSqft}} SF
  </span>
  </ion-item> -->
  <ion-item>
    <ion-label floating>Act Status:</ion-label>
    <ion-select [(ngModel)]="actinfo.StatusID" name="StatusID" #StatusID="ngModel" (ngModelChange)="ActionSetStatus($event)">
      <ion-select-option *ngFor="let c of statusList" [value]="c.ID">{{c.Name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating >Areas:</ion-label>
    <ion-item (click)="ActionOpenAreaPart()">
      <span *ngFor="let part of actinfo.QuotePartList; let s = index" style="font-size: 14px;" > 
        <span *ngIf="s < 2">
          {{part.AreaName}} - Part{{part.NewSrNo}} - {{part.JobSqft}} SF
        </span>
      </span>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-item>
</ion-list>
<ion-list class="bg-lightgrey" >
  <ion-item>
    <ion-label floating >Start:</ion-label>
    <ion-datetime class="paddzero" displayFormat="MM/DD/YYYY" max="2099-10-31" [min] = "minYear"
    (ngModelChange)="actinfo.IsDateChange = true;ActionChangeDate($event,0,'sDate')" name="SchStartTime" [(ngModel)]="actinfo.SchStartTime">
  </ion-datetime>
  <ion-select class="btninfo" [(ngModel)]="actinfo.STime" name="STime" (ngModelChange)="ActionChangeDate($event,0,'')"  [selectedText]="actinfo.STime">
    <ion-select-option *ngFor="let time of timings" [value]="time">{{time}}</ion-select-option>
  </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating >End:</ion-label>
    <ion-datetime class="paddzero" displayFormat="MM/DD/YYYY" max="2099-10-31" [min] = "minYear"
    (ngModelChange)="actinfo.IsDateChange = true;ActionChangeDate($event,1,'eDate')" name="SchEndTime" [(ngModel)]="actinfo.SchEndTime">
  </ion-datetime>
  <ion-select class="btninfo" [(ngModel)]="actinfo.ETime" name="ETime" (ngModelChange)="ActionChangeDate($event,1,'')"  [selectedText]="actinfo.ETime">
    <ion-select-option *ngFor="let time of timings" [value]="time">{{time}}</ion-select-option>
  </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating>Duration(Hrs:Min):</ion-label>
    <ion-input disabled="true" type="text" [(ngModel)]="actinfo.Hrs" (change)="ActionChangeDuration(actinfo.Hrs,1)" name="Hrs" class="labelfont text-right"></ion-input>
    <ion-label>:</ion-label>
    <ion-input disabled="true" type="text" [(ngModel)]="actinfo.Mins" (change)="ActionChangeDuration(actinfo.Mins,2)"  name="Mins" class="labelfont"></ion-input>
    <ion-label>All Day</ion-label>
    <ion-toggle *ngIf="dayCheck == 1" [(ngModel)]="dayCheck" checked="true" (ionChange)="ActionAllDayClick($event)"></ion-toggle>
    <ion-toggle *ngIf="dayCheck == 0" [(ngModel)]="dayCheck" checked="false" (ionChange)="ActionAllDayClick($event)"></ion-toggle>
  </ion-item>
</ion-list>
<ion-list *ngIf="actinfo.StatusID ==5" class="bg-lightgrey" >
  <ion-item>
    <ion-label floating>Act Start</ion-label>
        <ion-datetime class="paddzero" displayFormat="MM/DD/YYYY" max="2099-10-31" [min] = "minYear" name="ActStartDate"
          [(ngModel)]="actinfo.ActualStartDate">
        </ion-datetime><span class="select-icon ion-float-right"></span>

        <ion-select class="btninfo" [(ngModel)]="actinfo.ActStart" name="ActStart"  [selectedText]="actinfo.ActStart">
          <ion-select-option *ngFor="let time of timings" [value]="time">{{time}}</ion-select-option>
        </ion-select>
  </ion-item>
  <ion-item >
    <ion-label floating>Act End:</ion-label>
        <ion-datetime class="paddzero" displayFormat="MM/DD/YYYY" max="2099-10-31" [min] = "minYear" name="ActEndDate"
          [(ngModel)]="actinfo.ActualEndDate">
        </ion-datetime><span class="select-icon ion-float-right"></span>

        <ion-select class="btninfo" [(ngModel)]="actinfo.ActEnd" name="ActEnd"  [selectedText]="actinfo.ActEnd">
          <ion-select-option *ngFor="let time of timings" [value]="time">{{time}}</ion-select-option>
        </ion-select>
  </ion-item>
</ion-list>
<ion-list class="bg-lightgrey">
  <ion-item>
    <ion-textarea rows="4" cols="6" placeholder="Notes" name="Memo" [(ngModel)]="actinfo.Memo" class="borderall"></ion-textarea>
  </ion-item>
</ion-list>
<ion-list class="bg-lightgrey" >
  <ion-row>
    <ion-col size="3">
      <ion-label color="primary" class="paddleft5">Resources: </ion-label>
    </ion-col>
    <ion-col size="9" class="text-right color-primary"  *ngIf="calAccess" (click)="ActionopenResourcePopup($event)"><u
        class="paddright10">Select</u></ion-col>
  </ion-row>
  <ion-item class="paddleft5">
    <ion-col size="8"><b>Name</b></ion-col>
    <ion-col size="2"><b>Email</b></ion-col>
    <ion-col size="2"><b>Text</b></ion-col>
  </ion-item>
  <ion-item *ngFor="let resource of actinfo.ResourceList; let i = index" class="paddleft5">
    <ion-col size="8">
      <span *ngIf="calAccess" (click)="ActionDeleteSelectedItems(resource.ID,i)"><ion-icon name="trash" class="delsty"></ion-icon></span>&nbsp;
       {{resource.ResourceName}}
      <div> <small>{{resource.EmpMail}}</small></div>
    </ion-col>
    <ion-col size="2">
      <ion-checkbox color="dark" name="Email" [(ngModel)]="resource.Email" checked="resource.Email ==1">
      </ion-checkbox>
    </ion-col>
    <ion-col size="2">
      <ion-checkbox color="dark" name="Text" [(ngModel)]="resource.Text" checked="resource.Text ==1"></ion-checkbox>
    </ion-col>
  </ion-item>

</ion-list>
</ion-content>
</form>

