.my-checkbox {
    display: flex;
    align-items: center;
}
// :host ::ng-deep .ck-editor__editable_inline {
//     min-height: 200px;
// }
.popupCls2 { //For BIg popover
    padding: 5px;
    left: 35px;
    background-color: #f3f3f4;
    position: absolute;
    bottom: 5px;
    z-index: 16000;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0,0.5);
    color: black;
    overflow-y: scroll;
    height: 400px;
}

ion-button {
    --background: white;
}
