<ion-header>
    <ion-toolbar color="{{headerInfo.StatusColor}}">
        <ion-buttons slot="start">
            <ion-icon class="fontlarge" (click)="ActionCloseQuoteInfo()" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title align="center">
            <div style="font-size: 22px;" class="text-center">
               Lead# - {{headerInfo.ID}}
            </div>  
                   
        </ion-title>
        <!-- <span size="small" slot="end" (click)="ActionNewAction()"><h1 class="h1marg">Action</h1></span> -->
        <!-- <ion-icon name="arrow-dropdown-circle" slot="end" class="fontlarge" (click)="ActionNewAction()"></ion-icon>&nbsp; -->
    </ion-toolbar>
    <ion-toolbar>
        <ion-row>
            <ion-col class="paddtopzero text-center" (click)="ActionLoadTabInfo(1)">
                <img src="assets/img/Checklist-icon.png" alt="your image" style="width:35px;height:35px;">
                <div ><span style="font-size:11px;" [ngClass]="{'txt-color' : selectedtabtype == 1 }">Summary</span></div>
            </ion-col>

            <ion-col class="paddtopzero text-center" (click)="ActionLoadTabInfo(3)">
                <img src="assets/img/email-icon.png" alt="your image" style="width:35px;height:35px;">
                <div><span style="font-size:11px;white-space: nowrap;" [ngClass]="{'txt-color' : selectedtabtype == 3 }">Comm Hub</span></div>
            </ion-col>
            <ion-col class="paddtopzero text-center"
                (click)="ActionLoadTabInfo(4)">
                <img src="assets/img/calendar-icon.png" alt="your image" style="width:35px;height:35px;">
                <div><span style="font-size:11px;" [ngClass]="{'txt-color' : selectedtabtype == 4 }">Activities</span></div>
            </ion-col>

        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row [ngSwitch]="selectedtabtype">
        <ion-col *ngSwitchCase="1">
            <ion-row style="background:#ddd">
                <ion-col size="7" class="paddtopzero">
                    <h2 class="fontsmall no-margin"><u>{{headerInfo.CustomerContacts[0].Name}}</u></h2>
                </ion-col>
                <ion-col size="5" class="text-right paddtopzero">
                    <p class="no-margin"> Lead Date: {{headerInfo.LeadDate| date:'dd/MM' }}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="paddtopzero">
                  <span (click)="ActionLoadMap()"><ion-icon class="text-font" class="fontsmall" name="pin"></ion-icon></span>
                    <span class="valignsup">
                        {{headerInfo.CustomerContacts[0].Address}}
                    </span>
                </ion-col>
                <div>
                    <ion-row>
                    <ion-col size="12" class="paddtopzero">
                        <ion-icon class="text-font" class="fontsmall" name="call"></ion-icon>
                        <span *ngIf="headerInfo.CustomerContacts[0].MPhone != '' && headerInfo.CustomerContacts[0].MPhone != null" name="contact" class="valignsup">
                            - &nbsp; {{headerInfo.CustomerContacts[0].MPhone}}
                        </span>
                    </ion-col>
                    <ion-col size="12" *ngIf="headerInfo.CustomerContacts[0].Email != '' && headerInfo.CustomerContacts[0].Email != null">
                        <ion-icon class="text-font" class="fontsmall" name="mail"></ion-icon>
                        <span class="valignsup">{{headerInfo.CustomerContacts[0].Email}}</span>
                    </ion-col>
                </ion-row>
                </div>
                <div>
                    <ion-row>
                    <ion-col size="12" class="paddtopzero">
                        <span *ngIf="headerInfo.LeadType != '' && headerInfo.LeadType != null" name="contact" class="valignsup">
                           Lead Type: - &nbsp; {{headerInfo.LeadType}}
                        </span>
                    </ion-col>
                    <span *ngIf="headerInfo.HearAbout != '' && headerInfo.HearAbout != null" name="contact" class="valignsup">
                        Hear about us?- &nbsp; {{headerInfo.HearAbout}}
                    </span>
                    <ion-col size="12" *ngIf="headerInfo.SalesPerson != '' && headerInfo.SalesPerson != null">
                        <ion-icon class="text-font" class="fontsmall" style="display: none;" name="contact"></ion-icon>
                           <span class="valignsup">Sales Rep: {{headerInfo.SalesPerson}}</span>
                    </ion-col>
                </ion-row>
                </div>
            </ion-row>
            <!-- <ion-row>
                <ion-col size="12" class="text-font paddtopzero">
                    <div class="valignsup" *ngIf="headerInfo.Version.ParentAccID > 0">
                        <span class="color-primary">Account:</span><span
                            class="labelfont">&nbsp;{{headerInfo.ParentAccount.Name}}</span>
                    </div>
                    <div class="valignsup" *ngIf="headerInfo.Version.ChildAccID  > 0">
                        <span class="color-primary">Child Acc:</span><span
                            class="labelfont">&nbsp;{{headerInfo.ChildAccount.Name}}</span>
                    </div>
                </ion-col>-->
                <ion-col size="12" class="text-font paddtopzero">
                    <div class="valignsup">
                        <span class="color-primary" (click)="ActionEditJobDesc(1)"><u>Lead Description:</u></span>
                    </div>
                </ion-col>
        </ion-col>
       
         <ion-col *ngSwitchCase="3" style="padding-bottom: 70px;">
            <app-commhub [VersionId]="headerInfo.VersionID" [PhaseId]="PhaseID" (comHubClick)="ActionLoadHubInfo($event)"></app-commhub>
        </ion-col>

        <ion-col *ngSwitchCase="4">
            <app-activities [VersionId]="headerInfo.VersionID" [PhaseId]="PhaseID"></app-activities>
        </ion-col>

    </ion-row>
</ion-content>


<ion-footer style="padding-right: 5px;background: aliceblue;" *ngIf="selectedtabtype == 3">
    <ion-segment style="height: 44px;">
      <ion-segment-button checked (click)="ActionLoadCommHub(1)">
        <ion-icon name="book" class="imghw1 paddzero"></ion-icon>
        <ion-label [ngClass]="{'txt-color' : selChildTabId == 1 }" class="font10 paddzero">Notes</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="ActionLoadCommHub(2)">
        <ion-icon name="mail" class="imghw1 paddzero"></ion-icon>
        <ion-label [ngClass]="{'txt-color' : selChildTabId == 2 }" class="font10 paddzero">Mail</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="ActionLoadCommHub(3)">
        <ion-icon name="document" class="imghw1 paddzero"></ion-icon>
        <ion-label [ngClass]="{'txt-color' : selChildTabId == 3 }" class="font10 paddzero">Files</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-footer>