.measuresty {
    border-bottom: 1px solid black; 
    border-top: none;
    border-right: none;
    border-left: none;
}
.colsty {
    padding: 0px;
    margin-left: 12px;
}
.mar5 {
   margin-left: -5%;
}
.trashsty {
    font-size: 20px;
    color: red;
    margin-top: 35px;
    padding-left: 5px;
}