.padd-scroll{
  padding: 0px 5px;
}
.bar-header1 {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
}