<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon class="fontlarge" (click)="ActionCloseQuoteInfo()" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
           <div id="">{{headerInfo.QuoteNo}} - 
                <select [(ngModel)]="QuoteVersionID" interface="popover" style="border: 0px;background: #3880ff;">
                        <option  *ngFor="let version of headerInfo.VersionList" value="{{version.ID}}">V{{version.SrNo}}</option>
                    </select>
               </div> 
        </ion-title>
        <ion-icon name="home" slot="end" class="fontlarge" (click)="ActionGoToHome()"></ion-icon>
    </ion-toolbar>
    <ion-toolbar>
            <ion-segment [(ngModel)]="selectedtabtype"  scrollable>
                <ion-segment-button class="padd-scroll bar-header1" value="1" (click)="ActionQuickLoad(1)">Job
                </ion-segment-button>
                <ion-segment-button class="padd-scroll bar-header1" value="2" (click)="ActionQuickLoad(2)">Area Info
                </ion-segment-button>
                <ion-segment-button class="padd-scroll bar-header1" value="3" (click)="ActionQuickLoad(3)">Job Desc
                </ion-segment-button>
                <ion-segment-button class="padd-scroll bar-header1" value="4" (click)="ActionQuickLoad(4)">PO Items
                </ion-segment-button>
                <ion-segment-button class="padd-scroll bar-header1" value="5" (click)="ActionQuickLoad(5)">Comm Hub
                </ion-segment-button>
                <!-- <ion-segment-button class="padd-scroll bar-header1" value="6" (click)="ActionQuickLoad(6)">Prints
                </ion-segment-button> -->
            </ion-segment>
        </ion-toolbar>
   
</ion-header>
<ion-content>
   

    <ion-row>
        <ion-col *ngIf="selectedtabtype == 1">
            <ion-card class="margin-bottom" style="margin-left: 0px;">
                <ion-item style="border-bottom: none;">
                    <ion-label (click)="ActionEditJob()">
                        <h2># {{headerInfo.QuoteName}}</h2>
                        <p>
                            <ion-icon name="pin" class="text-font"></ion-icon>
                            {{headerInfo.Address1}},{{headerInfo.City}},{{headerInfo.State}}-{{headerInfo.Zipcode}}
                        </p>
                    </ion-label>
                </ion-item>
                <ion-col size="12"><span class="text-font color-blue margin-bottom"> Contacts</span></ion-col>
                <ion-row>
                        <ion-col size="12">
                            <ion-icon class="text-font" name="contact"></ion-icon> Michael Ethan,
                            <ion-icon class="text-font" name="mail"></ion-icon>Ethan@gmail.com
                            <ion-icon class="text-font" name="call"></ion-icon> (987) 456-3210;
                        </ion-col>
                    </ion-row>
            </ion-card>


           
            
            <app-headerinfo [header]="headerInfo"></app-headerinfo>
           
        </ion-col>
        <ion-col *ngIf="selectedtabtype == 2">
        <app-areainfo></app-areainfo>
        </ion-col>
        <ion-col *ngIf="selectedtabtype == 3">
            <app-jobdes></app-jobdes>
        </ion-col>
        <ion-col *ngIf="selectedtabtype == 4">
            <app-poitems [versionId]="headerInfo.VersionID"></app-poitems>
        </ion-col>
        <ion-col *ngIf="selectedtabtype == 5">
            <app-commhub></app-commhub>
        </ion-col>
        <ion-col *ngIf="selectedtabtype == 6">
            <app-prints></app-prints>
        </ion-col>
    </ion-row>
    <!-- <ng-container *ngComponentOutlet="tabComponet"></ng-container> -->
    <!-- <ion-slides pager>
        <ion-slide>
            <ion-list style="padding-left:10px;width:100%;font-size:14px">
                <ion-row>
                    <ion-col size="3" class="paddzero text-right">Job Name:</ion-col>
                    <ion-col size="7" class="paddzero text-left fontbold">&nbsp;{{header.QuoteName}}</ion-col>
                    <ion-col size="2" class="text-right fontbold color-blue" (click)="ActionQuoteHeader()"><u>Edit</u>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3" class="paddzero text-right">Address:</ion-col>
                    <ion-col size="9" class="paddzero text-left fontbold">&nbsp;{{header.Address1}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3" class="paddzero text-right"></ion-col>
                    <ion-col size="9" class="paddzero text-left fontbold">&nbsp;{{header.City}}, {{header.State}} -
                        {{header.Zipcode}}</ion-col>
                </ion-row>
            </ion-list>
        </ion-slide>
        <ion-slide>

        </ion-slide>
    </ion-slides>

    <ion-item class="text-center">
        <h3>Area Info</h3>
    </ion-item>
    <ion-item>
        <img src="assets/img/arealayout.png" alt="your image" style="width:305px;height:400px;">
    </ion-item> -->
</ion-content>