<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon class="fontlarge" (click)="ActionCloseQuoteInfo()" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
            <h1>
                <div id="" class="text-left">{{headerInfo.QuoteNo}} -
                    <select [(ngModel)]="QuoteVersionID" interface="popover" style="border: 0px;background: #3880ff;">
                        <option *ngFor="let version of headerInfo.VersionList" value="{{version.ID}}">V{{version.SrNo}}
                        </option>
                    </select>
                </div>
            </h1>
        </ion-title>
        <ion-icon name="home" slot="end" class="fontlarge" (click)="ActionGoToHome()"></ion-icon>
    </ion-toolbar>
    <ion-toolbar>
        <ion-row>
            <ion-col class="paddtopzero" (click)="ActionLoadTabInfo(1)">
                <img src="assets/img/Checklist-icon.png" alt="your image" style="width:35px;height:35px;">
                <div class="mar-top5"><span style="font-size:11px;">summary</span></div>
            </ion-col>
            <ion-col class="paddtopzero" (click)="ActionLoadTabInfo(2)">
                <img src="assets/img/Drawing-icon.png" alt="your image" style="width:35px;height:35px;">
                <div class="mar-top5"><span style="font-size:11px;">Area Info</span></div>
            </ion-col>
            <ion-col class="paddtopzero" (click)="ActionLoadTabInfo(3)">
                <img src="assets/img/email-icon.png" alt="your image" style="width:35px;height:35px;">
                <div class="mar-top5"><span style="font-size:11px;">Comm Hub</span></div>
            </ion-col>
            <ion-col class="paddtopzero" (click)="ActionLoadTabInfo(4)">
                <img src="assets/img/calendar-icon.png" alt="your image" style="width:35px;height:35px;">
                <div class="mar-top5"><span style="font-size:11px;">Activities</span></div>
            </ion-col>
            <ion-col class="paddtopzero" (click)="ActionLoadTabInfo(5)">
                <img src="assets/img/marbles-icon.png" alt="your image" style="width:35px;height:35px;">
                <div class="mar-top5"><span style="font-size:11px;">Other</span></div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-row>
        <ion-col *ngIf="selectedtabtype == 1">
            <ion-row style="background:#ddd">
                <ion-col size="9" class="paddtopzero">
                    <h2 class="fontsmall no-margin">{{headerInfo.QuoteName}}</h2>
                </ion-col>
                <ion-col size="3" class="text-right paddtopzero">
                    <p class="no-margin">{{headerInfo.QuoteDate | date:'dd/MM'}} &nbsp; SA</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="paddtopzero">
                    <ion-icon class="text-font" class="fontsmall" name="pin"></ion-icon>
                    <span class="valignsup">{{headerInfo.Address1}}
                        <span *ngIf="headerInfo.City != '' && headerInfo.City != null">,{{headerInfo.City}}</span>
                        <span *ngIf="headerInfo.State != '' && headerInfo.State != null">,{{headerInfo.State}}</span>
                        <span *ngIf="headerInfo.State != '' && headerInfo.State != null">-{{headerInfo.Zipcode}}</span>
                    </span>
                </ion-col>
                <div *ngFor="let contact of headerInfo.QuoteContacts">
                    <ion-col size="12" class="paddtopzero">
                        <ion-icon class="text-font" class="fontsmall" name="contact"></ion-icon>
                        <span class="valignsup">
                            {{contact.Name}}
                        </span>
                        <span *ngIf="headerInfo.Phone != '' && headerInfo.Phone != null" class="valignsup">
                            - &nbsp; {{contact.Phone}}
                        </span>
                    </ion-col>
                    <ion-col size="12" *ngIf="contact.Email != '' && contact.Email != null">
                        <ion-icon class="text-font" class="fontsmall" style="display: none;" name="contact"></ion-icon>
                        <ion-icon class="text-font" class="fontsmall" name="call"></ion-icon> <span
                            class="valignsup">{{contact.Email}}</span>
                    </ion-col>
                </div>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="text-font paddtopzero">
                    <div class="valignsup">
                        <span class="color-primary"> Cust:</span>
                    </div>
                </ion-col>
                <ion-col size="12" class="text-font paddtopzero"
                    *ngFor="let contact of headerInfo.ParentAccountContacts; let i = index;">
                    <div class="valignsup" *ngIf="i == 0">
                        <span class="color-primary"> Acc:</span><span class="labelfont">&nbsp;{{contact.Name}}</span>
                    </div>
                </ion-col>
                <ion-col size="12" class="text-font paddtopzero">
                    <div class="valignsup">
                        <span class="color-primary">Des:</span>
                        <span class="labelfont" *ngIf="headerInfo.Version.Description && headerInfo.Version.Description.length >= 85 && expanded == false">
                            <div [innerHTML]="headerInfo.Version.Description.substr(0,85)"></div >
                            <span (click)="expanded = true" class="color-blue"><u>Read More</u></span>
                        </span>
                        <span class="labelfont" *ngIf="expanded == true">
                             <div [innerHTML]="headerInfo.Version.Description"></div>
                            <span (click)="expanded = false" class="color-blue"><u>Read Less</u></span>
                        </span>
                    </div>
                </ion-col>
            </ion-row>

            <div>
                <ion-row style="background:#ddd;">
                  <ion-col  ><h4 class="no-margin"> Summary</h4></ion-col>
                </ion-row>
                
                <ion-list class="no-margin borbtm">
                  <ion-row class="bolder">
                    <ion-col size="7">Kitchen Room (#3)</ion-col>
                    <ion-col size="2">#P - 1</ion-col>
                    <ion-col size="3" class="text-right">$ 5000.00</ion-col>
                  </ion-row>
                  <ion-row style="font-size:12px">
                    <ion-col>
                      <span>Mat : <b>50.48SF</b></span>,
                      <span>Fab : <b>50.48SF</b></span>,
                      <span>Edg : <b>1.48SF</b></span>,
                      <span>Cut : <b>2.00</b></span>,
                      <span>Snk : <b>1.00</b></span>
                    </ion-col>
                  </ion-row>
                
                </ion-list>
                <ion-list class="no-margin borbtm">
                  <ion-row class="bolder">
                    <ion-col size="7">Living Room (#2)</ion-col>
                    <ion-col size="2">#P - 2</ion-col>
                    <ion-col size="3" class="text-right">$ 2000.00</ion-col>
                  </ion-row>
                  <ion-row style="font-size:12px">
                    <ion-col>
                      <span>Mat : <b>78.24SF</b></span>,
                      <span>Fab : <b>78.24SF</b></span>,
                      <span>Edg : <b>4.88SF</b></span>,
                      <span>Cut : <b>0.00</b></span>,
                      <span>Snk : <b>1.00</b></span>
                    </ion-col>
                  </ion-row>
                
                </ion-list>
                <ion-list class="no-margin borbtm">
                  <ion-row class="bolder">
                    <ion-col size="7">Dinning Room Floor 2</ion-col>
                    <ion-col size="2">#P - 10</ion-col>
                    <ion-col size="3" class="text-right">$ 2000.00</ion-col>
                  </ion-row>
                  <ion-row style="font-size:12px">
                    <ion-col>
                      <span>Mat : <b>78.24SF</b></span>,
                      <span>Fab : <b>78.24SF</b></span>,
                      <span>Edg : <b>4.88SF</b></span>,
                      <span>Cut : <b>0.00</b></span>,
                      <span>Snk : <b>1.00</b></span>
                    </ion-col>
                  </ion-row>
                
                </ion-list>
              </div>

            <ion-row class="marginbot">

                <ion-col size="8" class="fontbold text-right">Sub Total:</ion-col>
                <ion-col size="4" class="fontbold text-right">$ 1568.20</ion-col>
            </ion-row>
            <ion-row class="marginbot">

                <ion-col size="8" class="fontbold text-right"><u>Discount:</u></ion-col>
                <ion-col size="4" class="fontbold text-right"><span style="color:red;">($ 200.50)</span></ion-col>
            </ion-row>
            <ion-row class="marginbot">

                <ion-col size="8" class="fontbold text-right"><u>Sales Tax:</u></ion-col>
                <ion-col size="4" class="fontbold text-right">$ 112.58</ion-col>
            </ion-row>
            <ion-row class="marginbot">

                <ion-col size="8" class="fontbold text-right">Net Total:</ion-col>
                <ion-col size="4" class="fontbold text-right">$ 1480.28</ion-col>
            </ion-row>
            <ion-row class="marginbot">

                <ion-col size="8" class="fontbold text-right"><u>Fee & Charge:</u></ion-col>
                <ion-col size="4" class="fontbold text-right">$ 0.00</ion-col>
            </ion-row>
            <ion-row class="marginbot">

                <ion-col size="8" class="fontbold text-right">Final Total:</ion-col>
                <ion-col size="4" class="fontbold text-right">$ 1480.28</ion-col>
            </ion-row>
            <ion-row class="marginbot">

                <ion-col size="8" class="fontbold text-right">Payment:</ion-col>
                <ion-col size="4" class="fontbold text-right"><span style="color:red;">($ 0.00)</span></ion-col>
            </ion-row>

        </ion-col>
        <ion-col *ngIf="selectedtabtype == 2">

        </ion-col>
        <ion-col *ngIf="selectedtabtype == 3">

        </ion-col>
        <ion-col *ngIf="selectedtabtype == 4">

        </ion-col>
        <ion-col *ngIf="selectedtabtype == 5">

        </ion-col>
    </ion-row>
</ion-content>