<ion-content *ngIf="TypeID == 1">
  <form name="form" (ngSubmit)="ActionFaucetSubmit()" #f="ngForm">
    <ion-toolbar class="poss">
      <ion-title class="titleheader">
        {{ViewType}}
      </ion-title>
      <ion-button slot="end" color="success" size="small" type="submit">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionToClose()">X</ion-button>
    </ion-toolbar>
    <ion-item>
      <ion-label class="labelfont margin-top" position="floating" color="primary">Description</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="labor.Description" name="Description" 
      #Description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Description.invalid }"
      required></ion-input>
      <ion-icon slot="end" class="marg2" name="arrow-dropdown" ></ion-icon>
      <ion-icon slot="end" class="marg2" name="search" ></ion-icon>
    </ion-item>
    <div *ngIf="f.submitted && Description.invalid" class="invalid-feedback padd-Left">
      <div *ngIf="Description.errors.required" class="error">Description is required</div>
    </div>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Quantity</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="labor.Qty" readonly="readonly" name="Qty" (change)="ActionSetAmount()">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Cost/Unit</ion-label>
      <ion-input type="tel" class="labelfont" [(ngModel)]="labor.UnitCost" name="UnitCost" (change)="ActionSetMargin(1,labor,'labor')">
        <ion-row style="margin-right: 3px;">$</ion-row>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Margin</ion-label>
      <ion-input type="email" class="labelfont" [(ngModel)]="labor.Margin" name="Margin" (change)="ActionSetMargin(2,labor,'labor')">
        <ion-row style="margin-right: 3px;">%</ion-row>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Price/Unit</ion-label>
      <ion-input type="email" class="labelfont" [(ngModel)]="labor.UnitPrice" name="UnitPrice" (change)="ActionSetMargin(3,labor,'labor')">
        <ion-row style="margin-right: 3px;">$</ion-row>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Amount</ion-label>
      <ion-input type="email" class="labelfont" [(ngModel)]="labor.Amount" name="Amount">
        <ion-row style="margin-right: 3px;">$</ion-row>
      </ion-input>
    </ion-item>
  </form>
</ion-content>