<ion-row>
    <ion-col>
        <h2 class="margin-bottom">
           <div *ngIf="SelectedTypeID == 1">Account</div>
           <div *ngIf="SelectedTypeID == 2">Child Account</div> 
           <div *ngIf="SelectedTypeID == 3">Customer</div>
        </h2>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        <ion-card class="margin-bottom" style="margin-left: 0px;">
            <ion-item style="border-bottom: none;">
                <ion-label>
                    <h2 (click)="ActionEditCustomer()">{{customer.Name}}</h2>
                    <p>
                        <ion-icon name="pin" class="text-font"></ion-icon>
                        {{customer.BillAddress}},{{customer.BillCity}},{{customer.BillState}} -{{customer.BillZipCode}}
                    </p>
                </ion-label>
            </ion-item>
            <ion-row>
                    <ion-col><span class="text-font color-blue margin-bottom"> Contacts</span></ion-col>
                </ion-row>
                <ion-row *ngFor="let contact of contacts">
                    <ion-col size="12"  *ngIf="contact.IsQuote == 1">
                        <ion-icon class="text-font" name="contact"></ion-icon> {{contact.Name}},
                        <ion-icon class="text-font" name="mail"></ion-icon>{{contact.Email}}
                        <ion-icon class="text-font" name="call"></ion-icon> {{contact.Phone}}
                    </ion-col>
                </ion-row>
        </ion-card>
    </ion-col>
</ion-row>