<ion-content>
  <form #form="ngForm" (ngSubmit)="ActionSaveSink(form)">
    <ion-toolbar class="poss">
      <ion-title class="titleheader">Edge</ion-title>
      <ion-button slot="end" color="success" size="small" type="submit">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionCloseEdge(false)">X</ion-button>
    </ion-toolbar>

    <!-- <ion-item>
      <ion-label class="labelfont margin-top" position="floating" color="primary">Description</ion-label>
      <ion-select [(ngModel)]="edge.EdgeProfile" name="EdgeProfile" 
      #Edgeval="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Edgeval.invalid }" class="labelfont"
      required>
        <ion-select-option *ngFor="let edg of edgelist"> {{edg.Description}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="f.submitted && EdgeProfile.invalid" class="invalid-feedback padd-Left">
      <div *ngIf="EdgeProfile.errors.required" class="error">Description is required</div>
    </div> -->

    <ion-item>
      <ion-label class="labelfont margin-top" position="floating" color="primary">Description</ion-label>
      <ion-select [(ngModel)]="edge.EdgeProfile" name="EdgeProfile" #nameField="ngModel" required>
        <ion-select-option *ngFor="let edg of edgelist"> {{edg.Description}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div [hidden]="!form.submitted  || nameField.valid" class="invalid-feedback padd-Left">
      <div class="error">Description is required</div>
    </div>
    
    <!-- <div *ngIf="submitted && f.add.errors" class="invalid-feedback padd-Left">
      <div *ngIf="f.add.errors.required" class="error">Description is required</div>
    </div> -->
    
    <!-- <ion-item>
      <ion-label class="labelfont margin-top" position="floating" color="primary">Description</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="edge.EdgeProfile" name="EdgeProfile"
      formControlName="EdgeProfile" [ngClass]="{ 'is-invalid': submitted && f.EdgeProfile.errors }"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.add.errors" class="invalid-feedback padd-Left">
      <div *ngIf="f.add.errors.required" class="error">Description is required</div>
    </div> -->
      <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Quantity</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="edge.LF" name="LF" (change)="ActionSetAmount()"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Cost/Unit</ion-label>
        <ion-input type="text" class="labelfont" [(ngModel)]="edge.UnitCost" name="UnitCost" (change)="ActionSetMargin(1,edge,'edge')"><ion-row class="mar-right3">$</ion-row></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Margin</ion-label>
        <ion-input type="text" class="labelfont" [(ngModel)]="edge.Margin" name="Margin" (change)="ActionSetMargin(2,edge,'edge')"><ion-row class="mar-right3">%</ion-row></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Price/Unit</ion-label>
        <ion-input type="text" class="labelfont" [(ngModel)]="edge.UnitPrice" name="UnitPrice" (change)="ActionSetMargin(3,edge,'edge')"><ion-row class="mar-right3">$</ion-row></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Amount</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="edge.Amt" name="Amount" readonly="readonly"><ion-row class="mar-right3">$</ion-row></ion-input>
        </ion-item>
    </form>
  </ion-content>


