/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/***** PADDING<MARGINS *****/
.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.paddzero{
    padding:0px;
}
.padding-topbottom{
    padding-top: 3px;
    padding-bottom: 3px;
}
.paddall{
    padding: 5px;
}
.no-margin{
    margin-bottom: 0px;
     margin-top: 0px;
 }
 .mar-btm{
     margin-bottom: 5px;
 }
 .margin-bottom{
    margin-bottom: 3px;
    margin-top: 0px;
 }
 .contpadd{
     --padding-start: 5px;
     --padding-end: 5px;
     --padding-top: 5px;
 }
 /***** FONTSTYLE *****/
 .labelfont{
    font-size: 14px;
}
.text-font{
    font-size:16px;
}
.fontlarge{
    font-size:30px;
}
.fontmedium{
    font-size:24px;
}
.fontbold {
    font-weight: 600;
}
/***** ALIGNMENTS *****/
.titleheader{
    padding-left: 15px;
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
/***** COLORS *****/
.color-white{
    color:white;
}
.color-blue{
    color: blue;
}
.bg-gray{
    background: #ddd;
}
/***** BORDERS *****/
.borderall{
    border: 1px solid #ddd;
}
.border-btm{
    border-bottom:1px solid #ddd;
}
.border-top{
    border-top:1px solid #ddd;
}
.border-left{
    border-left:1px solid #ddd;
}
.border-right{
    border-right:1px solid #ddd;
}
.borderall {
    border: 2px solid #ddd;
}