<ion-list class="no-margin">
    <ion-row>
      <ion-col size="8"></ion-col>
      <ion-col size="4">
        <ion-button size="small" *ngIf="PhaseId > 0" class="text-right fontbold" (click)="addActivities()">Add Activity</ion-button>
      </ion-col>
    </ion-row>
  <ion-card (click)="ActionEditActivity(i)" class="margintop" *ngFor="let activity of ActivitiesList,let i = index">
    <ion-item class="paddzero">
     <ion-col size="12" class="paddzero">
      <ion-row class="paddzero paddtop3" style="color: darkcyan;">
        <ion-col size="11" class="paddzero">
          <ion-row>
            <ion-col size="10"><h2 class="textsty no-margin">{{activity.ActivityType}}</h2></ion-col>
            <ion-col size="2" class="text-right datesty"><span>{{activity.SchStartTime | date:'MM/dd'}}</span></ion-col>
          </ion-row> 
        </ion-col>
        <ion-col size="1" class="paddzero flex">
            <img src="/StoneApp.App/DigitalContent/Status/{{activity.IconPath}}" alt="" class="imgsty">
        </ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col size="9" class="paddzero">
          <span class="font12">Assigned:</span>
          <span *ngIf="activity.ResoueceName != null && activity.ResoueceName != ''" class="textsty1 no-margin">{{activity.ResoueceName}}</span>
        </ion-col>
       <ion-col size="3" class="text-right font12">{{activity.PhaseSF | number: '.2-2'}}SF</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col size="12" class="paddzero font12">
          <span>Areas : <b>{{ activity.AreaNames}}</b></span>,
          <span>Hrs : <b>{{activity.Hrs}}:{{activity.Mins}}</b></span>
        </ion-col>
      </ion-row>
    </ion-col>
    </ion-item>
  </ion-card>
</ion-list>
