<ion-list class="no-margin">
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="4" class="text-right">
        <ion-button size="small" class="text-right fontbold">Add Activity</ion-button>
      </ion-col>
    </ion-row>
  <ion-card class="margintop" *ngFor="let activity of ActivitiesList,let i = index">
    <ion-item class="paddzero">
     <ion-col size="12" class="paddzero">
      <ion-row class="paddzero paddtop3">
        <ion-col size="9" class="paddzero">
            <h2 class="textsty no-margin">{{activity.ActivityType}}</h2>
        </ion-col>
        <ion-col size="3" style="display: flex;" class="paddzero">
            <span style="font-size:12px">{{activity.SchStartTime | date:'dd/MM'}}</span> &nbsp; &nbsp; 
            <img src="assets/img/Scheduled.png" alt="your image" style="width:15px;height:15px;">
        </ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col size="9" class="paddzero">
          <span style="font-size:12px">Assigned:</span>
          <span *ngIf="activity.ResoueceName != null && activity.ResoueceName != ''" class="textsty1 no-margin">{{activity.ResoueceName}}</span>
        </ion-col>
       <ion-col size="3" style="font-size:12px" class="text-right">{{activity.PhaseSF | number: '.2-2'}}SF</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col size="12" class="paddzero" style="font-size:12px">
          <span>Areas : <b>{{ activity.AreaNames}}</b></span>,
          <span>Hrs : <b>{{activity.Hrs}}:{{activity.Mins}}</b></span>
        </ion-col>
      </ion-row>
    </ion-col>
    </ion-item>
  </ion-card>
</ion-list>
