.textsty{
    font-size: 16px;
    font-weight: 600;
}
.textsty1{
    font-size: 14px;
    font-weight: 600;
}
.margintop {
   margin-top: 3px;
   margin-bottom: 5px;
   margin-left: 3px;
   margin-right: 3px;
}
.paddtop3 {
    padding-top: 3px;
}
.datesty {
    font-size:12px;
    display: flex;
}
.imgsty {
    width:20px;
    height:20px;
}
.font12 {
    font-size:12px;
}