<ion-header>
  <ion-toolbar>
    <ion-title class="titleheader">PART DETAILS</ion-title>
    <ion-button slot="end" color="success" size="small" (click)="ActionSavePart()">Save</ion-button>
    <ion-button slot="end" color="danger" size="small" (click)="ActionCloseAddPart()">X</ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-col class="paddtopzero text-center" (click)="ActionPartTabInfo(1)">
        <img src="assets/img/MaterialY.jpg" alt="your image" class="imghw">
        <div class="mar-top5"><span style="font-size:11px;">Material</span></div>
      </ion-col>
      <ion-col class="paddtopzero text-center" (click)="ActionPartTabInfo(2)">
        <img src="assets/img/sqft1.jpg" alt="your image" class="imghw">
        <div class="mar-top5"><span style="font-size:11px;">Sqft</span></div>
      </ion-col>
      <ion-col class="paddtopzero text-center" (click)="ActionPartTabInfo(3)">
        <img src="assets/img/edges2.jpg" alt="your image" class="imghw">
        <div class="mar-top5"><span style="font-size:11px;">Spl/Edg</span></div>
      </ion-col>
      <ion-col class="paddtopzero text-center" (click)="ActionPartTabInfo(4)">
        <img src="assets/img/kitchen-sink.png" alt="your image" class="imghw">
        <div class="mar-top5"><span style="font-size:11px;">Cutout</span></div>
      </ion-col>
      <!-- <ion-col class="paddtopzero text-center" (click)="ActionPartTabInfo(5)">
        <img src="assets/img/marbles-icon.png" alt="img" style="width:35px;height:35px;">
        <div class="mar-top5"><span style="font-size:11px;">Sink/Fau</span></div>
      </ion-col>
      <ion-col class="paddtopzero text-center" (click)="ActionPartTabInfo(6)">
        <img src="assets/img/coin-us-dollar-icon.png" alt="img" style="width:35px;height:35px;">
        <div class="mar-top5"><span style="font-size:11px;">Addons</span></div>
      </ion-col> -->
    </ion-row>
  </ion-toolbar>
</ion-header>
<!-- ion-content>
  <ion-item>
    <ion-label class="labelfont" position="floating" color="primary">Part Name</ion-label>
    <ion-input type="text" class="labelfont"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col class="lablewid" size="12" class="color-primary"><b>Material:</b></ion-col>
  </ion-row>
  <ion-row *ngFor="let mat of partinfo.PartMaterialList;let i = index">

    <ion-col size="8" class="labelfont">
      <ion-select [(ngModel)]="mat.MaterialID" name="MaterialID" (ngModelChange)="ActionPopulateMaterial($event,i)"
        class="btninfo" interface="popover" class="border-btm">
        <ion-select-option *ngFor="let material of MaterialList" [value]="material.ID">{{material.StoneType}} -
          {{material.Color}} -
          {{material.Depth}} - {{material.Finish}}</ion-select-option>
      </ion-select>

    </ion-col>
    <ion-col size="1">
      <ion-icon name="add" class="font-medium" (click)="ActionAddMaterial()"></ion-icon>
    </ion-col>
    <ion-col size="3" class="flex">
      <ion-input type="text" readonly="readonly" [(ngModel)]="mat.Sqft" class="border-btm"></ion-input>SF
    </ion-col>
  </ion-row>

  <div *ngFor="let fab of partinfo.PartFabList;let i=index;">
    <ion-row>
      <ion-col size="12" class="color-primary">Measurements:</ion-col>
    </ion-row>

    <ion-row *ngFor="let size of fab.MeasureList">
      <ion-col size="5">
        <ion-select class="btninfo" [(ngModel)]="size.CounterTypeID" interface="popover" class="border-btm">
          <ion-select-option *ngFor="let c of CountertypeList" [value]="c.ID">{{c.Name}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="7" class="paddzero">
        <ion-row class="paddzero">
          <ion-col size="3">
            <ion-input type="text" [(ngModel)]="size.Width" (change)="ActionSetSqft(size,0,i)" class="border-btm"></ion-input>
          </ion-col>
          <ion-col size="1">X</ion-col>
          <ion-col size="3">
            <ion-input type="text" [(ngModel)]="size.Height" (change)="ActionSetSqft(size,0,i)" class="border-btm"></ion-input>
          </ion-col>
          <ion-col size="1">=</ion-col>
          <ion-col size="4">
            <ion-input type="text" [(ngModel)]="size.Sqft"(click)="ActionSetFabSqft(i)"  name="PartSqft" class="border-btm"></ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9">
        <ion-col class="fontbold color-blue" (click)="ActionAddSize(i)"><u>Add+</u></ion-col>
      </ion-col>
      <ion-col size="3" class="flex">
        <ion-input type="text" [(ngModel)]="fab.PartSqft" name="PartSqft" class="border-btm"></ion-input>SF
      </ion-col>

    </ion-row>
  </div>
  <ion-row>
    <ion-col class="lablewid" size="8" class="color-primary"><b>Splash:</b></ion-col>
    <ion-col size="4" class="color-blue fontbold text-right" (click)="ActionAddSplash()"><u>Add+</u></ion-col>
  </ion-row>
  <ion-row *ngFor="let splash of partinfo.SplashList;let i = index">
    <ion-col size="9">
      <ion-select [(ngModel)]="splash.SplashID" name="SplashID" class="btninfo" interface="popover" class="border-btm">
        <ion-select-option *ngFor="let spl of SplashList">{{spl.Description}}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="3" class="flex">
      <ion-input type="text" [(ngModel)]="splash.Sqft" name="SplashSqft" (change)="ActionChangeSplash()" class="border-btm"></ion-input>SF
    </ion-col>
   
  </ion-row>
  <ion-row>
    <ion-col class="lablewid" size="8" class="color-primary"><b>Edge:</b></ion-col>
    <ion-col size="4" class="color-blue fontbold text-right" (click)="ActionAddEdge()"><u>Add+</u></ion-col>
  </ion-row>
  <ion-row *ngFor="let edge of partinfo.EdgeList;let i = index">
    <ion-col size="9">
      <ion-select [(ngModel)]="edge.EdgeProfileID" class="btninfo" interface="popover" class="border-btm">
        <ion-select-option *ngFor="let edg of EdgeList">{{edg.Description}}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="3" class="flex">
      <ion-input type="text" [(ngModel)]="edge.LF" class="border-btm"></ion-input>LF
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="lablewid" size="8" class="color-primary"><b>Cutout:</b></ion-col>
    <ion-col size="4" class="color-blue fontbold text-right" (click)="ActionAddCutOut()"><u>Add+</u></ion-col>
  </ion-row>
  <ion-row *ngFor="let cutout of partinfo.CutoutList;let i = index">
    <ion-col size="9">
      <ion-select [(ngModel)]="cutout.TypeID" class="btninfo" interface="popover" class="border-btm">
        <ion-select-option *ngFor="let c of CutoutList">{{c.Description}}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="3" class="flex">
      <ion-input type="text" [(ngModel)]="cutout.LF" class="border-btm"></ion-input>LF
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let fab of partinfo.PartFabList">
    <ion-col size="9">
      <ion-input readonly="readonly" [(ngModel)]="fab.Description" class="border-btm"></ion-input>
    </ion-col>
    <ion-col size="3" class="flex">
      <ion-input type="text" readonly="readonly" [(ngModel)]="fab.Sqft" name="PartSqft" class="border-btm">
      </ion-input>SF
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let labor of partinfo.LaborList;let i = index">
    <ion-col size="9">
      <ion-input readonly="readonly" [(ngModel)]="labor.Description" class="border-btm"></ion-input>
    </ion-col>
    <ion-col size="3" class="flex">
      <ion-input type="text" readonly="readonly" [(ngModel)]="labor.Qty" class="border-btm"></ion-input>SF
    </ion-col>
  </ion-row>

</ion-content> -->


<ion-content>
  <ion-row [ngSwitch]="selectedcomponent">
    <ion-col *ngSwitchCase="1">
      <ion-row>
        <ion-col class="lablewid" size="12" class="color-primary">
          <ion-icon name="list" class="font-medium"></ion-icon><b>Material Details:</b>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let mat of partinfo.PartMaterialList;let i = index">
        <ion-col class="lablewid" size="1" class="color-primary"><b>M:</b></ion-col>
        <ion-col size="8" class="labelfont">
          <ion-select [(ngModel)]="mat.MaterialID" name="MaterialID" (ngModelChange)="ActionPopulateMaterial($event,i)" interface="popover" class="border-btm labelfont2 color-blue">
            <ion-select-option *ngFor="let material of MaterialList" [value]="material.ID">{{material.StoneType}} - {{material.Color}} - {{material.Depth}} - {{material.Finish}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="3" class="roundborder borderall flex fontbold mar-top5">
          <ion-input type="text"  [(ngModel)]="mat.Sqft"  class="text-center border-right color-primary" name="LF">
          </ion-input>
          <span class="color-primary">SF</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-row>
          <ion-col size="3">
           <div class="color-primary"><b>Cost($)</b></div>
           <div><ion-input type="text" class="labelfont border-btm" [(ngModel)]="mat.UnitCost" name="UnitCost" (change)="ActionSetMargin(1,mat,'mat')"></ion-input></div>
          </ion-col>
          <ion-col size="3">
            <div class="color-primary"><b>M(%)</b></div>
            <div><ion-input type="text" class="labelfont border-btm" [(ngModel)]="mat.Margin" name="Margin" (change)="ActionSetMargin(2,mat,'mat')"></ion-input></div>
          </ion-col>
          <ion-col size="3">
            <div class="color-primary"><b>Price($)</b></div>
            <div><ion-input type="text" class="labelfont border-btm" [(ngModel)]="mat.UnitPrice" name="UnitPrice" (change)="ActionSetMargin(3,mat,'mat')"></ion-input></div>
          </ion-col>
          <ion-col size="3">
            <div class="color-primary"><b>Amt($)</b></div>
            <div> <ion-input type="text" class="labelfont border-btm" [(ngModel)]="mat.Amt" name="Amount" readonly="readonly"></ion-input></div>
          </ion-col>
         </ion-row>
      </ion-row>
    </ion-col>

    <ion-col *ngSwitchCase="2">
      <ion-list *ngFor="let fab of partinfo.PartFabList;let j=index;">
        <ion-row>
          <ion-col size="4" class="color-blue"><b>Fabrication:</b></ion-col>
          <ion-col size="3" class="roundborder borderall flex fontbold">
            <ion-input type="text" [(ngModel)]="fab.Sqft" class="text-center border-right color-green"
              name="PartSqft"></ion-input>
            <span class="color-primary">SF</span>
          </ion-col>
        </ion-row>
        <div *ngFor="let size of fab.MeasureList; let i = index">
          <ion-row>
            <ion-col size="1" class="round bg-primary color-white text-center mar-top5">{{i + 1}}</ion-col>
            <ion-col size="8">
              <ion-select class="btninfo" [(ngModel)]="size.CounterTypeID" interface="popover" class="color-blue labelfont2 border-btm">
                <ion-select-option *ngFor="let c of CountertypeList" [value]="c.ID">{{c.Name}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="3" class="roundborder borderall flex fontbold mar-top5">
              <ion-input type="text" [(ngModel)]="size.Sqft" class="text-center border-right color-primary" name="Sqft">
              </ion-input>
              <span class="color-primary">SF</span>
            </ion-col>
          </ion-row>
          <ion-row class="bg-primary bdr-radius20">
            <ion-col size="5" class="fontbold labelfont2 flex mar-top5"><span class="color-white">W:&nbsp;</span>
              <ion-input type="text" [(ngModel)]="size.Width" (change)="ActionSetSqft(size,0,j)"
                class="roundborder borderall bg-white text-center"></ion-input>
            </ion-col>
            <ion-col size="1" class="fontbold labelfont2 color-white mar-top5">X</ion-col>
            <ion-col size="5" class="fontbold flex labelfont2 mar-top5"><span class="color-white">H:&nbsp; </span>
              <ion-input type="text" [(ngModel)]="size.Height" (change)="ActionSetSqft(size,0,j)"
                class="roundborder borderall bg-white text-center"></ion-input>
            </ion-col>
            <ion-col size="1" class="color-primary round bg-white text-center mar-top5" (click)="ActionDelete(i)">
              <b>X</b></ion-col>
          </ion-row>
        </div>
        <ion-row class="bdr-radius20 bdr-dashed mar-top20">
          <ion-col size="12" class="text-center" (click)="ActionAddSize(j)">
            <ion-icon name="add-circle" class="ion-float-left font-medium"></ion-icon>
            <ion-label><b>ADD ANOTHER ENTRY</b></ion-label>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-col>

    <ion-col *ngSwitchCase="3">
      <ion-row>
        <ion-col class="lablewid" size="12" class="color-primary">
          <ion-icon name="list" class="font-medium"></ion-icon><b>Splash/Edge:</b>
        </ion-col>
      </ion-row>
      <ion-list>
        <ion-col *ngFor="let splash of partinfo.SplashList;let i = index">
          <ion-row>
            <ion-col size="1" class="color-green"><b>S:</b></ion-col>
            <ion-col size="8">
              <ion-select [(ngModel)]="splash.SplashID" name="SplashID" interface="popover"
                class="border-btm labelfont2 color-blue">
                <ion-select-option *ngFor="let spl of SplashList">{{spl.Description}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="3" class="roundborder borderall flex fontbold mar-top5">
              <ion-input type="text" [(ngModel)]="splash.Sqft" class="text-center border-right color-primary"
                name="Sqft" (change)="ActionChangeSplash()">
              </ion-input>
              <span class="color-primary">SF</span>
            </ion-col>
          </ion-row>
          <ion-row class="bg-primary bdr-radius20">
            <ion-col size="5" class="fontbold labelfont2 flex mar-top5"><span class="color-white">W:&nbsp;</span>
              <ion-input type="text" [(ngModel)]="splash.Width" class="roundborder borderall bg-white text-center"(change)="ActionSetSplashSqft(splash)" ></ion-input>
            </ion-col>
            <ion-col size="1" class="fontbold labelfont2 color-white mar-top5">X</ion-col>
            <ion-col size="5" class="fontbold flex labelfont2 mar-top5"><span class="color-white">H:&nbsp; </span>
              <ion-input type="text" [(ngModel)]="splash.Height" class="roundborder borderall bg-white text-center" (change)="ActionSetSplashSqft(splash)"></ion-input>
            </ion-col>
            <ion-col size="1" class="color-primary round bg-white text-center mar-top5" >
              <b>X</b></ion-col>
          </ion-row>        
        </ion-col>
      </ion-list>
      <ion-list>
        <ion-col *ngFor="let edge of partinfo.EdgeList;let i = index">
        <ion-row>
          <ion-col size="1" class="color-green"><b>E:</b></ion-col>
          <ion-col size="8">
            <ion-select [(ngModel)]="edge.EdgeProfileID" class="btninfo" interface="popover"  class="border-btm labelfont2 color-blue">
              <ion-select-option *ngFor="let edg of EdgeList">{{edg.Description}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="3" class="roundborder borderall flex fontbold mar-top5">
            <ion-input type="text" [(ngModel)]="edge.LF" class="text-center border-right color-primary"
              name="LF" (change)="ActionChangeSplash()">
            </ion-input>
            <span class="color-primary">LF</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
           <div class="color-primary"><b>Cost($)</b></div>
           <div><ion-input type="text" class="labelfont border-btm" [(ngModel)]="edge.UnitCost" name="UnitCost" (change)="ActionSetMargin(1,edge,'edge')"></ion-input></div>
          </ion-col>
          <ion-col size="3">
            <div class="color-primary"><b>M(%)</b></div>
            <div><ion-input type="text" class="labelfont border-btm" [(ngModel)]="edge.Margin" name="Margin" (change)="ActionSetMargin(2,edge,'edge')"></ion-input></div>
          </ion-col>
          <ion-col size="3">
            <div class="color-primary"><b>Price($)</b></div>
            <div><ion-input type="text" class="labelfont border-btm" [(ngModel)]="edge.UnitPrice" name="UnitPrice" (change)="ActionSetMargin(3,edge,'edge')"></ion-input></div>
          </ion-col>
          <ion-col size="3">
            <div class="color-primary"><b>Amt($)</b></div>
            <div> <ion-input type="text" class="labelfont border-btm" [(ngModel)]="edge.Amt" name="Amount" readonly="readonly"></ion-input></div>
          </ion-col>
         </ion-row>
      </ion-col>
      </ion-list>
    </ion-col>

    <ion-col *ngSwitchCase="4">
      <ion-row>
        <ion-col class="lablewid" size="12" class="color-primary">
          <ion-icon name="list" class="font-medium"></ion-icon><b>Cutout:</b>
        </ion-col>
      </ion-row>
      <ion-list>
        <ion-col *ngFor="let cutout of partinfo.CutoutList;let i = index">
          <ion-row>
            <ion-col size="1" class="color-green"><b>C:</b></ion-col>
            <ion-col size="8">
              <ion-select [(ngModel)]="cutout.TypeID" interface="popover" class="border-btm labelfont2 color-blue">
                <ion-select-option *ngFor="let c of CutoutList">{{c.Description}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="3" class="roundborder borderall flex fontbold mar-top5">
              <ion-input type="text"  [(ngModel)]="cutout.LF" class="text-center border-right color-primary" name="LF">
              </ion-input>
              <span class="color-primary">EA</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
             <div class="color-primary"><b>Cost($)</b></div>
             <div><ion-input type="text" class="labelfont border-btm" [(ngModel)]="cutout.UnitCost" name="UnitCost" (change)="ActionSetMargin(1,cutout,'cutout')"></ion-input></div>
            </ion-col>
            <ion-col size="3">
              <div class="color-primary"><b>M(%)</b></div>
              <div><ion-input type="text" class="labelfont border-btm" [(ngModel)]="cutout.Margin" name="Margin" (change)="ActionSetMargin(2,cutout,'cutout')"></ion-input></div>
            </ion-col>
            <ion-col size="3">
              <div class="color-primary"><b>Price($)</b></div>
              <div><ion-input type="text" class="labelfont border-btm" [(ngModel)]="cutout.UnitPrice" name="UnitPrice" (change)="ActionSetMargin(3,cutout,'cutout')"></ion-input></div>
            </ion-col>
            <ion-col size="3">
              <div class="color-primary"><b>Amt($)</b></div>
              <div> <ion-input type="text" class="labelfont border-btm" [(ngModel)]="cutout.Amt" name="Amount" readonly="readonly"></ion-input></div>
            </ion-col>
           </ion-row>
        </ion-col>
      </ion-list>
    </ion-col>

    <!-- <ion-col *ngSwitchCase="5">

    </ion-col>
    <ion-col *ngSwitchCase="6">

    </ion-col> -->
  </ion-row>
</ion-content>


<ion-footer>

</ion-footer>