<ion-header translucent>
    <ion-toolbar>
      <ion-title><b>PO Item Info</b></ion-title>
      <ion-button slot="end" color="success" size="small" (click)="ActionSavePOItem(true)">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionClosePOItem(false)">X</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="ion-no-margin ion-no-padding">
      <ion-item>
            <ion-label class="no-margin labelfont1" position="floating" color="primary">PO Number:</ion-label>
            <ion-input type="text" [(ngModel)]="poitem.PONumber" class="inputheight fontbold"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="no-margin labelfont1" position="floating" color="primary">PO Uploaded By:</ion-label>
          <ion-select [(ngModel)]="poitem.POBy" class="fontbold">
            <ion-select-option value="">--Select One--</ion-select-option>
          </ion-select>
        </ion-item>
      <ion-item>
        <ion-label class="no-margin labelfont1" position="floating" color="primary">PO Date:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY" [(ngModel)]="poitem.PODate" class="fontbold"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="no-margin labelfont1" position="floating" color="primary">PO Total($):</ion-label>
        <ion-input type="text" [(ngModel)]="poitem.POAmount" class="inputheight fontbold"></ion-input>
      </ion-item>
      <ion-row>
        <span class="btn btn-success fileinput-button" ngClass="{disabled: disabled}" style="line-height: 1; color:blue;text-decoration:underline; font-weight:bold;
        text-align: right; background-color: #f3f3f4;border-color: transparent; padding: 0px 6px;
        font-size: 14px">
         <u>Attachments:</u>

          <ion-col size="7" class="paddzero text-left fontbold">
            <input type="file" (change)="ActionUploadPoAttach($event)">
            <!-- {{info.Path}} -->
        
          </ion-col>
        </span>
      </ion-row>
      <ion-row>

        <ion-col *ngFor="let attah of poitem.AttachmentList">
         {{attah.Path}}
        </ion-col>
    </ion-row>
    </ion-list>
  </ion-content>