<ion-header>
  <ion-toolbar style="top:5px;"><ion-title>Areas:</ion-title>
    <ion-button slot="end" size="small" (click)="ActionRunFilter()">Select</ion-button>
    <ion-button slot="end" color="danger" size="small" (click)="ActionToClosePop(false)">X</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list style="height:360px">
    <ion-row  class="smallfont2 paddall border-btm">
      <ion-col size="12">
      <ion-checkbox style="width:30px" color="dark" [(ngModel)]="AllCheck" (click)="ActionAll()"></ion-checkbox><font size="4">ALL</font>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of arrAreaInfo" class="smallfont2 paddall border-btm">
    <ion-col size="12">
     
       
      <div *ngIf="arrAreaInfo!='undefined'">
      
        <ion-checkbox style="width:30px" color="dark" [(ngModel)]="item.Check" (ngModelChange)="ActionIsselectAll()"></ion-checkbox>
        <span style="color:blue">{{item.Area.Name}} - </span>Part {{item.NewSrNo}} - {{item.JobSqft}} <!--- <span>{{part.JobPartName}}</span>-->
   
    </div>
    </ion-col>
    </ion-row>
  </ion-list>
</ion-content>