.measuresty {
    border-bottom: 1px solid black; 
    border-top: none;
    border-right: none;
    border-left: none;
}
.colsty {
    padding: 0px;
    margin-left: 12px;
}
.mar5 {
   margin-left: -5%;
}