<ion-row>
 <ion-col class="paddtopzero">
  <img src="assets/img/Checklist-icon.png" alt="your image" style="width:35px;height:35px;">
  <div class="mar-top5"><span style="font-size:11px;">summary</span></div>
 </ion-col>
 <ion-col class="paddtopzero">
  <img src="assets/img/Drawing-icon.png" alt="your image" style="width:35px;height:35px;">
  <div class="mar-top5"><span style="font-size:11px;">Area Info</span></div>
 </ion-col>
 <ion-col class="paddtopzero">
  <img src="assets/img/email-icon.png" alt="your image" style="width:35px;height:35px;">
  <div class="mar-top5"><span style="font-size:11px;">Comm Hub</span></div>
 </ion-col>
 <ion-col class="paddtopzero">
  <img src="assets/img/calendar-icon.png" alt="your image" style="width:35px;height:35px;">
  <div class="mar-top5"><span style="font-size:11px;">Activities</span></div>
 </ion-col>
 <ion-col class="paddtopzero">
  <img src="assets/img/marbles-icon.png" alt="your image" style="width:35px;height:35px;">
  <div class="mar-top5"><span style="font-size:11px;">Other</span></div>
 </ion-col>
</ion-row>