<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Quote</ion-title>
      <ion-button slot="end" color="success" size="small" (click)="onCreateQuote()">+</ion-button>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-searchbar #quotesearch  (keyup.enter)="ActionSearch(quotesearch.value)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let quote of quotelist">
         <ion-grid class="no-padding">
          <ion-row><h5 class="no-margin"># {{quote.QuoteNo}} - {{quote.QuoteName}}</h5></ion-row>
          <ion-row>
              <small><span>{{quote.SalesPerson}}</span></small>
            </ion-row>
            <ion-row>
              <small><span>{{quote.CustomerName}}</span></small>
            </ion-row>
        </ion-grid>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="AtiondoInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </ion-list>
</ion-content>