<ion-list class="liststy" *ngIf="selectedhubtype == 1">
  <ion-row>
    <ion-col size="5">
      <ion-select class="btninfo" interface="popover">
        <ion-select-option [value]="0" selected="selected">ALL</ion-select-option>
        <ion-select-option *ngFor="let process of processtypeList" [value]="process.ID">{{process.Name}}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="4">
      <ion-select class="btninfo" interface="popover">
        <ion-select-option [value]="0" selected="selected">ALL</ion-select-option>
        <ion-select-option *ngFor="let process of phaseList" [value]="process.ID">{{process.Name}}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="3" class="text-right">
      <ion-button (click)="ActionEditCommHub(0)" size="small" class="text-right fontbold">ADD</ion-button>
    </ion-col>
  </ion-row>
  <ion-card class="margin-bottom" style="margin-top: 0px;" *ngFor="let note of notesList">
    <ion-row class="no-padding paddzero">
      <ion-col size="1">
        <ion-icon name="create" class="fontmedium" (click)="ActionEditCommHub(note)"></ion-icon>
      </ion-col>
      <ion-col size="9">
        <ion-row class="marbot">
          <ion-col class="paddzero text-left textsty paddleft">{{note.Subject}}</ion-col>
        </ion-row>
        <ion-row class="marbot">
          <ion-col class="paddzero text-left paddleft">{{note.User}}</ion-col>
        </ion-row>
        <ion-row class="marbot">
          <ion-col class="paddzero text-left paddleft">{{note.MsgDate | date:'MM/dd/yyyy h:mm a'}}</ion-col>
        </ion-row>
        <!-- <ion-row class="marbot">
          <ion-col class="paddzero text-left paddleft">{{note.Path}}</ion-col>
        </ion-row> -->
      </ion-col>
      <ion-col size="2" class="text-right">
        <ion-icon name="download" class="downloadsty"></ion-icon>
        <ion-icon name="cloud-upload" class="uploadsty"></ion-icon>
        <ion-icon name="mail" class="uploadsty"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-list>
<ion-list class="liststy" *ngIf="selectedhubtype == 2">
  <ion-row>
    <ion-col size="6">
      <ion-select class="btninfo" interface="popover">
        <ion-select-option [value]="0" selected="selected">ALL</ion-select-option>
        <ion-select-option *ngFor="let process of processtypeList" value="Name">{{process.Name}}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="3"></ion-col>
    <ion-col size="3" class="text-right">
      <ion-button (click)="ActionEditCommHub(0)" size="small" class="text-right fontbold">Compose</ion-button>
    </ion-col>
  </ion-row>
  <ion-card class="margin-bottom" style="margin-top: 0px;"  *ngFor="let note of notesList">
    <ion-row class="no-padding paddzero">
      <ion-col size="10">
        <ion-row class="marbot">
          <ion-col class="paddzero text-left textsty paddleft">{{note.Subject}}</ion-col>
        </ion-row>
        <ion-row class="marbot">
          <ion-col class="paddzero text-left paddleft">{{note.User}}</ion-col>
        </ion-row>
        <ion-row class="marbot">
          <ion-col class="paddzero text-left paddleft">{{note.MsgDate | date:'MM/dd/yyyy h:mm a'}}</ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="2" class="text-right">
        <ion-icon name="download" class="downloadsty"></ion-icon>
        <ion-icon name="cloud-upload" class="uploadsty"></ion-icon>
        <ion-icon name="mail" class="uploadsty"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-list>
<ion-list class="liststy" *ngIf="selectedhubtype == 3">
  <ion-row>
    <ion-col size="5">
      <ion-select class="btninfo" interface="popover">
        <ion-select-option [value]="0" selected="selected">ALL</ion-select-option>
        <ion-select-option *ngFor="let process of processtypeList" value="Name">{{process.Name}}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="6" class="text-right">
      <span style="vertical-align: super;"><b>View By:&nbsp;</b></span>
      <span>
        <span>
          <ion-icon name="menu" style="font-size: 25px;line-height: 30px;color: rgb(0, 0, 255);"></ion-icon>&nbsp;&nbsp;
        </span>
        <span>
          <ion-icon name="images" style="font-size: 25px;line-height: 30px;color: rgb(0, 0, 255);"></ion-icon>
        </span>
      </span>
    </ion-col>
  </ion-row>
  <ion-card class="margin-bottom" style="margin-top: 0px;" *ngFor="let note of notesList">
    <ion-row class="no-padding paddzero">
      <ion-col size="1">
        <ion-icon name="create" class="fontmedium" (click)="ActionEditCommEmail(note)"></ion-icon>
      </ion-col>
      <ion-col size="9">
        <ion-row class="marbot">
          <ion-col class="paddzero text-left textsty paddleft">{{note.Subject}}</ion-col>
        </ion-row>
        <ion-row class="marbot">
          <ion-col class="paddzero text-left paddleft">{{note.User}}</ion-col>
        </ion-row>
        <ion-row class="marbot">
          <ion-col class="paddzero text-left paddleft">{{note.MsgDate | date:'MM/dd/yyyy h:mm a'}}</ion-col>
        </ion-row>
        <!-- <ion-row class="marbot">
          <ion-col class="paddzero text-left paddleft">{{note.Path}}</ion-col>
        </ion-row> -->
      </ion-col>
      <ion-col size="2" class="text-right">
        <ion-icon name="download" class="downloadsty"></ion-icon>
        <ion-icon name="cloud-upload" class="uploadsty"></ion-icon>
        <ion-icon name="mail" class="uploadsty"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-list>
<ion-toolbar class="tab-btm">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button (click)="ActionLoadHubInfo(1)">
        <ion-icon name="book"></ion-icon>
        <ion-label class="iconsty">Notes</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="ActionLoadHubInfo(2)">
        <ion-icon name="mail"></ion-icon>
        <ion-label class="iconsty">Mail</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="ActionLoadHubInfo(3)">
        <ion-icon name="document"></ion-icon>
        <ion-label class="iconsty">Files</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>