
  <form (ngSubmit)="ActionSubmit(material)" class="dis-content">
    <ion-header>
      <ion-toolbar color="light">
        <ion-buttons slot="start">
          <ion-button color="danger" type="button" (click)="ActionToClose(false)">
            Cancel
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <!-- <ion-button color="primary" type="submit">
            Save
          </ion-button> -->
        </ion-buttons>
        <ion-title align="center">
          Material
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-item>
      <ion-label class="labelfont" position="floating" color="primary">Description</ion-label>
      <ion-input type="text" class="labelfont" readonly="readonly" [(ngModel)]="material.MaterialName" name="MaterialName"
        #nameField="ngModel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Quantity</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="material.FinishedSqft" name="FinishedSqft"
        readonly="readonly"></ion-input>
    </ion-item>
    <ion-item *ngIf="PhaseId == 0">
      <ion-label class="labelfont" position="stacked" color="primary">Cost/Unit</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="material.UnitCost" name="UnitCost" readonly="readonly">
        <ion-row class="margin-right3">$</ion-row>
      </ion-input>
    </ion-item>
    <ion-item *ngIf="PhaseId == 0">
      <ion-label class="labelfont" position="stacked" color="primary">Margin</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="material.Margin" name="Margin" readonly="readonly">
        <ion-row class="margin-right3">%</ion-row>
      </ion-input>
    </ion-item>
    <ion-item *ngIf="PhaseId == 0">
      <ion-label class="labelfont" position="stacked" color="primary">Price/Unit</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="material.UnitPrice" name="UnitPrice" readonly="readonly">
        <ion-row class="margin-right3">$</ion-row>
      </ion-input>
    </ion-item>
    <ion-item *ngIf="PhaseId == 0">
      <ion-label class="labelfont" position="stacked" color="primary">Amount</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="material.Amt" name="Amt" readonly="readonly">
        <ion-row class="margin-right3">$</ion-row>
      </ion-input>
    </ion-item>
  </ion-content>
  </form>
