.margin-zero {
    margin-top: 0px;
    margin-bottom: 0px;
 }
 .inputheight {
     height: 16px;
 }
 .labelstyle {
     color: blue;
     margin-top: 7px;
     margin-left: 14px;
     margin-bottom: 10px;
 }
 .labelfont1 {
    font-size: 12px;
 }
 ion-card{
     --background:white;
 }
 .marleft {
     margin-left: -4px;
 }
 .mar-bot2 {
    margin-bottom: 2px;
 }
 .liststyle {
    padding-left:10px;
    width:100%;
    font-size:14px;
 }
 .martop0 {
    margin-top: 0px;
 }