.text-font{
    font-size:15px;
}
.card-background-page {
    ion-card {
    --background:white;
      position: relative;
      text-align: center;
    }
  }
.font23{
    font-size: 23px;
    font-weight: 600;
    color: green;
}
.fontheading {
    font-size: 20px;
    font-weight: 600;
    color: green;
}
.mar-bot2{
    margin-bottom: 2px;
}
.fontboldclr {
    font-weight: 600;
    color: black;
}
.margintop5 {
    margin-top: 5px;
    padding-left: 5px;
    height: 50px;
  }
