<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button (click)="ActionCloseQuoteInfo()">Back</ion-button>
        </ion-buttons>
        <ion-title>Quote Info</ion-title>
      </ion-toolbar>
  </ion-header>


  <ion-content>
      <ion-row>
          <ion-label>Job Name:</ion-label>
          <span>{{header.QuoteName}}</span>
      </ion-row>
      <ion-row>
          <span><b>Address:</b></span>
          <span>
              {{header.Address1}}
          </span>
      </ion-row>
      <ion-row>
          <span><b>City:</b></span>
          <span>
              {{header.City}}
          </span>
      </ion-row>
      <ion-row>
          <span><b>State:</b></span>
          <span>
              {{header.State}}
          </span>
      </ion-row> 
      <ion-row>
          <span><b>Zipcode:</b></span>
          <span>
              {{header.Zipcode}}
          </span>
      </ion-row>
  </ion-content>



 
