<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button (click)="ActionCloseQuoteInfo()">Back</ion-button>
        </ion-buttons>
        <ion-title>Quote Info</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-item class="no-padding">
      <div class="row">
      <span>Job Name :</span>{{header.QuoteName}}</div>
      <span>Address</span>:{{header.Address1}}
      <span>Address</span>:{{header.Address1}}
      <span>City</span>:{{header.City}}
      <span>State</span>:{{header.State}}
      <span>Zipcode</span>:{{header.Zipcode}}
  </ion-item>

<ion-item>
  
</ion-item>



  <ion-content>
   






  </ion-content>
