<ion-list style="padding-left:10px;width:100%;font-size:14px">
    <ion-card class="margin-bottom" style="margin-top: 0px;">
        <ion-row style="margin-bottom: 2px;">
          <ion-col size="7" class="paddzero text-left textsty"><u (click)="ActionEditCommHub()">175645 - Test Customer</u></ion-col>
          <ion-col class="no-padding paddzero text-right" size="5">
              <ion-icon name="download"></ion-icon>&nbsp;<ion-icon md="md-cloud-upload"></ion-icon>&nbsp;<ion-icon ios="ios-mail"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-label><span>Alex David&nbsp;- &nbsp;Stoneapp</span></ion-label>
        </ion-row>
        <ion-row>
            <ion-label><span>11/15/2019 5.30pm</span></ion-label>
        </ion-row>
    </ion-card>
</ion-list>