.textsty{
    font-size: 16px;
    font-weight: 600;
}
.btninfo{
    border:1px solid #ddd;
    background-color:lightblue;
    padding:5px;
    border-radius: 5px;
}
.marbot {
    margin-bottom: 4px;
}
.paddleft {
    padding-left: 10px;
}
.liststy {
    padding-left:10px;
    width:100%;
    font-size:14px;
}
.downloadsty {
    font-size:20px;
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}
.uploadsty {
    font-size:20px;
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
.iconsty {
   // color: royalblue;
    font-size: 12px;
}

 