


<ion-row>
  <ion-col size="5">
    <ion-select [(ngModel)]="CategoryID" class="btninfo" interface="popover"(ngModelChange)="ActionChangeCategory($event)">
      <ion-select-option [value]="0" selected="selected">ALL</ion-select-option>
      <ion-select-option *ngFor="let process of processtypeList" [value]="process.ID" >{{process.Name}}
      </ion-select-option>
    </ion-select>
  </ion-col>
  <ion-col size="7" class="text-right">
    <ion-button *ngIf="selectedhubtype == 2" (click)="ActionEditCommHubMail(0)" size="small" class="text-right fontbold">Compose</ion-button>
    <ion-button *ngIf="selectedhubtype == 1" (click)="ActionEditCommHub(0)" size="small" class="text-right fontbold">ADD</ion-button>
  </ion-col>
</ion-row>

<ion-list class="ion-no-margin" *ngIf="selectedhubtype == 1">
  <ion-item *ngFor="let note of notesList" (click)="ActionEditCommHub(note)">
    <ion-col>
      <ion-row>
        <ion-label>
          <h2>{{note.Subject}}</h2>
          <h3>{{note.User}} - {{note.MsgDate | date:'MM/dd/yyyy h:mm a'}}</h3>
          <p innerHTML="{{note.Body}}"></p>
         </ion-label>
      </ion-row>
      <ion-row *ngFor="let category of note.AttachmentList">
        <ion-label><u class="attachstyle color-primary">Attachments:</u></ion-label>
        <ion-col class="paddleft5">
          <span><ion-icon name="trash" class="delsty color-red"></ion-icon></span>&nbsp;
          <span style="font-size: small;">{{category.FileName}}</span>
        </ion-col>
      </ion-row>
    </ion-col>
   </ion-item>
 
</ion-list>
<ion-list class="ion-no-margin" *ngIf="selectedhubtype == 2">
  <ion-item *ngFor="let note of msgList" (click)="ActionEditCommHub(note)">
   <ion-label>
    <h2>{{note.Subject}}</h2>
    <h3>{{note.User}} - {{note.MsgDate | date:'MM/dd/yyyy h:mm a'}}</h3>
    <p innerHTML="note.Body"></p>
   </ion-label>
  </ion-item>
</ion-list>
<ion-list class="ion-no-margin" *ngIf="selectedhubtype == 3">
  <ion-card class="margin-bottom margcard" style="margin-top: 0px;" *ngFor="let picture of pictureList">
    <ion-col class="no-padding paddzero" style="overflow-y: scroll;">
        <ion-row class="marbot">
          <ion-col class="paddzero text-center">
            <span style="font-size: medium;">{{picture.Name}}</span>
          </ion-col>
        </ion-row>
    </ion-col>
    <img [src]="picture.Path" style="width:100%;height:200px;" (click)="ActionPreviewFile(picture.Path)">
  </ion-card>
</ion-list>





<!-- <div style="flex: 1;">
<ion-footer style="padding-right: 5px;background: aliceblue;">
  <ion-segment style="height: 44px;">
    <ion-segment-button checked (click)="ActionLoadHubInfo(1)">
      <ion-icon name="book" class="imghw1 paddzero"></ion-icon>
      <ion-label [ngClass]="{'txt-color' : selectedhubtype == 1 }" class="font10 paddzero">Notes</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="ActionLoadHubInfo(2)">
      <ion-icon name="mail" class="imghw1 paddzero"></ion-icon>
      <ion-label [ngClass]="{'txt-color' : selectedhubtype == 2 }" class="font10 paddzero">Mail</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="ActionLoadHubInfo(3)">
      <ion-icon name="document" class="imghw1 paddzero"></ion-icon>
      <ion-label [ngClass]="{'txt-color' : selectedhubtype == 3 }" class="font10 paddzero">Files</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>

</div> -->

