
<div *ngIf="layoutId == 1">
  <ion-row style="background:#ddd;">
    <ion-col  ><h4 class="no-margin"> Summary</h4></ion-col>
  </ion-row>
  
  <ion-list class="no-margin borbtm">
    <ion-row class="bolder">
      <ion-col size="7">Kitchen Room (#3)</ion-col>
      <ion-col size="2">#P - 1</ion-col>
      <ion-col size="3" class="text-right">$ 5000.00</ion-col>
    </ion-row>
    <ion-row style="font-size:12px">
      <ion-col>
        <span>Mat : <b>50.48SF</b></span>,
        <span>Fab : <b>50.48SF</b></span>,
        <span>Edg : <b>1.48SF</b></span>,
        <span>Cut : <b>2.00</b></span>,
        <span>Snk : <b>1.00</b></span>
      </ion-col>
    </ion-row>
  
  </ion-list>
  <ion-list class="no-margin borbtm">
    <ion-row class="bolder">
      <ion-col size="7">Living Room (#2)</ion-col>
      <ion-col size="2">#P - 2</ion-col>
      <ion-col size="3" class="text-right">$ 2000.00</ion-col>
    </ion-row>
    <ion-row style="font-size:12px">
      <ion-col>
        <span>Mat : <b>78.24SF</b></span>,
        <span>Fab : <b>78.24SF</b></span>,
        <span>Edg : <b>4.88SF</b></span>,
        <span>Cut : <b>0.00</b></span>,
        <span>Snk : <b>1.00</b></span>
      </ion-col>
    </ion-row>
  
  </ion-list>
  <ion-list class="no-margin borbtm">
    <ion-row class="bolder">
      <ion-col size="7">Dinning Room Floor 2</ion-col>
      <ion-col size="2">#P - 10</ion-col>
      <ion-col size="3" class="text-right">$ 2000.00</ion-col>
    </ion-row>
    <ion-row style="font-size:12px">
      <ion-col>
        <span>Mat : <b>78.24SF</b></span>,
        <span>Fab : <b>78.24SF</b></span>,
        <span>Edg : <b>4.88SF</b></span>,
        <span>Cut : <b>0.00</b></span>,
        <span>Snk : <b>1.00</b></span>
      </ion-col>
    </ion-row>
  
  </ion-list>
</div>


<div *ngIf="layoutId == 2">
  <ion-row style="background:#ddd;">
    <ion-col  ><h4 class="no-margin"> Summary</h4></ion-col>
  </ion-row>
  
  <ion-list class="ion-no-margin ion-no-padding font13">
    <ion-row class="paddzero">
      <ion-col class="text-left laywidth">Mat:</ion-col>
      <ion-col class="text-left" style="background-color: lightgoldenrodyellow;">Pazzi Marble Absolute Black - 3CM -
        Polished <span class="color-green">@ <u>20.33SF</u></span></ion-col>
      <ion-col size="2" class="text-right">$ 950.40</ion-col>
    </ion-row>
    <ion-row class="paddzero">
      <ion-col class="text-left laywidth">Siz:</ion-col>
      <ion-col class="text-left"><b>Area1: P1:</b>130 * 30; <b>P2:</b>156 * 50 <span class="color-green">@ <u>38.33SF</u></span>
      </ion-col>
      <ion-col size="2" class="text-right">$ 200.00</ion-col>
    </ion-row>
    <ion-row class="paddzero">
      <ion-col class="text-left laywidth"></ion-col>
      <ion-col class="text-left"><b>Area2: P1:</b> 124 * 48; <span class="color-green">@ <u>16.12SF</u> </span></ion-col>
      <ion-col size="2" class="text-right">$ 200.00</ion-col>
    </ion-row>
    <ion-row class="paddzero">
      <ion-col class="text-left laywidth">Edg:</ion-col>
      <ion-col class="text-left">Demi Bullnose - <b>Area1:P1,P2 </b><span class="color-green">@ <u>1.32SF</u></span></ion-col>
      <ion-col size="2" class="text-right">$ 20.06</ion-col>
    </ion-row>
    <ion-row class="paddzero">
      <ion-col class="text-left laywidth">Cut:</ion-col>
      <ion-col class="text-left">CookTop - <b>Area1:P1,P2 </b><span class="color-green">@ <u>7</u></span></ion-col>
      <ion-col size="2" class="text-right">$ 50.50</ion-col>
    </ion-row>
    <ion-row class="paddzero">
      <ion-col class="text-left laywidth">Snk:</ion-col>
      <ion-col class="text-left">16ga 2317 Standard <span class="color-green">@ <u>2</u></span></ion-col>
      <ion-col size="2" class="text-right">$ 250.60</ion-col>
    </ion-row>
    <ion-row class="paddzero">
      <ion-col class="text-left laywidth">Fau:</ion-col>
      <ion-col class="text-left">Faucet 8 Wide <span class="color-green">@ <u>1</u></span></ion-col>
      <ion-col size="2" class="text-right">$ 150.00</ion-col>
    </ion-row>
    <ion-row class="paddzero">
      <ion-col class="text-left laywidth">App:</ion-col>
      <ion-col class="text-left">Cooktop <span class="color-green">@ <u>1</u></span></ion-col>
      <ion-col size="2" class="text-right">$ 26.25</ion-col>
    </ion-row>
    <ion-row class="paddzero">
      <ion-col class="text-left laywidth">Lab:</ion-col>
      <ion-col class="text-left">Thick Back Splash <span class="color-green">@ <u>1</u></span></ion-col>
      <ion-col size="2" class="text-right">$ 31.25</ion-col>
    </ion-row>
    <ion-row class="paddzero">
      <ion-col class="text-left laywidth">Add:</ion-col>
      <ion-col class="text-left">Strainer Basket <span class="color-green">@ <u>1</u></span></ion-col>
      <ion-col size="2" class="text-right">$ 16.00</ion-col>
    </ion-row>
  </ion-list>
</div>

<div *ngIf="layoutId == 3">
  <div >
    <ion-row style="background:#ddd;">
      <ion-col  ><h4 class="no-margin"> 1. Area1: Kitchen</h4></ion-col>
      <ion-col size="3" class="text-right"><h4 class="no-margin">  Units: 1</h4></ion-col>
    </ion-row>
    <ion-list class="ion-no-margin ion-no-padding font13">
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">MAT:</span>
          <span class="text-left" style="background-color: lightgoldenrodyellow;">Pazzi Marble Absolute Black - 3CM -Polished</span>
          <span class="color-green">@ <u>20.33SF</u></span>
        </ion-col>
        <ion-col size="2" class="text-right">950.40</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">SIZ:</span>
          <span class="text-left"><b>P1:</b>130 * 30; <b>P2:</b>156 * 50</span>
          <span class="color-green">@ <u>38.33SF</u></span>
        </ion-col>
        <ion-col size="2" class="text-right">200.00</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">EDG:</span>
        <span class="text-left">Demi Bullnose - <b>P1,P2 </b></span>
        <span class="color-green">@ <u>1.32SF</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">20.06</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">CUT:</span>
          <span class="text-left">CookTop - <b>P1,P2 </b></span>
          <span class="color-green">@ <u>7</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">50.50</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">SNK:</span>
        <span class="text-left">16ga 2317 Standard</span>
        <span class="color-green">@ <u>2</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">250.60</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">FAU:</span>
        <span class="text-left">Faucet 8 Wide </span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">150.00</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">APP:</span>
        <span class="text-left">Cooktop</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">26.25</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">LAB:</span>
        <span class="text-left">Thick Back Splash</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">31.25</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">ADD:</span>
        <span class="text-left">Strainer Basket</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">16.00</ion-col>
      </ion-row>
      <ion-row style="font-size: 15px;">
        <ion-col>
    <b >Total</b>
        </ion-col>
        <ion-col size="2" class="text-right bordertop"><b>1350.2</b></ion-col>
      </ion-row>
    </ion-list>
  
  </div>
  <div>
    <ion-row style="background:#ddd;">
      <ion-col  ><h4 class="no-margin"> 1. Area2: Kitchen #2</h4></ion-col>
      <ion-col size="3" class="text-right"><h4 class="no-margin">  Units: 1</h4></ion-col>
    </ion-row>
    <ion-list class="ion-no-margin ion-no-padding font13">
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">MAT:</span>
          <span class="text-left" style="background-color: lightgoldenrodyellow;">Pazzi Marble Absolute Black - 3CM -Polished</span>
          <span class="color-green">@ <u>20.33SF</u></span>
        </ion-col>
        <ion-col size="2" class="text-right">950.40</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">SIZ:</span>
          <span class="text-left"><b>P1:</b> 124 * 48;</span>
        <span class="color-green">@ <u>16.12SF</u></span>
        </ion-col>
        <ion-col size="2" class="text-right">200.00</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">EDG:</span>
        <span class="text-left">Demi Bullnose - <b>P1</b></span>
        <span class="color-green">@ <u>1.32SF</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">20.06</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">CUT:</span>
          <span class="text-left">CookTop - <b>P1</b></span>
          <span class="color-green">@ <u>7</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">50.50</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">SNK:</span>
        <span class="text-left">16ga 2317 Standard</span>
        <span class="color-green">@ <u>2</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">250.60</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">FAU:</span>
        <span class="text-left">Faucet 8 Wide </span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">150.00</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">APP:</span>
        <span class="text-left">Cooktop</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">26.25</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">LAB:</span>
        <span class="text-left">Thick Back Splash</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">31.25</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">ADD:</span>
        <span class="text-left">Strainer Basket</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">16.00</ion-col>
      </ion-row>
    </ion-list>
 
  </div>
  
  <ion-row class="rowlineitem paddzero2">
    <ion-col><u class="colorblue textfont14">ADD</u>:
      <span>Stain-Proof Plus 15 Year Sealer</span>&nbsp;
      1
    </ion-col>
    <ion-col size="3" class="text-right">119.00</ion-col>
  </ion-row>
  <ion-row style="font-size: 15px;">
    <ion-col>
<b >Total</b>
    </ion-col>
    <ion-col size="2" class="text-right bordertop"><b>1350.2</b></ion-col>
  </ion-row>
</div>


<div *ngIf="layoutId == 4">
  <div >
    <ion-row style="background:#ddd;">
      <ion-col  ><h4 class="no-margin"> 1. Area2: Kitchen - Part 1</h4></ion-col>
      <ion-col size="3" class="text-right"><h4 class="no-margin">  Units: 1</h4></ion-col>
    </ion-row>
    <ion-list class="ion-no-margin ion-no-padding font13">
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">MAT:</span>
          <span class="text-left" style="background-color: lightgoldenrodyellow;">Pazzi Marble Absolute Black - 3CM -Polished</span>
          <span class="color-green">@ <u>20.33SF</u></span>
        </ion-col>
        <ion-col size="2" class="text-right">950.40</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">SIZ:</span>
          <span class="text-left">124 * 48;</span>
        <span class="color-green">@ <u>16.12SF</u></span>
        </ion-col>
        <ion-col size="2" class="text-right">200.00</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">EDG:</span>
        <span class="text-left">Demi Bullnose - <b>P1, P2</b></span>
        <span class="color-green">@ <u>1.32SF</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">20.06</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">CUT:</span>
          <span class="text-left">CookTop - <b>P1</b></span>
          <span class="color-green">@ <u>7</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">50.50</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">SNK:</span>
        <span class="text-left">16ga 2317 Standard</span>
        <span class="color-green">@ <u>2</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">250.60</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">FAU:</span>
        <span class="text-left">Faucet 8 Wide </span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">150.00</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">APP:</span>
        <span class="text-left">Cooktop</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">26.25</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">LAB:</span>
        <span class="text-left">Thick Back Splash</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">31.25</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">ADD:</span>
        <span class="text-left">Strainer Basket</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">16.00</ion-col>
      </ion-row>
    </ion-list>
    <ion-row style="font-size: 15px;">
      <ion-col>
  <b >Total</b>
      </ion-col>
      <ion-col size="2" class="text-right bordertop"><b>1350.2</b></ion-col>
    </ion-row>
  </div>
  
  
  <div >
    <ion-row style="background:#ddd;">
      <ion-col  ><h4 class="no-margin"> 1. Area1: Kitchen - Part 2</h4></ion-col>
      <ion-col size="3" class="text-right"><h4 class="no-margin">  Units: 1</h4></ion-col>
    </ion-row>
    <ion-list class="ion-no-margin ion-no-padding font13">
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">MAT:</span>
          <span class="text-left" style="background-color: lightgoldenrodyellow;">Pazzi Marble Absolute Black - 3CM -Polished</span>
          <span class="color-green">@ <u>20.33SF</u></span>
        </ion-col>
        <ion-col size="2" class="text-right">950.40</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">SIZ:</span>
          <span class="text-left">156 * 50</span>
          <span class="color-green">@ <u>38.33SF</u></span>
        </ion-col>
        <ion-col size="2" class="text-right">200.00</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">EDG:</span>
        <span class="text-left">Demi Bullnose - <b>P1,P2 </b></span>
        <span class="color-green">@ <u>1.32SF</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">20.06</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
          <span class="text-left laywidth colorblue">CUT:</span>
          <span class="text-left">CookTop</span>
          <span class="color-green">@ <u>7</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">50.50</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">SNK:</span>
        <span class="text-left">16ga 2317 Standard</span>
        <span class="color-green">@ <u>2</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">250.60</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">FAU:</span>
        <span class="text-left">Faucet 8 Wide </span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">150.00</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">APP:</span>
        <span class="text-left">Cooktop</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">26.25</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">LAB:</span>
        <span class="text-left">Thick Back Splash</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">31.25</ion-col>
      </ion-row>
      <ion-row class="paddzero">
        <ion-col>
        <span class="text-left laywidth colorblue">ADD:</span>
        <span class="text-left">Strainer Basket</span>
        <span class="color-green">@ <u>1</u></span>
      </ion-col>
        <ion-col size="2" class="text-right">16.00</ion-col>
      </ion-row>
    </ion-list>
    <ion-row style="font-size: 15px;">
      <ion-col>
  <b >Total</b>
      </ion-col>
      <ion-col size="2" class="text-right bordertop"><b>1350.2</b></ion-col>
    </ion-row>
  </div>
</div>

<!-- <ion-list class="ion-no-margin ion-no-padding font13">
  <ion-row class="paddzero">
    <ion-col size="3" class="text-left" style="font-size:13px;font-weight:bold;color:blue">SUMMARY</ion-col>
    <ion-col size="5" class="text-center" style="font-size:13px;font-weight:bold;color:blue">MAT</ion-col>
    <ion-col size="2" class="text-left" style="font-size:13px;font-weight:bold;color:blue">SINKS</ion-col>
    <ion-col size="2" class="text-left" style="font-size:13px;font-weight:bold;color:blue">ADDON</ion-col>
  </ion-row>
  <ion-row class="paddzero">
   <ion-col class="text-left laywidth">M:</ion-col>
   <ion-col class="text-left" style="background-color: lightgoldenrodyellow;">Pazzi Marble Absolute Black - 3CM - Polished</ion-col>
   <ion-col size="2" class="text-right">20.33SM</ion-col>
   <ion-col size="2" class="text-right">$ 950.40</ion-col>
 </ion-row>
 <ion-row class="paddzero">
   <ion-col class="text-left laywidth">Siz:</ion-col>
   <ion-col  class="text-left"><b>Area1: P1:</b>130 * 30; <b>P2:</b>156 * 50</ion-col>
   <ion-col size="2" class="text-right">38.33SM</ion-col>
   <ion-col size="2" class="text-right">$ 200.00</ion-col>
 </ion-row>
 <ion-row class="paddzero">
  <ion-col class="text-left laywidth"></ion-col>
  <ion-col  class="text-left"><b>Area2: P1:</b> 124 * 48;</ion-col>
  <ion-col size="2" class="text-right">16.12SM</ion-col>
  <ion-col size="2" class="text-right">$ 200.00</ion-col>
</ion-row>
 <ion-row  class="paddzero">
   <ion-col class="text-left laywidth">Edg:</ion-col>
   <ion-col class="text-left">Demi Bullnose - <b>Area1:P1,P2</b></ion-col>
   <ion-col size="2" class="text-right">1</ion-col>
   <ion-col size="2" class="text-right">$ 20.06</ion-col>
 </ion-row>
 <ion-row class="paddzero">
   <ion-col class="text-left laywidth">Cut:</ion-col>
   <ion-col class="text-left">CookTop - <b>Area1:P1,P2</b></ion-col>
   <ion-col size="2" class="text-right">7</ion-col>
   <ion-col size="2" class="text-right">$ 50.50</ion-col>
 </ion-row>
 <ion-row class="paddzero">
   <ion-col class="text-left laywidth">Snk:</ion-col>
   <ion-col class="text-left">16ga 2317 Standard</ion-col>
   <ion-col size="2" class="text-right">2</ion-col>
   <ion-col size="2" class="text-right">$ 250.60</ion-col>
 </ion-row>
 <ion-row  class="paddzero">
   <ion-col class="text-left laywidth">Fau:</ion-col>
   <ion-col class="text-left">Faucet 8 Wide</ion-col>
   <ion-col size="2"class="text-right">1</ion-col>
   <ion-col size="2" class="text-right">$ 150.00</ion-col>
 </ion-row>
 <ion-row  class="paddzero">
   <ion-col class="text-left laywidth">App:</ion-col>
   <ion-col class="text-left">Cooktop</ion-col>
   <ion-col size="2" class="text-right">1</ion-col>
   <ion-col size="2" class="text-right">$ 26.25</ion-col>
 </ion-row>
 <ion-row  class="paddzero">
   <ion-col class="text-left laywidth">Lab:</ion-col>
   <ion-col class="text-left">Thick Back Splash</ion-col>
   <ion-col size="2" class="text-right">1</ion-col>
   <ion-col size="2" class="text-right">$ 31.25</ion-col>
 </ion-row>
 <ion-row  class="paddzero">
   <ion-col class="text-left laywidth">Add:</ion-col>
   <ion-col class="text-left">Strainer Basket</ion-col>
   <ion-col size="2" class="text-right">1</ion-col>
   <ion-col size="2" class="text-right">$ 16.00</ion-col>
 </ion-row>
</ion-list> -->