<ion-header>
    <ion-toolbar>
      <ion-title>
        <div><b>MESSAGE</b></div>
        <!-- <div *ngIf="typeId == 2"><b>Compose Email</b></div> -->
      </ion-title>
      <ion-button slot="end" color="success" size="small">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionCloseCommhubedit()">X</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating" color="primary" class="margin-zero">Category:</ion-label>
        <ion-select [(ngModel)]="commDetails.category" name="category" [selectedText]="commDetails.category">
           <ion-select-option *ngFor="let category of categoryList" [value]="category.Name">{{category.Name}}</ion-select-option>
       </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary" class="margin-zero">Phase:</ion-label>
        <ion-select [(ngModel)]="commDetails.Phase" name="PhaseID" [selectedText]="commDetails.Phase">
           <ion-select-option *ngFor="let category of phaseList" [value]="category.Name">{{category.Name}}</ion-select-option>
       </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="margin-zero" position="floating" color="primary">Type:</ion-label>
        <ion-select [(ngModel)]="commDetails.formtype" name="formtype" [selectedText]="commDetails.formtype">
          <ion-select-option *ngFor="let category of docFormList" [value]="category.Name">{{category.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="margin-zero" position="floating" color="primary">Subject:</ion-label>
        <ion-input type="text" class="inputheight" [(ngModel)]="commDetails.Subject" name="Subject"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="margin-zero" position="floating" color="primary">Status:</ion-label>
        <ion-select [(ngModel)]="commDetails.Status" name="StatusID" [selectedText]="commDetails.Status">
          <ion-select-option *ngFor="let category of msgStatusList" [value]="">{{category.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <span class="btn btn-success fileinput-button" ngClass="{disabled: disabled}">
          <u class="attachstyle color-primary">Attachments:</u>
          <ion-col size="7" class="paddzero text-left">
            <input type="file" (change)="ActionUploadCommhubAttach($event)">
          </ion-col>
        </span>
      </ion-row>
      <ion-row *ngFor="let category of commDetails.AttachmentList">
        <ion-col class="paddleft5">
          <span><ion-icon name="trash" class="delsty"></ion-icon></span>&nbsp;
          <span>{{category.FileName}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label class="margin-zero notestyle" color="primary"><u>Note:</u></ion-label>
      </ion-row>
      <ion-row class="padding5">
        <ion-textarea rows="4" cols="10" [(ngModel)]="commDetails.Body" name="Body" class="borderall"></ion-textarea>
      </ion-row>
    </ion-list>
  </ion-content >
  
  <!-- <ion-content *ngIf="typeId == 2">
    <ion-list class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating" color="primary" class="margin-zero">Category:</ion-label>
        <ion-select [(ngModel)]="commDetails.itemSelected" class="fontbold">
           <ion-select-option *ngFor="let category of categoryList" [value]="">{{category.Name}}</ion-select-option>
       </ion-select>
      </ion-item>
    </ion-list>
  </ion-content> -->

 