<ion-header>
    <ion-toolbar>
      <ion-title><b>Comm.Hub Details</b></ion-title>
      <ion-button slot="end" color="success" size="small">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionCloseCommhubedit()">X</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating" color="primary" class="margin-zero">Category:</ion-label>
        <ion-select [(ngModel)]="category" class="fontbold">
          <ion-select-option value="Schedule">Schedule</ion-select-option>
          <ion-select-option value="Material Order">Material Order</ion-select-option>
          <ion-select-option value="Template">Template</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="margin-zero" position="floating" color="primary">Type:</ion-label>
        <ion-select [(ngModel)]="type" class="fontbold">
          <ion-select-option value="Edge">Edge</ion-select-option>
          <ion-select-option value="Appliance">Appliance</ion-select-option>
          <ion-select-option value="Layout">Layout</ion-select-option>
          <ion-select-option value="DIG">DIG</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="margin-zero" position="floating" color="primary">Subject:</ion-label>
        <ion-input type="text" class="inputheight fontbold"></ion-input>
      </ion-item>
      <ion-row>
          <ion-label class="margin-zero attachstyle" color="primary"><u>Attachments:</u></ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="margin-zero notestyle" color="primary"><u>Note:</u></ion-label>
      </ion-row>
      <ion-row class="padding5">
        <ion-textarea rows="4" cols="10" class="borderall"></ion-textarea>
      </ion-row>
    </ion-list>
  </ion-content>