<ion-header>
  <ion-toolbar>
    <ion-title class="titleheader font23"><b>Summary</b></ion-title>
    <ion-button slot="end" color="danger" size="small" (click)="ActionCloseSummaryEdit()">X</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-card>
    <ion-row>
      <ion-col size="12">
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Sub Total:</ion-col>
          <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 2321.47</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Discount:</ion-col>
          <ion-col size="7" class="paddzero text-left fontbold">&nbsp;<span style="color:red;">($ 0.00)</span></ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Sales Tax:</ion-col>
          <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 0.00</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Net Total:</ion-col>
          <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 2321.47</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Fee & Charge:</ion-col>
          <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 0.00</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Final Total:</ion-col>
          <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 2321.47</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Payment:</ion-col>
          <ion-col size="7" class="paddzero text-left fontbold">&nbsp;<span style="color:red;">($ 0.00)</span></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row>
      <div><b class="titleheader fontheading">Payment Schedule</b></div>
  </ion-row>
  <ion-card>
      <ion-row style="background-color:lightgoldenrodyellow;">
        <ion-col size="12">
          <ion-row class="mar-bot2">
            <ion-col size="5" class="paddzero text-right">Deposit(50%):</ion-col>
            <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 1,160.73</ion-col>
          </ion-row>
          <ion-row class="mar-bot2">
            <ion-col size="5" class="paddzero text-right">Final Payment(50%):</ion-col>
            <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 1,160.73</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  <ion-row>
    <div><b class="titleheader fontheading">Cost Summary</b></div>
  </ion-row>
  <ion-card>
    <ion-row>
      <ion-col size="12">
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right"></ion-col>
          <ion-col size="3" class="paddzero text-center fontbold"><u>Qty</u></ion-col>
          <ion-col size="4" class="paddzero text-right fontbold"><u>Amount</u></ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Material:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">25.35</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 471.51</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Fab Labor:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">25.35</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 1,156.73</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Edge:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">0.33</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 6.60</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Sinks & Faucets:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">2.00</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 449.38</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Appliance:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">1.00</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 10.00</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">CutOut:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">3.00</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 165.00</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Labor:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">1.00</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 31.25</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Tile:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">1.00</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 5.00</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Cabinet:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">1.00</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 5.00</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Carpet:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">1.00</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 5.00</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right">Add.Products:</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">1.00</ion-col>
          <ion-col size="4" class="paddzero text-right fontboldclr">$ 16.00</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row>
    <div><b class="titleheader fontheading">Sales Report</b></div>
  </ion-row>
  <ion-card>
   <ion-row style="background-color:lightgoldenrodyellow;">
    <ion-col size="12">
      <ion-row class="mar-bot2">
        <ion-col size="5" class="paddzero text-right">Total Revenue:</ion-col>
        <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 2321.47</ion-col>
      </ion-row>
      <ion-row class="mar-bot2">
        <ion-col size="5" class="paddzero text-right">Total Cost:</ion-col>
        <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 1882.30</ion-col>
      </ion-row>
      <ion-row class="mar-bot2">
        <ion-col size="5" class="paddzero text-right">Material Cost:</ion-col>
        <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 392.93</ion-col>
      </ion-row>
      <ion-row class="mar-bot2">
        <ion-col size="5" class="paddzero text-right">T$ Amount:</ion-col>
        <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 1928.54</ion-col>
      </ion-row>
      <ion-row class="mar-bot2">
        <ion-col size="5" class="paddzero text-right">Gross Margin:</ion-col>
        <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 439.16</ion-col>
      </ion-row>
      <ion-row class="mar-bot2">
        <ion-col size="5" class="paddzero text-right">Net Margin:</ion-col>
        <ion-col size="7" class="paddzero text-left fontboldclr">&nbsp;$ 439.16</ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  </ion-card>
  <ion-row>
    <div><b class="titleheader fontheading">Sales Commission</b></div>
  </ion-row>
  <ion-card>
    <ion-col size="12">
      <ion-row style="margin-bottom: 4px;">
            <ion-col size="3" class="paddzero text-center">Retail:</ion-col>
            <ion-col size="8" class="paddzero text-left fontboldclr">&nbsp;<u>M7:Variable Gross Margin</u></ion-col>
      </ion-row>
      <ion-row class="mar-bot2">
        <ion-col size="3" class="paddzero text-left">Min-Max</ion-col>
        <ion-col size="2" class="paddzero text-center">Std</ion-col>
        <ion-col size="2" class="paddzero text-center">Bonus</ion-col>
        <ion-col size="3" class="paddzero text-center">Est Comm</ion-col>
        <ion-col size="2" class="paddzero text-right">Addon</ion-col>
      </ion-row>
      <ion-row class="mar-bot2">
          <ion-col size="3" class="paddzero text-left fontboldclr">0-100</ion-col>
          <ion-col size="2" class="paddzero text-center fontboldclr">5%</ion-col>
          <ion-col size="2" class="paddzero text-center fontboldclr">0%</ion-col>
          <ion-col size="3" class="paddzero text-center fontboldclr">21.96</ion-col>
          <ion-col size="2" class="paddzero text-right fontboldclr">0%</ion-col>
        </ion-row>
    </ion-col>
  </ion-card>
</ion-content>