<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button color="danger" type="button" (click)="ActionCloseSummaryEdit()">
        Cancel
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button color="primary" type="submit" (click)="ActionSaveHeader(true)">
        Save
      </ion-button>
    </ion-buttons> -->
    <ion-title align="center">
      <b>Summary</b>
    </ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-title class="titleheader font23"><b>Summary</b></ion-title>
    <ion-button slot="end" color="danger" size="small" (click)="ActionCloseSummaryEdit()">X</ion-button>
  </ion-toolbar> -->
</ion-header>
<ion-content class="card-background-page">
  <ion-card>
    <ion-row *ngIf="Version.LatestCoID == 0">
      <ion-col size="12">
        <ion-row class="mar-bot2">
          <ion-col size="6" class="paddzero text-right2 line-hight-in">Sub Total:</ion-col>
          <ion-col size="6" class="paddzero text-right2 line-hight-in fontboldclr">&nbsp;$ {{(Version.TotalAmt) | number : '.2-2'}}</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="6" class="paddzero text-right2 line-hight-in" (click)="ActionSummarySelect(1, 'Discount(s)')"><u>Discount:</u></ion-col>
          <ion-col size="6" class="paddzero text-right2 line-hight-in fontboldclr"><span style="color:red;">&nbsp;($
              {{(header.Version.DiscountAmt) | number : '.2-2'}})</span></ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="6" class="paddzero text-right2 line-hight-in" (click)="ActionSummarySelect(2, 'Sales Tax(%)')"><u>Sales Tax:</u></ion-col>
          <ion-col size="6" class="paddzero text-right2 line-hight-in fontboldclr">&nbsp;$ {{header.Version.TaxAmt | number : '.2-2'}}</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="6" class="paddzero text-right2 line-hight-in">Net Total:</ion-col>
          <ion-col size="6" class="paddzero text-right2 line-hight-in fontboldclr">$
            &nbsp;{{((Version.TotalAmt + Version.RoundOff + Version.TaxAmt - (Version.RefAmt + Version.RoundOff)) - (Version.DiscountAmt)) | number : '.2-2'}}
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="6" class="paddzero text-right2 line-hight-in" (click)="ActionSummarySelect(3, 'Charges')"><u>Fee & Charge:</u></ion-col>
          <ion-col size="6" class="paddzero text-right2 line-hight-in fontboldclr">&nbsp;$ {{(header.Version.RefAmt) | number : '.2-2'}}</ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="6" class="paddzero text-right2 line-hight-in">Final Total:</ion-col>
          <ion-col size="6" class="paddzero text-right2 line-hight-in fontboldclr">$
            &nbsp;{{((Version.TotalAmt + Version.RoundOff + Version.TaxAmt) - (Version.DiscountAmt)) | number : '.2-2'}}
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="6" class="paddzero text-right2 line-hight-in">Payment:</ion-col>
          <ion-col size="6" class="paddzero text-right2 line-hight-in fontboldclr">&nbsp;($ {{(Version.PmtReceived) | number : '.2-2'}})</ion-col>
        </ion-row>
        <ion-row class="mar-bot2" *ngIf="Version.RefundAmount > 0">
          <ion-col size="6" class="paddzero text-right2 line-hight-in">Refunds:</ion-col>
          <ion-col size="6" class="paddzero text-right2 line-hight-in fontboldclr">&nbsp;$ {{(Version.RefundAmount) | number : '.2-2'}}</ion-col>
        </ion-row>
        <ion-row class="mar-bot2" *ngIf="Version.PmtReceived != 0 || Version.RefundAmount != 0 || Version.CreditAmount != 0">
          <ion-col size="6" class="paddzero text-right2 line-hight-in">Balance:</ion-col>
          <ion-col size="6" class="paddzero text-right2 line-hight-in fontboldclr">$
            &nbsp;{{((((Version.TotalAmt + Version.RoundOff + Version.TaxAmt) - Version.DiscountAmt) - (Version.PmtReceived - Version.RefundAmount) - Version.CreditAmount)) | number : '.2-2'}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
     <ion-row *ngIf="Version.LatestCoID > 0">
      <ion-col size="12">
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right2 line-hight-in">Sub Total:</ion-col>
          <ion-col size="7" class="paddzero text-right2 line-hight-in fontboldclr">
            <ion-row>
              <ion-col size="3" class="text-right2 paddzero">$ {{(Version.TotalAmt- Version.RoundOff) | number : '.2-2'}}
              </ion-col>
              <ion-col size="1" class="text-center paddzero">+</ion-col>
              <ion-col size="3" class="text-right2 paddzero" color="success">
                <span *ngIf="Version.FinalAmt > 0">$ {{(Version.FinalAmt - Version.TotalAmt) | number : '.2-2'}}</span>
                <span *ngIf="Version.FinalAmt == 0">$ {{Version.NetCoTotal | number : '.2-2'}}</span>
              </ion-col>
              <ion-col size="1" class="text-center paddzero">=</ion-col>
              <ion-col size="4" class="text-right2 paddzero">
                <span *ngIf="Version.FinalAmt > 0">$ {{(Version.FinalAmt) | number : '.2-2'}}</span>
                <span *ngIf="Version.FinalAmt == 0">$
                  {{(Version.TotalAmt + Version.NetCoTotal) | number : '.2-2'}}&nbsp;</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right2 line-hight-in" (click)="ActionDiscSelect()">Discount:</ion-col>
          <ion-col size="7" class="paddzero text-right2 line-hight-in fontboldclr">
            <ion-row>
              <ion-col size="3" class="text-right2 paddzero" color="danger">($ {{(Version.DiscountAmt) | number : '.2-2'}})
              </ion-col>
              <ion-col size="1" class="text-center paddzero">+</ion-col>
              <ion-col size="3" class="text-right2 paddzero" color="danger">
                <span *ngIf="Version.FinalDiscAmt > 0">($
                  {{Version.FinalDiscAmt - Version.DiscountAmt | number : '.2-2'}})</span>
                <span *ngIf="Version.FinalDiscAmt == 0">($ {{Version.NetCoDisc | number : '.2-2'}})</span>
              </ion-col>
              <ion-col size="1" class="text-center paddzero">=</ion-col>
              <ion-col size="4" class="text-right2 paddzero" color="danger">
                <span *ngIf="Version.FinalDiscAmt > 0">($ {{Version.FinalDiscAmt | number : '.2-2'}})</span>
                <span *ngIf="Version.FinalDiscAmt == 0">($
                  {{(Version.DiscountAmt + Version.NetCoDisc) | number : '.2-2'}})&nbsp;</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right2 line-hight-in" (click)="ActionTaxSelect">Sales Tax:</ion-col>
          <ion-col size="7" class="paddzero text-right2 line-hight-in fontboldclr">
            <ion-row>
              <ion-col size="3" class="text-right2 paddzero">$ {{Version.TaxAmt | number : '.2-2'}}</ion-col>
              <ion-col size="1" class="text-center paddzero">+</ion-col>
              <ion-col size="3" class="text-right2 paddzero" color="success">
                <span *ngIf="Version.FinalTaxAmt > 0">$ {{(Version.FinalTaxAmt - Version.TaxAmt) | number: '.2-2'}}</span>
                <span *ngIf="Version.FinalTaxAmt == 0">$ {{Version.NetCoTax | number: '.2-2'}}</span>
              </ion-col>
              <ion-col size="1" class="text-center paddzero">=</ion-col>
              <ion-col size="4" class="text-right2 paddzero">
                <span *ngIf="Version.FinalTaxAmt > 0">$ {{(Version.FinalTaxAmt) | number: '.2-2'}}&nbsp;</span>
                <span *ngIf="Version.FinalTaxAmt == 0">$ {{(Version.TaxAmt + Version.NetCoTax) | number: '.2-2'}}&nbsp;</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right2 line-hight-in">Net Total:</ion-col>
          <ion-col size="7" class="paddzero text-right2 line-hight-in fontboldclr">
            <ion-row>
              <ion-col size="3" class="text-right2 paddzero">$
                {{((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt) - (Version.RefAmt + Version.RoundOff)) | number: '.2-2'}}
              </ion-col>
              <ion-col size="1" class="text-center paddzero">+</ion-col>
              <ion-col size="3" class="text-right2 paddzero" color="success">
                <span *ngIf="Version.FinalNetAmt > 0">$
                  {{ (Version.FinalNetAmt - ((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt))) | number: '.2-2'}}</span>
                <span *ngIf="Version.FinalNetAmt == 0">$
                  {{ ((Version.NetCoTotal + Version.NetCoTax) - Version.NetCoDisc) | number: '.2-2'}}</span>
              </ion-col>
              <ion-col size="1" class="text-center paddzero">=</ion-col>
              <ion-col size="4" class="text-right2 paddzero">
                <span *ngIf="Version.FinalNetAmt > 0">$
                  {{ (Version.FinalNetAmt - (Version.RefAmt + Version.RoundOff)) | number: '.2-2'}}</span>
                <span *ngIf="Version.FinalNetAmt == 0">$
                  {{ (((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt)) + ((Version.NetCoTotal + Version.NetCoTax) - Version.NetCoDisc) - (Version.RefAmt + Version.RoundOff)) | number: '.2-2'}}&nbsp;</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right2 line-hight-in" (click)="ActionFeeSelect">Fee & Charge:</ion-col>
          <ion-col size="7" class="paddzero text-right2 line-hight-in fontboldclr">
            <ion-row>
              <ion-col size="3" class="text-right2 paddzero"> $ {{(Version.RefAmt + Version.RoundOff) | number: '.2-2'}}
              </ion-col>
              <ion-col size="1" class="text-center paddzero">+</ion-col>
              <ion-col size="3" class="text-right2 paddzero" color="success">
                <span *ngIf="FinalFeeAndRoundAmt > 0">$
                  {{(FinalFeeAndRoundAmt - (Version.RefAmt + Version.RoundOff)) | number: '.2-2'}}</span>
                <span *ngIf="FinalFeeAndRoundAmt == 0">$ {{(Version.RefAmt + Version.RoundOff) | number: '.2-2'}}</span>
              </ion-col>
              <ion-col size="1" class="text-center paddzero">=</ion-col>
              <ion-col size="4" class="text-right2 paddzero">$ {{FinalFeeAndRoundAmt | number: '.2-2'}}&nbsp;</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right2 line-hight-in">Final Total:</ion-col>
          <ion-col size="7" class="paddzero text-right2 line-hight-in fontboldclr">
            <ion-row>
              <ion-col size="3" class="text-right2 paddzero">$
                {{((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt)) | number: '.2-2'}}</ion-col>
              <ion-col size="1" class="text-center paddzero">+</ion-col>
              <ion-col size="3" class="text-right2 paddzero" color="success">
                <span *ngIf="Version.FinalNetAmt > 0">$
                  {{ (Version.FinalNetAmt - ((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt))) | number: '.2-2'}}</span>
                <span *ngIf="Version.FinalNetAmt == 0">$
                  {{ ((Version.NetCoTotal + Version.NetCoTax) - Version.NetCoDisc) | number: '.2-2'}}</span>
              </ion-col>
              <ion-col size="1" class="text-center paddzero">=</ion-col>
              <ion-col size="4" class="text-right2 paddzero">
                <span *ngIf="Version.FinalNetAmt > 0">$ {{ Version.FinalNetAmt | number: '.2-2'}}</span>
                <span *ngIf="Version.FinalNetAmt == 0">$
                  {{ (((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt)) + ((Version.NetCoTotal + Version.NetCoTax) - Version.NetCoDisc)) | number: '.2-2'}}&nbsp;</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2">
          <ion-col size="5" class="paddzero text-right2 line-hight-in">Payment:</ion-col>
          <ion-col size="7" class="paddzero text-right2 line-hight-in fontboldclr">
            <ion-row>
              <ion-col size="3" class="text-right2 paddzero" color="danger">($ {{(Version.PmtReceived) | number: '.2-2'}})
              </ion-col>
              <ion-col size="1" class="text-center paddzero">+</ion-col>
              <ion-col size="3" class="text-right2 paddzero" color="danger">
                ($ 0.00)
              </ion-col>
              <ion-col size="1" class="text-center paddzero">=</ion-col>
              <ion-col size="4" class="text-right2 paddzero" color="danger">
                ($ {{(Version.PmtReceived) | number: '.2-2'}})&nbsp;
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2" *ngIf="Version.CreditAmount > 0">
          <ion-col size="5" class="paddzero text-right2 line-hight-in">Credits:</ion-col>
          <ion-col size="7" class="paddzero text-right2 line-hight-in fontboldclr">
            <ion-row>
              <ion-col size="3" class="text-right2 paddzero" color="danger">($ {{(Version.CreditAmount) | number: '.2-2'}})
              </ion-col>
              <ion-col size="1" class="text-center paddzero">+</ion-col>
              <ion-col size="3" class="text-right2 paddzero" color="danger">
                ($ 0.00)
              </ion-col>
              <ion-col size="1" class="text-center paddzero">=</ion-col>
              <ion-col size="4" class="text-right2 paddzero">
                $ {{(Version.CreditAmount) | number: '.2-2'}}&nbsp;
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2" *ngIf="Version.RefundAmount > 0">
          <ion-col size="5" class="paddzero text-right2 line-hight-in">Refunds:</ion-col>
          <ion-col size="7" class="paddzero text-right2 line-hight-in fontboldclr">
            <ion-row>
              <ion-col size="3" class="text-right2 paddzero" color="danger">($
                {{(quote.header.Version.RefundAmount) | number: '.2-2'}})</ion-col>
              <ion-col size="1" class="text-center paddzero">+</ion-col>
              <ion-col size="3" class="text-right2 paddzero" color="danger">
                ($ 0.00)
              </ion-col>
              <ion-col size="1" class="text-center paddzero">=</ion-col>
              <ion-col size="4" class="text-right2 paddzero">
                $ {{(quote.header.Version.RefundAmount) | number: '.2-2'}}&nbsp;
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="mar-bot2" *ngIf="Version.PmtReceived != 0 || Version.RefundAmount != 0 || Version.CreditAmount != 0">
          <ion-col size="5" class="paddzero text-right2 line-hight-in">Balance:</ion-col>
          <ion-col size="7" class="paddzero text-right2 line-hight-in fontboldclr">
            <ion-row>
              <ion-col size="3" class="text-right2 paddzero">$
                {{((((Version.TotalAmt + Version.TaxAmt) - (Version.DiscountAmt)) - (Version.PmtReceived - Version.RefundAmount)) - Version.CreditAmount) | number: '.2-2'}}
              </ion-col>
              <ion-col size="1" class="text-center paddzero">+</ion-col>
              <ion-col size="3" class="text-right2 paddzero">
                ($ 0.00)
              </ion-col>
              <ion-col size="1" class="text-center paddzero">=</ion-col>
              <ion-col size="4" class="text-right2 paddzero" color="danger">
                <span *ngIf="Version.FinalNetAmt > 0">$
                  {{((Version.FinalNetAmt - (Version.PmtReceived - Version.RefundAmount)) - Version.CreditAmount) | number: '.2-2'}}</span>
                <span *ngIf="Version.FinalNetAmt == 0">$
                  {{(((((Version.TotalAmt + Version.TaxAmt + Version.CreditAmount) - (Version.DiscountAmt)) + ((Version.NetCoTotal + Version.NetCoTax) - Version.NetCoDisc)) - (Version.PmtReceived- Version.RefundAmount))) | number: '.2-2'}}&nbsp;</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>