<ion-row>
    <ion-icon name="menu"></ion-icon>&nbsp;&nbsp;
    <ion-label class="labelfont">Customer Contacts</ion-label>
</ion-row>
<ion-card>
    <ion-card-header (click)="ActionEditCustomer()">
        <ion-label> Test Quote</ion-label>
    </ion-card-header>
    <ion-card-content>
        <p>
            <ion-icon name="contact"></ion-icon>
            412 Hartford street, Bellingham, MI - 12345
        </p>
    </ion-card-content>
</ion-card>


<!-- <ion-content class="bg-gray paddall">
    <ion-slides pager>
        <ion-slide class="paddall borderall">
            <ion-list class="text-font" style="width:100%;">
                <ion-row class="text-center border-btm">
                    <ion-col class="paddzero mar-btm">
                        <span class="text-font">JOB DETAILS</span>
                    </ion-col>
                    <ion-col size="2" class="paddzero text-right fontbold color-blue" (click)="ActionQuoteHeader()">
                        <u>Edit</u>&nbsp;
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left fontbold">&nbsp;#{{header.QuoteNo}} - V{{version.SrNo}}
                        - {{header.QuoteName}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">
                        &nbsp;{{header.Address1}},{{header.City}},{{header.State}} - {{header.Zipcode}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Email}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Phone}}</ion-col>
                </ion-row>
            </ion-list>
        </ion-slide>
        <ion-slide class="paddall borderall">
            <ion-list class="text-font" style="width:100%;">
                <ion-row class="text-center border-btm">
                    <ion-col class="paddzero mar-btm">
                        <span class="text-font">JOB DETAILS</span>
                    </ion-col>
                    <ion-col size="2" class="paddzero text-right fontbold color-blue" (click)="ActionQuoteHeader()">
                        <u>Edit</u>&nbsp;
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left fontbold">&nbsp;#{{header.QuoteNo}} - V{{version.SrNo}}
                        - {{header.QuoteName}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">
                        &nbsp;{{header.Address1}},{{header.City}},{{header.State}} - {{header.Zipcode}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Email}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Phone}}</ion-col>
                </ion-row>
            </ion-list>
        </ion-slide>
        <ion-slide class="paddall borderall">
            <ion-list class="text-font" style="width:100%;">
                <ion-row class="text-center border-btm">
                    <ion-col class="paddzero mar-btm">
                        <span class="text-font">JOB DETAILS</span>
                    </ion-col>
                    <ion-col size="2" class="paddzero text-right fontbold color-blue" (click)="ActionQuoteHeader()">
                        <u>Edit</u>&nbsp;
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left fontbold">&nbsp;#{{header.QuoteNo}} - V{{version.SrNo}}
                        - {{header.QuoteName}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">
                        &nbsp;{{header.Address1}},{{header.City}},{{header.State}} - {{header.Zipcode}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Email}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Phone}}</ion-col>
                </ion-row>
            </ion-list>
        </ion-slide>
    </ion-slides>
    <ion-item class="text-center">
        <h3>Area Info</h3>
    </ion-item>
    <ion-item>
        <img src="assets/img/arealayout.png" alt="your image" style="width:305px;height:400px;">
    </ion-item>
</ion-content> -->