<ion-row>
    <ion-col>
        <h2 class="margin-bottom">
            Account
        </h2>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        <ion-card class="margin-bottom margin-leftzero">
            <ion-item class="borbottom">
                <ion-label>
                    <h2 (click)="ActionEditCustomer()">Eldredge Lumber & Hardware, Inc.</h2>
                    <p>
                        <ion-icon name="pin" class="text-font"></ion-icon>
                        POB 69 Route 1,Neddick,ME-03902
                    </p>
                </ion-label>
            </ion-item>
            <ion-row>
                <ion-col><span class="text-font color-blue margin-bottom"> Contacts</span></ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-icon class="text-font" name="contact"></ion-icon> Sabrina Wimble-Ruel,
                    <ion-icon class="text-font" name="mail"></ion-icon>sruel@eldredgelumber.com
                    <ion-icon class="text-font" name="call"></ion-icon> (207) 363-3004
                </ion-col>
                <ion-col size="12">
                    <ion-icon class="text-font" name="contact"></ion-icon> Carey Goltz,
                    <ion-icon class="text-font" name="mail"></ion-icon>carey@eldredgelumber.com
                    <ion-icon class="text-font" name="call"></ion-icon> (207) 363-3004
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-col>
</ion-row>




<ion-row>
    <ion-col>

        <h2 class="margin-bottom">
            Customer
        </h2>

    </ion-col>
</ion-row>

<ion-row>
    <ion-col>
        <ion-card class="margin-bottom margin-leftzero">
            <ion-item class="borbottom">
                <ion-label>
                    <h2 (click)="ActionEditCustomer()">Michael Ethan</h2>
                    <p>
                        <ion-icon name="pin" class="text-font"></ion-icon>
                        777 Brockton Avenue,Abington ,MA - 2351
                    </p>
                </ion-label>
            </ion-item>
            <ion-row>
                <ion-col><span class="text-font color-blue margin-bottom"> Contacts</span></ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-icon class="text-font" name="contact"></ion-icon> Michael Ethan,
                    <ion-icon class="text-font" name="mail"></ion-icon>Ethan@gmail.com
                    <ion-icon class="text-font" name="call"></ion-icon> (987) 456-3210;
                </ion-col>
                <ion-col size="12">
                    <ion-icon class="text-font" name="contact"></ion-icon> Carey Goltz,
                    <ion-icon class="text-font" name="mail"></ion-icon>carey@gmail.com
                    <ion-icon class="text-font" name="call"></ion-icon> (207) 363-3004
                </ion-col>
            </ion-row>

        </ion-card>
    </ion-col>
</ion-row>





<!-- <ion-content class="bg-gray paddall">
    <ion-slides pager>
        <ion-slide class="paddall borderall">
            <ion-list class="text-font" style="width:100%;">
                <ion-row class="text-center border-btm">
                    <ion-col class="paddzero mar-btm">
                        <span class="text-font">JOB DETAILS</span>
                    </ion-col>
                    <ion-col size="2" class="paddzero text-right fontbold color-blue" (click)="ActionQuoteHeader()">
                        <u>Edit</u>&nbsp;
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left fontbold">&nbsp;#{{header.QuoteNo}} - V{{version.SrNo}}
                        - {{header.QuoteName}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">
                        &nbsp;{{header.Address1}},{{header.City}},{{header.State}} - {{header.Zipcode}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Email}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Phone}}</ion-col>
                </ion-row>
            </ion-list>
        </ion-slide>
        <ion-slide class="paddall borderall">
            <ion-list class="text-font" style="width:100%;">
                <ion-row class="text-center border-btm">
                    <ion-col class="paddzero mar-btm">
                        <span class="text-font">JOB DETAILS</span>
                    </ion-col>
                    <ion-col size="2" class="paddzero text-right fontbold color-blue" (click)="ActionQuoteHeader()">
                        <u>Edit</u>&nbsp;
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left fontbold">&nbsp;#{{header.QuoteNo}} - V{{version.SrNo}}
                        - {{header.QuoteName}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">
                        &nbsp;{{header.Address1}},{{header.City}},{{header.State}} - {{header.Zipcode}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Email}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Phone}}</ion-col>
                </ion-row>
            </ion-list>
        </ion-slide>
        <ion-slide class="paddall borderall">
            <ion-list class="text-font" style="width:100%;">
                <ion-row class="text-center border-btm">
                    <ion-col class="paddzero mar-btm">
                        <span class="text-font">JOB DETAILS</span>
                    </ion-col>
                    <ion-col size="2" class="paddzero text-right fontbold color-blue" (click)="ActionQuoteHeader()">
                        <u>Edit</u>&nbsp;
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left fontbold">&nbsp;#{{header.QuoteNo}} - V{{version.SrNo}}
                        - {{header.QuoteName}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">
                        &nbsp;{{header.Address1}},{{header.City}},{{header.State}} - {{header.Zipcode}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Email}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1" class="paddzero text-right"></ion-col>
                    <ion-col size="11" class="paddzero text-left">&nbsp;{{header.Phone}}</ion-col>
                </ion-row>
            </ion-list>
        </ion-slide>
    </ion-slides>
    <ion-item class="text-center">
        <h3>Area Info</h3>
    </ion-item>
    <ion-item>
        <img src="assets/img/arealayout.png" alt="your image" style="width:305px;height:400px;">
    </ion-item>
</ion-content> -->