<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-round-back" class="fontlarge" (click)="ActionGoToHome()"></ion-icon>
    </ion-buttons>
    <ion-title><h1>Quote Inquiry</h1></ion-title>
    <ion-icon name="add-circle" slot="end" class="fontlarge paddright" (click)="ActionCreateQuote()"></ion-icon>
    <ion-icon name="home" slot="end" class="fontlarge" (click)="ActionGoToHome()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar #quotesearch (keyup.enter)="ActionSearch(quotesearch.value)" placeholder="Enter Customer Name/Job#"></ion-searchbar>
<ion-card *ngFor="let header of quotelist" class="margin-bottom">
  <ion-item (click)="ActionQuoteEdit(header)"><ion-label>
   <h2># {{header.QuoteNo}} - {{header.QuoteName}}</h2>
   <p><ion-icon name="contact" class="color-coral fontmedium"></ion-icon><span class="valignsup">{{header.CustomerName}} &nbsp;- &nbsp;</span><ion-icon name="person" class="fontmedium" style="color:#3880ff;"></ion-icon><span class="valignsup">{{header.SalesPerson}}</span></p> </ion-label>
  
  </ion-item>
  <ion-row>
    <ion-col>
      <span (click)="ActionQuoteEdit1(header,1)" ><u>LA1</u></span>&nbsp;<span (click)="ActionQuoteEdit1(header,2)"><u>LA2</u></span>&nbsp;
  <span (click)="ActionQuoteEdit1(header,3)"><u>LA3</u></span>&nbsp;<span (click)="ActionQuoteEdit1(header,4)"><u>LA4</u></span>&nbsp;
    </ion-col>
  </ion-row>
</ion-card>

    <ion-infinite-scroll threshold="50%" (ionInfinite)="AtiondoInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>