<form #form="ngForm" class="dis-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="titleheader">{{SumName}}</ion-title>
      <ion-button slot="end" color="success" size="small" *ngIf="SummaryTypeID == 1" (click)="ActionSaveQuoteDiscount(form)">Save
      </ion-button>
      <ion-button slot="end" color="success" size="small" *ngIf="SummaryTypeID == 2" (click)="ActionSaveSalesTax(form)">
        Save</ion-button>
      <ion-button slot="end" color="success" size="small" *ngIf="SummaryTypeID == 3"
        (click)="ActionSaveReferralFee(form)">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionToClosePop()">X</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="SummaryTypeID == 1">
    <ion-row style="height:360px">
      <ion-col *ngFor="let dis of DiscountList">
        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary">Discount</ion-label>
          <ion-select class="btninfo" interface="popover" [(ngModel)]="dis.DiscID" name="discname"
            (ionChange)="ActionChangeDiscount(dis,2)">
            <ion-select-option *ngFor="let d of DiscountTypeList" [value]="d.ID">{{d.Name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary">Value($/%)</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="dis.DiscVal" name="DiscVal"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary"></ion-label>
          <ion-select [(ngModel)]="dis.DiscTypeID" name="DiscTypeID" class="labelfont">
            <ion-select-option *ngFor="let disc of DiscTypes1" [value]="disc.ID">{{disc.Name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item style="margin-left: -4%;">
          <ion-checkbox style="margin-left: 4%;"></ion-checkbox>
          <ion-label style="margin-left: 5px;">Tax</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-content>
  <ion-content *ngIf="SummaryTypeID == 2">
    <ion-row style="height:360px">
      <ion-col>
        <ion-item>
          <ion-label class="labelfont" color="primary">Customer Tax Code:</ion-label>
          <ion-checkbox class="btninfo" slot="end" [(ngModel)]="header.Version.TaxCode" name="TaxCode"
            (ionChange)="CheckUncheckTaxCode()">Tax</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary"></ion-label>
          <ion-select class="btninfo" interface="popover" [(ngModel)]="header.Version.TaxID" name="TaxID"
            [disabled]="header.Version.TaxCode == 0">
            <ion-select-option *ngFor="let mat of TaxTypeList" [value]="mat.ID">{{mat.Name}}</ion-select-option>
          </ion-select>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.Tax" name="MatPercent"
            [disabled]="header.Version.MatPercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Material:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.MatPercent" name="MatPercent"
            [disabled]="header.Version.MatPercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Fabrication:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.FabPercent" name="FabPercent"
            [disabled]="header.Version.FabPercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Edge,Cutouts:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.GradePercent" name="GradePercent"
            [disabled]="header.Version.GradePercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Sink,Faucet:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.AddonPercent" name="AddonPercent"
            [disabled]="header.Version.AddonPercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Appliance:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.AppliancePercent" name="AppliancePercent"
            [disabled]="header.Version.AppliancePercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Add on:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.OtherPercent" name="OtherPercent"
            [disabled]="header.Version.OtherPercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Labor:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.LaborPercent" name="LaborPercent"
            [disabled]="header.Version.LaborPercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Tile:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.TilePercent" name="TilePercent"
            [disabled]="header.Version.TilePercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Cabinet:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.CabinetPercent" name="CabinetPercent"
            [disabled]="header.Version.CabinetPercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Carpet:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.CarpetPercent" name="CarpetPercent"
            [disabled]="header.Version.CarpetPercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Wood Floor:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.FloorPercent" name="FloorPercent"
            [disabled]="header.Version.FloorPercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Consumable:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.ConsumablePercent"
            name="ConsumablePercent" [disabled]="header.Version.ConsumablePercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Tool:</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.ToolPercent" name="ToolPercent"
            [disabled]="header.Version.ToolPercent == 0">
            <ion-row style="margin-right: 3px;">%</ion-row>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-content>
  <ion-content *ngIf="SummaryTypeID == 3">
    <ion-row style="height:360px">
      <ion-col>
        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary">Fees</ion-label>
          <ion-select class="btninfo" interface="popover" [(ngModel)]="header.Version.FeeID" name="FeeID"
            (ionChange)="ActionChangeFeeType(header.Version.FeeID)">
            <ion-select-option *ngFor="let mat of FeeTypeList " [value]="mat.ID">{{mat.Name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary"></ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.RefFee" name="RefFee"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelfont" position="floating" color="primary"></ion-label>
          <ion-select [(ngModel)]="header.Version.FeeTypeID" class="labelfont" name="FeeTypeID">
            <ion-select-option *ngFor="let disc of DiscTypes1" [value]="disc.ID">{{disc.Name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item style="margin-left: -4%;">
          <ion-checkbox style="margin-left: 4%;" [(ngModel)]="header.Version.IsFeeTax" name="IsFeeTax"></ion-checkbox>
          <ion-label style="margin-left: 5px;">FeeTax</ion-label>
        </ion-item>
        <ion-item>
          <ion-col size="6">
            <ion-label class="labelfont" color="primary">Net Total W/O Round Off:</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-input type="text" class="labelfont" readonly="readonly" name="Net">$
                {{((header.Version.TotalAmt + header.Version.TaxAmt) - (header.Version.DiscountAmt))}}</ion-input>
            </ion-item>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6">
            <ion-range value="20">
              <ion-icon slot="start" size="small" name="remove" (click)="ActionRoundAmount(0)"></ion-icon>
              <ion-icon slot="end" name="add" (click)="ActionRoundAmount(1)"></ion-icon>
            </ion-range>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label class="labelfont" position="floating" color="primary">Round Off:</ion-label>
              <ion-input type="text" class="labelfont" [(ngModel)]="header.Version.copyroundoff" name="copyroundoff">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="6">
            <ion-label class="labelfont" color="primary">Net Total:</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-input type="text" class="labelfont" readonly="readonly" name="Total">$
                {{(header.Version.copynetamt)}}</ion-input>
            </ion-item>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-content>
</form>