
    <ion-list class="ion-no-margin ion-no-padding">
        <ion-row class="marbot">
          <ion-col>
              <h2 class="margin-bottom6">
                  <div>Job Description:</div>
              </h2>
          </ion-col>
          <ion-col size="2" class="text-right">
            <ion-icon name="create" class="fontmedium" (click)="ActionEditJobDesc(1)"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="paddall">
          <ion-textarea rows="5" cols="20" [(ngModel)]="Version.Description" class="borderall" readonly="readonly"></ion-textarea>
        </ion-row>
        <ion-row class="marbot">
            <ion-col>
                <h2 class="margin-bottom6">
                    <div>Private:</div>
                </h2>
            </ion-col>
            <ion-col size="2" class="text-right">
              <ion-icon name="create" class="fontmedium" (click)="ActionEditJobDesc(2)"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row class="paddall">
          <ion-textarea rows="5" cols="20" [(ngModel)]="Version.PrivateNote" class="borderall" readonly="readonly"></ion-textarea>
        </ion-row>
      </ion-list>
  
