<ion-content>
  <form name="form" (ngSubmit)="ActionSubmit()" #f="ngForm">
    <ion-toolbar class="poss">
      <ion-title class="titleheader">Material</ion-title>
      <ion-button slot="end" color="success" size="small" type="submit">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionToClose()">X</ion-button>
    </ion-toolbar>
    <ion-item>
      <ion-label class="labelfont margin-top" position="floating" color="primary">Description</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="material.MaterialName" name="MaterialName" #MaterialName="ngModel" 
      [ngClass]="{ 'is-invalid': f.submitted && MaterialName.invalid }" required></ion-input>
      <ion-icon slot="end" class="marg2" name="add" (click)="ActionCreateAddMaterial()"></ion-icon>
    </ion-item>
    <div *ngIf="f.submitted && MaterialName.invalid" class="invalid-feedback padd-Left">
      <div *ngIf="MaterialName.errors.required" class="error">Description is required</div>
  </div>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Quantity</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="material.FinishedSqft" name="FinishedSqft" readonly="readonly"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Cost/Unit</ion-label>
      <ion-input type="text" class="labelfont"  [(ngModel)]="material.UnitCost" name="UnitCost" readonly="readonly"><ion-row class="margin-right3">$</ion-row></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Margin</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="material.Margin" name="Margin" readonly="readonly"><ion-row class="margin-right3">%</ion-row></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Price/Unit</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="material.UnitPrice" name="UnitPrice" readonly="readonly"><ion-row class="margin-right3">$</ion-row></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Amount</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="material.Amt" name="Amt" readonly="readonly"><ion-row class="margin-right3">$</ion-row></ion-input>
    </ion-item>
  </form>
</ion-content>


