<ion-row>
 <ion-col>
  <img src="assets/img/Checklist-icon.png" alt="your image" style="width:50px;height:50px;">
  <div><span style="font-size:11px;">summary</span></div>
 </ion-col>
 <ion-col>
  <img src="assets/img/Drawing-icon.png" alt="your image" style="width:50px;height:50px;">
  <div><span style="font-size:11px;">Area</span></div>
 </ion-col>
 <ion-col>
  <img src="assets/img/email-icon.png" alt="your image" style="width:50px;height:50px;">
  <div><span style="font-size:11px;">Comm Hub</span></div>
 </ion-col>
 <ion-col>
  <img src="assets/img/calendar-icon.png" alt="your image" style="width:50px;height:50px;">
  <div><span style="font-size:11px;">Activities</span></div>
 </ion-col>
 <ion-col>
  <img src="assets/img/marbles-icon.png" alt="your image" style="width:50px;height:50px;">
  <div><span style="font-size:11px;">Other</span></div>
 </ion-col>
</ion-row>