<ion-content>
  <form name="form" (ngSubmit)="ActionFaucetSubmit()" #f="ngForm">
    <ion-toolbar class="poss">
      <ion-title class="titleheader">Edge</ion-title>
      <ion-button slot="end" color="success" size="small" type="submit">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionToClose()">X</ion-button>
    </ion-toolbar>

    <ion-item>
      <ion-label class="labelfont margin-top" position="floating" color="primary">Description</ion-label>
      <ion-select [(ngModel)]="edge.EdgeProfileID" name="edge" 
      #edge="ngModel" [ngClass]="{ 'is-invalid': f.submitted && edge.invalid }" class="labelfont"
      required>
        <ion-select-option *ngFor="let edg of edgelist"> {{edg.Description}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="f.submitted && edge.invalid" class="invalid-feedback padd-Left">
      <div *ngIf="edge.errors.required" class="error">Description is required</div>
    </div>
    
      <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Quantity</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="edge.LF" name="LF" (change)="ActionSetAmount()"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Cost/Unit</ion-label>
        <ion-input type="text" class="labelfont" [(ngModel)]="edge.UnitCost" name="UnitCost" (change)="ActionSetMargin(1,edge,'edge')"><ion-row class="mar-right3">$</ion-row></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Margin</ion-label>
        <ion-input type="text" class="labelfont" [(ngModel)]="edge.Margin" name="Margin" (change)="ActionSetMargin(2,edge,'edge')"><ion-row class="mar-right3">%</ion-row></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Price/Unit</ion-label>
        <ion-input type="text" class="labelfont" [(ngModel)]="edge.UnitPrice" name="UnitPrice" (change)="ActionSetMargin(3,edge,'edge')"><ion-row class="mar-right3">$</ion-row></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Amount</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="edge.Amt" name="Amount" readonly="readonly"><ion-row class="mar-right3">$</ion-row></ion-input>
        </ion-item>
    </form>
  </ion-content>


