<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="titleheader">
      {{ViewType}}
    </ion-title>
    <ion-button slot="end" color="success" size="small">Save</ion-button>
    <ion-button slot="end" color="danger" size="small" (click)="ActionToClose()">X</ion-button>
  </ion-toolbar>
</ion-header> -->

  <form (ngSubmit)="ActionSaveLabor(f)" #f="ngForm" class="dis-content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="titleheader">{{ViewType}}</ion-title>
        <ion-button slot="end" color="success" size="small" type="submit">Save</ion-button>
        <ion-button slot="end" color="danger" size="small" (click)="ActionCloseLabor(false)">X</ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-item *ngIf="labor.ViewTypeID == 0">
      <ion-label class="labelfont" position="floating" color="primary">Description</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="labor.Description" name="Description"
        (keyup.enter)="ActionSearchSelect($event,1,7)" #Des="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && Des.invalid }" class="labelfont" required></ion-input>
      <ion-icon slot="end" class="marg18" name="arrow-dropdown" (click)="ActionSearchSelect($event,2,7)"></ion-icon>
      <ion-icon slot="end" class="marg18" name="search" (click)="ActionSearchSelect($event,1,7)"></ion-icon>
    </ion-item>
    <ion-item *ngIf="labor.ViewTypeID == 1">
      <ion-label class="labelfont" position="floating" color="primary">Description</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="labor.Description" name="Description" #Des="ngModel"
        readonly="readonly" [ngClass]="{ 'is-invalid': f.submitted && Des.invalid }" class="labelfont" required>
      </ion-input>
    </ion-item>
    <div *ngIf="f.submitted && Des.invalid" class="invalid-feedback padd-Left">
      <div *ngIf="Des.errors.required" class="error">Description is required</div>
    </div>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Quantity</ion-label>
      <ion-input *ngIf="labor.ViewTypeID == 0" type="text" class="labelfont" [(ngModel)]="labor.Qty" name="Qty"
        (change)="ActionSetAmount()">
      </ion-input>
      <ion-input *ngIf="labor.ViewTypeID == 1" type="text" class="labelfont" [(ngModel)]="labor.Qty" readonly="readonly"
        name="Qty">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Cost/Unit</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="labor.UnitCost" name="UnitCost"
        (change)="ActionSetMargin(1,labor,'labor')">
        <ion-row class="margin-right3">$</ion-row>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Margin</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="labor.Margin" name="Margin"
        (change)="ActionSetMargin(2,labor,'labor')">
        <ion-row class="margin-right3">%</ion-row>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Price/Unit</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="labor.UnitPrice" name="UnitPrice"
        (change)="ActionSetMargin(3,labor,'labor')">
        <ion-row class="margin-right3">$</ion-row>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Amount</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="labor.Amount" name="Amount">
        <ion-row class="margin-right3">$</ion-row>
      </ion-input>
    </ion-item>
    </ion-content>
  </form>
