<ion-content>
  <form name="form" (ngSubmit)="ActionSubmit()" #f="ngForm">
    <ion-toolbar class="poss">
      <ion-title class="titleheader">Add On</ion-title>
      <ion-button slot="end" color="success" size="small" type="submit">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionToClose()">X</ion-button>
    </ion-toolbar>
    <ion-item>
      <ion-label class="labelfont margin-top" position="floating" color="primary">Description</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="other.Description" name="Description" #Description="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && Description.invalid }" required
        (keyup.enter)="ActionSearchSelect($event,2,11)"></ion-input>
      <ion-icon slot="end" class="marg2" name="arrow-dropdown" (click)="ActionSearchSelect($event,2,11)"></ion-icon>
      <ion-icon slot="end" class="marg2" name="search" (click)="ActionSearchSelect($event,2,11)"></ion-icon>
    </ion-item>
    <div *ngIf="f.submitted && Description.invalid" class="invalid-feedback padd-Left">
      <div *ngIf="Description.errors.required" class="error">Description is required</div>
    </div>
    <ion-item>
      <ion-label class="labelfont" position="floating" color="primary">Quantity</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="other.Qty" name="Qty" (change)="ActionSetAmount()">
        <ion-row style="margin-right: 3px;"></ion-row>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Cost/Unit</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="other.UnitCost" name="UnitCost"
        (change)="ActionSetMargin(1,other,'addon')">
        <ion-row style="margin-right: 3px;">$</ion-row>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Margin</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="other.Margin" name="Margin"
        (change)="ActionSetMargin(2,other,'addon')">
        <ion-row style="margin-right: 3px;">%</ion-row>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Price/Unit</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="other.UnitPrice" name="UnitPrice"
        (change)="ActionSetMargin(3,other,'addon')">
        <ion-row style="margin-right: 3px;">$</ion-row>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="stacked" color="primary">Amount</ion-label>
      <ion-input type="text" class="labelfont" [(ngModel)]="other.Amount" name="Amount">
        <ion-row style="margin-right: 3px;">$</ion-row>
      </ion-input>
    </ion-item>
  </form>
</ion-content>