.bg-gray {
    background-color:#c4c4c4;
}
.span1 {
    border:none; 
    background-color:white; 
    color:black;
}
.bg-gray2 {
    background-color:gray;
}
.smallfont1{
    font-size: 11px;
}

.paddzero2{
    padding:0px;
    font-size: 14px;
}

.bg-yellow {
    background-color: khaki;
}

.bg-gray3 {
    background-color: #fcfcd4;
}
.colorblue {
    color: #2b689e;
}
.smallfont2 {
    font-size: 12px;
}

.laywidth{
    width: 9%;
    max-width: 9%;
}
.laywid{
    width: 6%;
    max-width: 6%;
}
.font13{
    font-size: 13px;
}