.martb5 {
    margin-top: 5px;
    margin-bottom: 10px;
}
.marbot2 {
    margin-bottom: 10px;
}
.btninfo{
    border:1px solid #ddd;
    padding:5px;
    border-radius: 5px;
    color: darkcyan;
    font-weight: 600;
}
.paddlef0 {
    padding-left: 0px;
}
.paddrght5 {
    padding-right: 5px;
}


