<ion-header>
  <ion-toolbar>
    <ion-title class="titleheader"><div *ngIf="TypeID == 1">Sink Cutout</div>
      <div *ngIf="TypeID == 3">Appliance Cutout</div><div *ngIf="TypeID == 2">Outlet Cutout</div></ion-title>
    <ion-button slot="end" color="success" size="small">Save</ion-button>
    <ion-button slot="end" color="danger" size="small" (click)="ActionToClose()">X</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
    <form>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Description</ion-label>
        <ion-input type="text" class="labelfont" [(ngModel)]="cutout.Type" name="Type"></ion-input>
        <ion-icon slot="end" style="margin-top: 20px;" name="arrow-dropdown"></ion-icon>
      </ion-item>
      <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Quantity</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="cutout.LF" name="LF" readonly="readonly"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Cost/Unit</ion-label>
        <ion-input type="text" class="labelfont" [(ngModel)]="cutout.UnitCost" name="UnitCost"><ion-row style="margin-right: 3px;">$</ion-row></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Margin</ion-label>
        <ion-input type="text" class="labelfont" [(ngModel)]="cutout.Margin" name="Margin"><ion-row style="margin-right: 3px;">%</ion-row></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Price/Unit</ion-label>
        <ion-input type="text" class="labelfont" [(ngModel)]="cutout.Unitprice" name="UnitPrice"><ion-row style="margin-right: 3px;">$</ion-row></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="labelfont" position="stacked" color="primary">Amount</ion-label>
          <ion-input type="text" class="labelfont" [(ngModel)]="cutout.Amt" name="Amt" readonly="readonly"><ion-row style="margin-right: 3px;">$</ion-row></ion-input>
        </ion-item>
    </form>
</ion-content>






<!-- DONT DELETE THIS -->
<!-- <ion-content>
  <form>
      <ion-row>
          <ion-col size="3">
             <ion-label>
             </ion-label>
          </ion-col>
          <ion-col size="9">
             <img src="assets/img/Uploadimg.png" alt="your image" style="width:150px;height:120px;margin-left: 10px;">
          </ion-col>
          <ion-col size="3">
              <ion-label>
              </ion-label>
           </ion-col>
           <ion-col size="9">
              <ion-label style="text-align: center;font-style: italic; font-size: 11px; margin-left: 10px;" color="primary">(Tap image to view fullscreen)</ion-label>
           </ion-col>
       </ion-row>
 
    <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Product Group</ion-label>
        <ion-input type="text" class="labelfont" value="Cutout"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Product Sub-Group</ion-label>
        <ion-input type="text" class="labelfont" value="Standard Cutout"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Product Code</ion-label>
        <ion-input type="text" class="labelfont" value="1505"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Supplier Code</ion-label>
        <ion-input type="text" class="labelfont" value="1505"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Supplier</ion-label>
        <ion-input type="text" class="labelfont" value="MSI"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Product Name</ion-label>
        <ion-input type="text" class="labelfont" value="Kitchen Cutout"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Sink Type</ion-label>
        <ion-input type="text" class="labelfont" *ngIf="TypeID == 1"value="Sink Cutout" readonly="readonly"></ion-input>
        <ion-input type="text" class="labelfont" *ngIf="TypeID == 2"value="Applience Cutout" readonly="readonly"></ion-input>
        <ion-input type="text" class="labelfont" *ngIf="TypeID == 3"value="Outlet Cutout" readonly="readonly"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Cutout Type</ion-label>
        <ion-input type="text" class="labelfont" value="Undermount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Measurements(WxH)</ion-label>
        <ion-input type="text" class="labelfont" readonly="readonly" value="Backsplash"></ion-input>
      </ion-item>
      <ion-item style="margin-left: -6%;">
        <ion-row>
          <ion-col size="12" style="padding: 0px; margin-left: 14%;">
                  <ion-col size="3"><input type="text" readonly="readonly" style="width:20%" value="120"></ion-col>
                  <ion-col size="1">X</ion-col>
                  <ion-col size="3"><input type="text" readonly="readonly" style="width:20%" value="2"></ion-col>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">No. of Faucet Holes</ion-label>
        <ion-input type="text" class="labelfont"  value="0"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Basin Type</ion-label>
        <ion-input type="text" class="labelfont" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">UOM</ion-label>
        <ion-input type="text" class="labelfont" value="Esch" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Risk level</ion-label>
        <ion-input type="text" class="labelfont" value="Low" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Re-Order</ion-label>
        <ion-input type="text" class="labelfont"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Max</ion-label>
        <ion-input type="text" class="labelfont" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Cost</ion-label>
        <ion-input type="text" class="labelfont" readonly="readonly" value="10"><ion-row style="margin-right: 3px;">$</ion-row></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Margin</ion-label>
        <ion-input type="text" class="labelfont"  value="0"><ion-row style="margin-right: 3px;">%</ion-row></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Tax</ion-label>
        <ion-input type="text" class="labelfont" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelfont" position="stacked" color="primary">Price</ion-label>
        <ion-input type="text" class="labelfont" value="12.5"><ion-row style="margin-right: 3px;">$</ion-row></ion-input>
      </ion-item>
      
    <ion-item>
      <ion-label class="labelfont" position="floating" color="primary">Note</ion-label>
      <ion-textarea rows="10" cols="25" value="Enter Text Here..." class="borderall"></ion-textarea>
    </ion-item>
  </form>
</ion-content> -->