<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Quote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar ></ion-searchbar>
  <ion-list inset>
    <ion-item *ngFor="let quote of quotelist">
      <ion-grid class="no-padding">
        <ion-row>
          <ion-col col-12><b>Job#</b>&nbsp;- {{quote.QuoteNo}} - &nbsp;{{quote.QuoteName}}</ion-col>
        </ion-row>
        <ion-row>
          <b>Cust# &nbsp;</b> - {{quote.CustomerName}}
        </ion-row>

        <!-- <ion-row *ngFor="let version of quote.VersionList" [ngStyle]="{'color':version.StatusColor}">
          <ion-col size="5">
            <span *ngIf="version.VersionName != null || version.VersionName != ''">{{version.VersionName}}</span>
            <span *ngIf="version.SrNo == null || version.SrNo == ''">V {{version.SrNo}}</span>
          </ion-col>
          <ion-col size="3">
            {{(version.FabLaborSqft) | number}}SF
          </ion-col>
          <ion-col size="4" class="ion-text-right">
             $ {{((version.TotalAmt + version.TaxAmt) - version.DiscountAmt) | number}}
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>