<ion-row>
        
    <ion-col class="fontheading">
            
        <div *ngIf="SelectedTypeID == 1"><ion-icon name="arrow-dropdown" (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}"></ion-icon>Account</div>
        <div *ngIf="SelectedTypeID == 2"><ion-icon name="arrow-dropdown" (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}"></ion-icon>Child Account</div>
        <div *ngIf="SelectedTypeID == 3"><ion-icon name="arrow-dropdown" (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}"></ion-icon>Customer</div>
    </ion-col>
    <ion-col size="3" class="text-right">
        <ion-icon name="pin" class="iconblue fontmedium"></ion-icon>
        <ion-icon name="create" class="fontmedium" (click)="ActionEditCustomer()"></ion-icon>
    </ion-col>
</ion-row>

<ion-card *ngIf="isGroupShown(1)" class="margin-notop">
    <ion-item class="borbottom">
        <ion-label>
            <h2>
                {{customer.Name}}
            </h2>
            <p>
                <span class="valignsup">{{customer.BillAddress}}
                    <span *ngIf="customer.BillCity != '' && customer.BillCity != null">,{{customer.BillCity}}</span>
                    <span *ngIf="customer.BillState != '' && customer.BillState != null">,{{customer.BillState}}
                    </span>
                    <span *ngIf="customer.BillZipCode != '' && customer.BillZipCode != null">-{{customer.BillZipCode}}
                    </span>
                </span>
            </p>
        </ion-label>
    </ion-item>
    <ion-row>
        <ion-col><span class="text-font color-blue margin-bottom paddleft10"> Contacts</span></ion-col>
    </ion-row>
    <ion-row *ngFor="let contact of contacts">
        <ion-col size="12" *ngIf="contact.IsQuote == 1" class="paddleft10">
            <ion-icon class="fontsmall" name="contact"></ion-icon> {{contact.Name}}
            <div *ngIf="contact.Email != '' && contact.Email != null">
                <ion-icon class="fontsmall" name="mail"></ion-icon> {{contact.Email}}
            </div>
            <div *ngIf="contact.Phone != '' && contact.Phone != null">
                <ion-icon class="fontsmall" name="call"></ion-icon> {{contact.Phone}}
            </div>
        </ion-col>
    </ion-row>
</ion-card>