<ion-header translucent>
    <ion-toolbar>
      <ion-title><b><span *ngIf="TypeID == 1">Description</span><span *ngIf="TypeID == 2">Private Notes</span></b></ion-title>
      <ion-button slot="end" color="success" size="small" (click)="ActionSaveJobDescEdit(Version)">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionCloseJobDescEdit(false)">X</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="ion-no-margin ion-no-padding">
      <div *ngIf="TypeID == 1">
          <ion-row>
              <ion-label class="fontbold">
                  <ion-icon name="menu"></ion-icon>
                &nbsp;Job Description:</ion-label>
          </ion-row>
          <ion-row class="paddall">
              <ion-textarea rows="10" cols="25" [(ngModel)]="Version.Description" class="borderall"></ion-textarea>
          </ion-row>
      </div>
      <div *ngIf="TypeID == 2">
        <ion-row>
            <ion-label class="fontbold">
                <ion-icon name="menu"></ion-icon>
              &nbsp;Private:</ion-label>
        </ion-row>
        <ion-row class="paddall">
            <ion-textarea rows="10" cols="25" [(ngModel)]="Version.PrivateNote" class="borderall"></ion-textarea>
        </ion-row>
      </div>
    </ion-list>
  </ion-content>
  