/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// Calendar
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timeline/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/resource-timeline/main.css';
ion-icon{
    zoom:1.1;
}
.fc-axis { width: 55.25px !important;}
.fc-ltr .fc-axis {text-align: left;}
.fc-time-grid .fc-slats td{height: 4.5em;}
.native-input.sc-ion-input-ios{
    font-size: larger;
}

/***** PADDING<MARGINS *****/
.searchbar-search-icon.sc-ion-searchbar-md {
    left: 7px;
    top: 2px;
    width: 21px;
    height: 21px;
}
.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios {
    padding-left: unset;
    -webkit-padding-start: 40px;
    /* padding-inline-start: 30px; */
}
.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.paddzero{
    padding:0px;
}
.paddright{
    padding-right: 5px;
}
.padd-Left{
    padding-left: 16px;
}
.padding-topbottom{
    padding-top: 3px;
    padding-bottom: 3px;
}
.paddall{
    padding: 5px;
}
.no-margin{
    margin-bottom: 0px;
    margin-top: 0px;
 }
 .mar-btm{
     margin-bottom: 5px;
 }
 .margin-bottom{
    margin-bottom: 3px;
    margin-top: 0px;
 }
 .contpadd{
     --padding-start: 5px;
     --padding-end: 5px;
     --padding-top: 5px;
 }
 .paddright10 {
    padding-right: 10px;
 }
 .paddtopzero{
    padding-top:0px;
    padding-bottom:0px;
 }
 .margin-notop {
    margin-bottom: 3px;
    margin-top: 0px;
    margin-left: 3px;
    margin-right: 3px;
}
.margin-right3 {
    margin-right: 3px;
}
.nomargin{
    margin: 0px;
}
.padding{
    padding-left: 5px;
    padding-right: 5px;
}
 /***** FONTSTYLE *****/
 .labelfont{
    font-size: 14px !important;
}
.labelfont2{
    font-size: 16px !important;
}
.text-font{
    font-size:16px;
}
.fontlarge{
    font-size:36px;
}
.fontmedium{
    font-size:28px;
}
.fontmedium2{
    font-size:25px!important;
}
.fontsmall{
    font-size: 20px;
}
.fontbold {
    font-weight: 600;
}
.font-size15 {
    font-size:15px;
}
.wordWrap {
    white-space:pre-wrap;
}

/***** ALIGNMENTS *****/
.titleheader{
    padding-left: 15px;
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-right2{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
/***** COLORS *****/
.bgcolor-gray {
    background: lightgray;
}
.bg-primary{
    background-color: #3880ff;
}
.bg-white{
    background-color: white;
}
.color-white{
    color:white;
}
.color-blue{
    color: blue;
}
.bg-gray{
    background: #ddd;
}
.color-coral{
    color:lightcoral;
}
.color-green{
    color: green;
}
.color-orange{
    color: #f8ac59;
}
.color-primary{
    color: #3880ff;
}
.color-red{
    color: red;
}
.bg-lightgrey{
    padding: 10px 0px 10px 0px;
    background-color: #f3f3f4;
    margin-bottom:0px;
}
.bg-grey{
    background: #f3f3f4;
}

/***** BORDERS *****/
.borderall{
    border: 1px solid #ddd;
}
.border-btm{
    border-bottom:1px solid #ddd;
}
.border-top{
    border-top:1px solid #ddd;
}
.border-left{
    border-left:1px solid #ddd;
}
.border-right{
    border-right:1px solid #ddd;
}
.borderall2 {
    border: 2px solid #ddd;
}
.flex{
    display: flex;
}
.borbottom {
    border-bottom: none;
}
.bdr-dashed{
    border: 1px dashed;
}
/***** ALIGNMENT *****/
.valignsup{
    vertical-align: super;
}
/***** ION ICON BUTTONS *****/
.iconblue{
    color: #4c8dff;
}

.areab {
    font-size: 12px;
    margin: -9px;
    height: 29px;
    margin-top: -8px;
    padding: 0px;
    width: 42px;
    margin-left: -30px;
}

.marge {
    margin-left: -5px;
}


.marge2 {
    margin-left: -11px;
}

.big {
    font-size: 20px;
    margin-bottom: -8px;
}

.selpo {
    font-size:13px;
    height:17px;
    width: 58px;
    margin-right: 10px;;
}

.titleheader2 {
    padding-left: 15px;
    font-size: 17px;
}
.fileinput-button input {
    position: absolute;
   top: 0; 
   right: 0; 
    margin: 0; 
   opacity: 0; 
   //-ms-filter: 'alpha(opacity=0)';
   font-size: 16px; 
   direction: ltr; 
    cursor: pointer;  
}
.error {
    color: red;
    font-size: 10px;
}
.margin-top {
    margin-top: 54px!important;
}
.testClass{
    color:black;
}
.poss {
    position: fixed;
    border-bottom: 1px solid lightgrey;
}

.marg2 {
    margin-top: 70px !important;
}

.margin-top2{
    margin-top: 44px !important;

}
.margin-top3 {
    margin-top: 40px !important;
}

.marg-left {
    margin-left: 20px;;
}

.marg-left {
    margin-left: -5px;
}
.marg-all {
    margin-left: 16px;
    margin-right: 6px;
    margin-top: 14px;
    margin-bottom: -12px;
}

.margtb {
    margin-top: 13px;
    margin-bottom: -4px;
}

.pob {
    font-size:13px; 
    height:17px;
    width: 22px;
}

.pob2 {
    font-size:13px; 
    height:17px;
    width: 42px;

}
.mar-top20 {
    margin-top: 20px;
}
.no-margin{
    margin: 0px;
}
.measuresty {
    border-bottom: 1px solid black; 
    border-top: none;
    border-right: none;
    border-left: none;
}
.margin-leftzero {
    margin-left: 0px;
}

.bg-gray {
    background-color:#c4c4c4;
}
.span1 {
    border:none; 
    background-color:white; 
    color:black;
}
.bg-gray2 {
    background-color:gray;
}
.smallfont1{
    font-size: 11px;
}

.paddzero2{
    padding:0px;
    font-size: 14px;
}

.bg-yellow {
    background-color: khaki;
}

.bg-gray3 {
    background-color: #fcfcd4;
}
.colorblue {
    color: #2b689e;
}
.colorblue2 {
    color: blue;
}
.smallfont2 {
    font-size: 12px;
}
.laywidth {
    width: 11% !important;
    max-width: 11% !important;
}
.marg-left3 {
    margin-left: -26px;
}
.icon-marg-top {
    margin-top: 5px;
}

.icon-marg-top2 {
    margin-top: 1px;
}

.margup {
    margin-top: -24px;
    margin-left: 33px;
}
.statusColor{
    background-color: var(--statuscolor);
}
  /* .popover-content {
    top: 147px !important;
    left: 255.5px !important;
  } */

  .border-r1{
      border: 1px solid gray!important;
      border-radius: 4px;
  }

  .padd-right {
    padding-right: 7px;
  }

.tab-btm{
    position: fixed;
    bottom: 0;
    right: 0;
}
.marg-topicon {
    margin-top: 3px;
}
.secondary {
    color: red!important;
}
.weekview-allday-content-wrapper {
    margin-left: 0px !important;
    overflow: hidden;
    height: 51px;
}

.weekview-normal-event-table {
    display:none;
}

.weekview-allday-label {
    display:none;
}

.weekview-header th.calendar-hour-column{
    display:none !important; 
}

.weekview-allday-content-wrapper {
    margin-left: 0px !important;
    /* overflow: hidden; */

}
.weekview-allday-content-wrapper {
    overflow: hidden;
    height: 100% !important;
}
.weekview-allday-table {
    height: 100% !important;
    position: relative;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}



.verticalText {
    writing-mode: vertical-rl;
}

.popupCls {
    padding: 5px;
    bottom: 190px;
    left: 35px;
    background-color: #f3f3f4;
    position: absolute;
    z-index: 16000;
    max-width: 300px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0,0.5);
    color: black;
  
}
.popupCls1 { //For BIg popover
    padding: 5px;
    left: 35px;
    background-color: #f3f3f4;
    position: absolute;
    z-index: 16000;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0,0.5);
    color: black;
}
.popupCls2 { //For BIg popover // for image Preview
    padding: 5px;
    left: 35px;
    margin-top: 250px;
    background-color: #f3f3f4;
    position: absolute;
    z-index: 16000;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0,0.5);
    color: black;
}
.marg-check {
    margin-top: 25px;
}

.acc-pop {
    border:1px solid lightgray;
    border-radius: 10px;
  }

.pad2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.progbar-mat {
    margin-top: 27px;
    margin-left: 22px;
    margin-right: -10px;
}

.pad-fix {
    padding-top: 54px
}

.check-font {
    font-size: 18px;
}

  .imghw {
    width:30px;
    height:30px;
}
.imghgt{
    height : 30px;
}
.roundborder{
    border-radius: 30px;
    height: 30px;
}
.round{
    border-radius: 100%;
    height:30px;
}
.bdr-radius20{
    border-radius: 20px;
}
.mar-top5{
    margin-top: 5px;
}
.color-img {
    background-color: #f3f3f4;
}
.color-text {
    color: #5f6368;
}
.marg18 {
    margin-top: 18px;
}
.marg30 {
    margin-top: 30px;
}
.dis-content{
    display: contents;
    width: 100%;
    height: 100%;
}
.txt-color{
  color: blue;
  font-weight: 600;
}
.fabbtn{
   height: 45px;
   width: 45px;
}
.imghw35 {
    width:35px;
    height:35px;
    vertical-align: bottom;
}
.schedulingimg {
    color: rgb(218, 101, 58);
    height: 35px;
    width: 34px;
    vertical-align: bottom;
}
.radio-icon{
    border: 1px solid grey;
    border-radius: 50%; 
    width: 25px; 
    height: 25px;
}
.mar-top35 {
    margin-top: 35px;
 }
 .mar-leftrght5 {
   margin-left: 5px;
   margin-right: 5px;
 }
 
 .sc-ion-segment-ios-h {
    --background: transparent;
    --background-hover: rgba(var(--ion-color-primary-rgb,56,128,255),0.1);
    --background-activated: rgba(var(--ion-color-primary-rgb,56,128,255),0.16);
    --background-checked: none !important;
    --color: black;
    --color-checked: none;
    --color-disabled: rgba(var(--ion-color-primary-rgb,56,128,255),0.3);
    --color-checked-disabled: rgba(var(--ion-color-primary-contrast-rgb,255,255,255),0.3);
    --border-color: aliceblue;
    --indicator-color: transparent;
  }
  .imghw1 {
    height: 20px;
    width: 20px;
  }
  .font10 {
    font-size: 10px;
  }
  .paddtop0 {
      padding-top: 0px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
  }
   .fc-view-container .fc-resourcegridView_5days-view,
   .fc-view-container .fc-resourcegridView_3days-view,
   .fc-view-container .fc-resourcegridView-view {
     overflow-x: scroll;
   }
   :root{
       --reswidth : 400px;
   }
   .fc-resourcegridView_5days-view table,
   .fc-resourcegridView_3days-view table,
   .fc-resourcegridView-view table{
       min-width: var(--reswidth);
   }
  
//   .fc-resourcegridView-view .fc-axis{
//       position: fixed;
//   }
//   .fc-resourcegridView-view .fc-resource-cell, 
//   .fc-resourcegridView-view .fc-day{
//     width:120px;
//    }
.ip-marg {
    margin: -8px;
    width:1206px;
}
.sl-marg {
    width:1206px!important;
    margin-left: -16px !important;
}
.dt-width {
    width: 1186px !important;

}
.it-width {
    width:1206px!important;
}

.titlepad {
    padding-left: 32px!important;
    padding-bottom: 9px!important;
}

.h1marg {
    margin-bottom: 0px !important;
    margin-top: 5px !important;
}

.item-marg {
    margin-left: -15px;
}

.line-hight-in {
    line-height: 30px;
}

.colgray {
    color: #b3b3b3!important ;
}

.size-L {
    font-size: 30px !important;
}
.margleft {
    margin-left: -15px;
}

.margleft {
    margin-left: -15px;
}

.margcard {
    margin-left: -3px;
    margin-right: 6px;
}

.item-marg {
    margin-left: -15px;
}

.delIcon {
    font-size: 16px;
    color: red;
    vertical-align: bottom;
}

.marg-17 {
    margin-left: -17px!important;
}

.marg-18 {
    margin-left: 18px !important;
}

.marg-22 {
    margin-left: 22px !important;
}

.searchpadd {
    padding: 6px;
}

.label-marg {
    margin-left: 16px;
}

.mail-text {
    padding: 25px;
    margin-top: -25px;
}

.widthfull {
    width:100%!important;
}