<ion-header translucent>
  <ion-toolbar>
    <ion-title><b style="color: blue;">PO ITEMS</b></ion-title>
    <ion-button slot="end" color="success" size="small">Save</ion-button>
    <ion-button slot="end" color="danger" size="small" (click)="ActionCloseQuoteEdit()">X</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list style="padding-left:10px;width:100%;font-size:14px">
    <ion-card style="background: lightgrey;">
      <ion-row style="margin-bottom: 2px;">
        <ion-col size="4" class="paddzero text-right">PO Number:</ion-col>
        <ion-col size="6" class="paddzero text-left fontbold">&nbsp;12345</ion-col>
        <ion-col class="no-padding paddzero" size="2">
            <ion-col class="text-right fontbold color-blue" (click)="ActionEditPOItem()"><u>ADD+</u></ion-col>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 2px;">
          <ion-col size="4" class="paddzero text-right">PO Uploaded By:</ion-col>
          <ion-col size="8" class="paddzero text-left fontbold">&nbsp;Stonegrid</ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 2px;">
          <ion-col size="4" class="paddzero text-right">PO Date:</ion-col>
          <ion-col size="8" class="paddzero text-left fontbold">&nbsp;11/11/19</ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 2px;">
          <ion-col size="4" class="paddzero text-right">PO Total($):</ion-col>
          <ion-col size="8" class="paddzero text-left fontbold">&nbsp;365</ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 2px;">
          <ion-col size="4" class="paddzero text-right">Attachment(s):</ion-col>
          <ion-col size="8" class="paddzero text-left fontbold">&nbsp;</ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>