.requiredField {
    color: Red;
    font-weight: bolder;
    font-size: 14pt;
}
.paddleft5 {
    padding-left: 5px;
}
.martop35 {
    margin-top: 35px;
}
.pad-top60{
    padding-top: 60px;
}
.btn-fixed{
    position: fixed;
    bottom: 20px;
    right: 25px;
}