<form #form="ngForm" (ngSubmit)="ActionSaveMaterial(form)" class="dis-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="titleheader">Material Details</ion-title>
      <ion-button slot="end" color="success" size="small" type="submit">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionToClose(false)">X</ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col size="1" *ngIf="Progress == 1 || Progress == 2 || Progress == 0">
      <ion-fab-button color="primary" (click)="changeProgress(0)">1</ion-fab-button>
    </ion-col>
    <ion-col size="3" class="progbar-mat" *ngIf="Progress == 0">
      <ion-progress-bar></ion-progress-bar>
    </ion-col>
    <ion-col size="3" class="progbar-mat" *ngIf="Progress == 1 || Progress == 2">
      <ion-progress-bar value="1"></ion-progress-bar>
    </ion-col>
    <ion-col size="1" *ngIf="Progress == 2 || Progress == 1">
      <ion-fab-button color="primary" (click)="changeProgress(1)">2</ion-fab-button>
    </ion-col>
    <ion-col size="1" *ngIf="Progress == 0">
      <ion-fab-button color="light" (click)="changeProgress(1)">2</ion-fab-button>
    </ion-col>
    <ion-col size="3" class="progbar-mat" *ngIf="Progress == 1 || Progress == 0">
      <ion-progress-bar></ion-progress-bar>
    </ion-col>
    <ion-col size="3" class="progbar-mat" *ngIf="Progress == 2">
      <ion-progress-bar value="1"></ion-progress-bar>
    </ion-col>
    <ion-col size="1" *ngIf="Progress == 3 || Progress == 2">
      <ion-fab-button color="primary" (click)="changeProgress(2)">3</ion-fab-button>
    </ion-col>
    <ion-col size="1" *ngIf="Progress == 0 || Progress == 1">
      <ion-fab-button color="light" (click)="changeProgress(2)">3</ion-fab-button>
    </ion-col>
  </ion-row>
  <ion-content>
    <div *ngIf="Progress == 0">
      <ion-item>
        <ion-label class="labelfont2" position="floating" color="primary">Material*</ion-label>
        <ion-input type="text" class="labelfont2" [(ngModel)]="material.Color" name="Color" #Color="ngModel"
          (keyup.enter)="ActionSearchProductItems(material, 2,material.ProSubGroup,1)" required></ion-input>
        <ion-icon slot="end" name="search" class="mar-top20"
          (click)="ActionSearchProductItems(material, 2,material.ProSubGroup,1)"></ion-icon>
      </ion-item>
      <div [hidden]="!form.submitted  || Color.valid" class="invalid-feedback padd-Left">
        <div class="error">Material Name is required</div>
      </div>
      <div *ngIf="material.showProducts == true" class="popupCls1">
        <ion-row style="width: 100%;">
          <ion-col size="11">
            <ion-label color="primary" class="paddleft5 fontbold">Material Search: </ion-label>
          </ion-col>
          <ion-col size="1" class="text-center" style="font-size: 18px;" (click)="ActionClosePopup()"><b>X</b>
          </ion-col>
        </ion-row>
        <div style="width: 100%;height: 300px;overflow: auto;background-color: white;">
          <ion-row *ngFor="let product of productItems" class="paddzero border-btm smallfont2">
            <ion-col class="paddzero" (click)="ActionPopulateMaterialSearch(product)">
              <ion-row>
                <ion-col size="10" class="fontbold"> {{product.Description}} - {{product.Thickness}} -
                  {{product.Finish}}&nbsp;<span class="color-blue">({{product.SlabType}})</span></ion-col>
                <ion-col size="2" class="text-right">{{product.Price  | number : '.2-2'}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="11">
                  <small class="color-blue fontbold">
                    {{product.ItemNO}} - {{product.StoneType}}
                    <span ng-if="product.SupplierName != '' && product.SupplierID > 0"> {{product.SupplierName}}</span>
                    <span
                      ng-if="product.GroupID > 0 && product.Group != '' &&  product.Group != null && product.Group != 'Select--One'">
                      - {{product.Group}}</span>
                    <span ng-if="product.RiskLevelID > 0"> - {{product.RiskLevel}}</span>
                    <span ng-if="product.PriceByTypeID == 2"> - Slab Wgt. Avg.</span>
                    <span ng-if="product.PriceByTypeID == 0"> - Sqft</span>
                    <span ng-if="product.PriceByTypeID == 1"> - Price By Slab</span>
                  </small>
                </ion-col>
                <ion-col size="1" class="text-right">{{product.InStock}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="productItems.length == 0" class="color-red font-bold">
            <ion-col class=" text-center">--NO RECORDS FOUND--</ion-col>
          </ion-row>
        </div>
      </div>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Product</ion-label>
            <ion-input type="text" class="labelfont2" name="Vendor" value="Natural"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Sub.Group</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.StoneType" name="StoneType"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Type</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.SlabType" name="SlabType"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating" color="primary">Thickness</ion-label>
            <ion-select [(ngModel)]="material.DepthID" name="DepthID" #DepthID="ngModel" interface="popover"
              class="labelfont2" required>
              <ion-select-option *ngFor="let item of thicknessItems" [value]="item.ID">{{item.Name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div [hidden]="!form.submitted  || DepthID.valid" class="invalid-feedback padd-Left">
            <div class="error">!Required</div>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating" color="primary">Finish</ion-label>
            <ion-select [(ngModel)]="material.FinishID" name="FinishID" #FinishID="ngModel" interface="popover"
              class="labelfont2" required>
              <ion-select-option *ngFor="let item of finishItems" [value]="item.ID">{{item.Name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div [hidden]="!form.submitted  || FinishID.valid" class="invalid-feedback padd-Left">
            <div class="error">!Required</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Vendor</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.SupplierName" name="SupplierName">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label>Price by:</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-radio-group allow-empty-selection="true" name="radio-group">
            <ion-radio slot="start" [color]="primary" name="PriceByID" checked="material.PriceByID == 0"></ion-radio>
            Sqft&nbsp;&nbsp;
            <ion-radio slot="start" [color]="primary" name="PriceByID" checked="material.PriceByID == 1"></ion-radio>
            Slab
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Cost</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.Cost" name="Cost"
              (change)="ActionCalculateMaterialCost(material)">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">D(%)</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.CostDiscount" name="CostDiscount"
              (change)="ActionCalculateMaterialCost(material)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Cost/SF</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.UnitCost" readonly="readonly"
              name="UnitCost"
              (change)="ActionCalculeteMargin(1,material,'mat');ActionCalculateMaterialSummary(material)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">M(%)</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.Margin" name="Margin"
              (change)="ActionCalculeteMargin(2,material,'mat');ActionCalculateMaterialSummary(material)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Price</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.UnitPrice" name="UnitPrice"
              (change)="ActionCalculeteMargin(3,material,'mat');ActionCalculateMaterialSummary(material)">$</ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Price/SF</ion-label>
            <ion-input type="text" class="labelfont2" *ngIf="material.PriceByID != 2" readonly="readonly"
              [(ngModel)]="material.UnitPrice" name="UnitPrice">$</ion-input>
            <ion-input type="text" class="labelfont2" *ngIf="material.PriceByID == 2" readonly="readonly"
              [(ngModel)]="material.WagPrice" name="WagPrice">$</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="Progress == 1">
      <ion-row class="bgcolor-gray">
        <span class="fontbold text-font">Measurements:</span>
        <ion-icon name="add-circle" (click)="ActionAddMeas()" class="fontmedium"></ion-icon>
        <ion-icon name="cart" class="fontmedium"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">W</ion-label>
            <ion-input type="text" class="labelfont2" name="Vendor" [(ngModel)]="material.Width"
              (change)="ActionSetSqft(material,0)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">H</ion-label>
            <ion-input type="text" class="labelfont2" name="Vendor" [(ngModel)]="material.Height"
              (change)="ActionSetSqft(material,0)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Sqft</ion-label>
            <ion-input type="text" class="labelfont2" name="Sqft" [(ngModel)]="material.Sqft"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Qty</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.Qty" name="Qty"
              (change)="ActionSetAmount()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Amt</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.Amount" name="Amount">
              <ion-row class="mar-right3">$</ion-row>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="Progress == 2">
      <ion-row>
        <ion-col size="5">
          <ion-item>
            <ion-label>Description</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-col size="4">Qty</ion-col>
            <ion-col size="4">Price</ion-col>
            <ion-col size="4">Amt</ion-col>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-col *ngFor="let area of Version.AreaList">
        <ion-row>
          <ion-col size="1" *ngIf="checkThis == 1 || checkThis == 0">
            <h3>
              <ion-icon name="checkmark-circle-outline" class="check-font"></ion-icon>
            </h3>
          </ion-col>
          <ion-col size="1" *ngIf="checkThis == 2">
            <h3>
              <ion-icon name="checkmark-circle" class="check-font"></ion-icon>
            </h3>
          </ion-col>
          <ion-col size="10" (click)=chngCheck(2)>
            <h3>{{area.Name}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <ion-item>
              <ion-radio value="biff"></ion-radio>
              <ion-label>Part{{Version.SrNo}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-col size="4">{{area.MaterialSqft}}</ion-col>
              <ion-col size="4">{{material.UnitPrice}}</ion-col>
              <ion-col size="4">{{area.MaterialAmount|number: '.2-2'}}</ion-col>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </div>

  </ion-content>
  <!-- <ion-footer>
    <ion-row *ngIf="Progress == 0">
      <ion-col size="12">
        <ion-button size="small" style="float: right;" color="primary" (click)="changeProgress(1)">Next</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="Progress == 1">
      <ion-col size="12">
        <ion-button size="small" style="float: right;" color="primary" (click)="changeProgress(2)">Next</ion-button>
        <ion-button size="small" style="float: left;" color="primary" (click)="changeProgress(1)">Previous
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="Progress == 2">
      <ion-col size="12">
        <ion-button size="small" style="float: left;" color="primary" (click)="changeProgress(1)">Previous
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer> -->
</form>