<!-- <ion-header>
    <ion-toolbar>
      <ion-title class="titleheader">MATERIAL DETAILS</ion-title>
      <ion-button slot="end" color="success" size="small">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionToClose()">X</ion-button>
    </ion-toolbar>
  </ion-header> -->

<!-- <ion-content *ngIf="selName == 1">
  <form name="form" (ngSubmit)="ActionSubmit()" #f="ngForm">
    <ion-toolbar>
      <ion-title class="titleheader" color="primary">MATERIAL DETAILS</ion-title>
      <ion-button slot="end" color="success" size="small" type="submit">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionToClose()">X</ion-button>
    </ion-toolbar>


    <ion-item>
      <ion-label class="labelfont2" position="floating" color="primary">Material*</ion-label>
      <ion-input type="text" class="labelfont2" [(ngModel)]="material.MaterialName" name="material"></ion-input>
      <ion-icon slot="end" name="search" class="mar-top20" (click)="ActionSelectMat()"></ion-icon>
    </ion-item>
    <div *ngIf="f.submitted && material.invalid" class="invalid-feedback padd-Left">
      <div *ngIf="material.errors.required" class="error">Material Name is required</div>
    </div>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating" color="primary">Thickness</ion-label>
          <ion-select [(ngModel)]="Thickness" class="labelfont2">
            <ion-select-option value="25">1 CM</ion-select-option>
            <ion-select-option value="5059">1.2 CM</ion-select-option>
            <ion-select-option value="116">1.3 CM</ion-select-option>
            <ion-select-option value="5145">12mm</ion-select-option>
            <ion-select-option value="28">2 CM</ion-select-option>
            <ion-select-option value="24" selected="true">3 CM</ion-select-option>
            <ion-select-option value="29">4 CM</ion-select-option>
            <ion-select-option value="30">5 CM</ion-select-option>
            <ion-select-option value="5146">5mm</ion-select-option>
            <ion-select-option value="31">6 CM</ion-select-option>
            <ion-select-option value="5147">6mm</ion-select-option>
            <ion-select-option value="123">8 CM</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating" color="primary">Finish</ion-label>
          <ion-select [(ngModel)]="Finish" class="labelfont2">
            <ion-select-option value="119">Antiqued</ion-select-option>
            <ion-select-option value="125">Brushed</ion-select-option>
            <ion-select-option value="5089">Caress</ion-select-option>
            <ion-select-option value="114">Concrete</ion-select-option>
            <ion-select-option value="5144">Flamed</ion-select-option>
            <ion-select-option value="34">Honed</ion-select-option>
            <ion-select-option value="5085">Honed/Leathered</ion-select-option>
            <ion-select-option value="115">Leathered</ion-select-option>
            <ion-select-option value="5057">Matte</ion-select-option>
            <ion-select-option value="5084">Natural Cleft</ion-select-option>
            <ion-select-option value="23" selected="true">Polished</ion-select-option>
            <ion-select-option value="5086">Polished/Antiqued</ion-select-option>
            <ion-select-option value="5087">Polished/Honed</ion-select-option>
            <ion-select-option value="5143">Polished/Leathered</ion-select-option>
            <ion-select-option value="5150">Rough</ion-select-option>
            <ion-select-option value="5122">Rugged</ion-select-option>
            <ion-select-option value="5055">Satin</ion-select-option>
            <ion-select-option value="5056">Suede</ion-select-option>
            <ion-select-option value="5073">Textured</ion-select-option>
            <ion-select-option value="5088">Thermal</ion-select-option>
            <ion-select-option value="5058">Velvet</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label class="labelfont2" position="floating" color="primary">WF</ion-label>
          <ion-input type="text" class="labelfont2" value="0"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="marg-check marleft">
          <ion-checkbox class="marleft4"></ion-checkbox>
          <ion-label class="colred">Save Remnant</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label class="labelfont2" position="floating" color="primary">Price By</ion-label>
          <ion-select [(ngModel)]="Price" class="labelfont2">
            <ion-select-option value="number:25" selected="true">Sqft</ion-select-option>
            <ion-select-option value="number:5059">Slab</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label class="labelfont2" position="floating" color="primary"><b>Risk Level:</b></ion-label>
          <ion-input type="text" class="labelfont2" value="LOW" readonly="readonly" style="color: blue;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
        <ion-row>
          <ion-col size="4"></ion-col>
          <ion-col size="4" class="text-center ion-no-padding">
            <h4><b>Mat Pricing</b></h4>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="stacked" color="primary">Cost</ion-label>
              <ion-input type="text" class="labelfont2" value="0"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="stacked" color="primary">Discount(%)</ion-label>
              <ion-input type="text" class="labelfont2" value="0">
                <ion-row class="margin-right3">%</ion-row>
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="stacked" color="primary">Cost/Sqft</ion-label>
              <ion-input type="text" class="labelfont2" value="0">
                <ion-row class="margin-right3">$</ion-row>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="stacked" color="primary">Margin</ion-label>
              <ion-input type="text" class="labelfont2" value="0">
                <ion-row class="margin-right3">%</ion-row>
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="stacked" color="primary">Price/Sqft</ion-label>
              <ion-input type="text" class="labelfont2" value="0">
                <ion-row class="margin-right3">$</ion-row>
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="stacked" color="primary">Net Price/Sqft</ion-label>
              <ion-input type="text" class="labelfont2" value="0">
                <ion-row class="margin-right3">$</ion-row>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"></ion-col>
          <ion-col size="4" class="text-center ion-no-padding">
            <h4><b>Discount</b></h4>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary">Discount</ion-label>
              <ion-select [(ngModel)]="Thickness" class="labelfont2">
                <ion-select-option value="number:25">Select</ion-select-option>
                <ion-select-option value="number:5059" selected="true">Material Discount</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="0"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-select [(ngModel)]="pricelsit" class="labelfont2">
                <ion-select-option value="Retail">%</ion-select-option>
                <ion-select-option value="Commercial" selected="true">$</ion-select-option>
                <ion-select-option value="Commercial">EA</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item class="marleft marg-check">
              <ion-checkbox class="marleft4"></ion-checkbox>
              <ion-label class="colred">Tax</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
    <ion-row>
      <ion-item>
        <ion-label class="labelfont2" position="floating" color="primary">Note</ion-label>
        <ion-textarea type="text" class="labelfont2" value="Note"></ion-textarea>
      </ion-item>
    </ion-row>
  </form>
</ion-content>


<ion-content *ngIf="selName == 2">
  <form name="form" (ngSubmit)="ActionSubmit()" #f="ngForm">
    <ion-toolbar>
      <ion-title class="titleheader" color="primary">MATERIAL DETAILS</ion-title>
      <ion-button slot="end" color="success" size="small" type="submit">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionToClose()">X</ion-button>
    </ion-toolbar>

    <ion-row>
      <ion-col  class="no-margin border-btm ion-no-padding">
        <ion-row >
          <ion-col size="9"><h5><u>{{material.MaterialName}}</u></h5></ion-col>
          <ion-col size="3" class="text-right"><h5><u>{{material.Amt}}</u></h5></ion-col>
        </ion-row>
        <ion-row style="font-size:12px">
          <ion-col>
            <span *ngIf="material.FinishedSqft != null">Finished SF : <b>{{material.FinishedSqft}}</b></span>,
            <span *ngIf="Version.MaterialSqft != null">Material SF : <b>{{Version.MaterialSqft}}</b></span>,
            <span *ngIf="material.SlabSqft != null">Reserved SF : <b>{{material.SlabSqft}}</b></span>
          </ion-col>
        </ion-row>
        <ion-row style="font-size:12px">
          <ion-col>
            <span  *ngIf="material.UnitPrice != null">Price/Unit : <b>{{material.UnitPrice}}</b></span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

        <ion-row (click)="toggleGroup(1)">
          <ion-col size="1" class="text-right ion-no-padding"><h3><ion-icon name="menu"></ion-icon></h3></ion-col>
          <ion-col size="11" class="text-left ion-no-padding">
            <h4><b>Part</b></h4>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isGroupShown(1)">
          <ion-col size="12">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary">Part NAme</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isGroupShown(1)">
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row (click)="toggleGroup(2)">
          <ion-col size="1" class="text-right ion-no-padding"><h3><ion-icon name="menu"></ion-icon></h3></ion-col>
          <ion-col size="11" class="text-left ion-no-padding">
            <h4><b>Measurements</b></h4>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isGroupShown(2)">
          <ion-col size="12">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary">Measurements</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isGroupShown(2)">
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row (click)="toggleGroup(3)">
          <ion-col size="1" class="text-right ion-no-padding"><h3><ion-icon name="menu"></ion-icon></h3></ion-col>
          <ion-col size="11" class="text-left ion-no-padding">
            <h4><b>Stock Info</b></h4>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isGroupShown(3)">
          <ion-col size="12">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary">Stock Information</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isGroupShown(3)">
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row (click)="toggleGroup(4)">
          <ion-col size="1" class="text-right ion-no-padding"><h3><ion-icon name="menu"></ion-icon></h3></ion-col>
          <ion-col size="11" class="text-left ion-no-padding">
            <h4><b>Price Group</b></h4>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isGroupShown(4)">
          <ion-col size="12" class="ion-no-padding">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary">Price Lists</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isGroupShown(4)">
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="labelfont2" position="floating" color="primary"></ion-label>
              <ion-input type="text" class="labelfont2" value="23.32"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

  </form>
</ion-content> -->

<!-- <ion-item class="marleft">
          <ion-checkbox class="marleft4"></ion-checkbox>
          <ion-label>tax</ion-label>
      </ion-item> -->


<ion-content>
  <form (ngSubmit)="ActionSaveMaterial(f)" #f="ngForm">
    <ion-toolbar class="poss">
      <ion-title class="titleheader" color="primary">MATERIAL DETAILS</ion-title>
      <ion-button slot="end" color="success" size="small" type="submit">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionToClose(false)">X</ion-button>
    </ion-toolbar>
    <ion-row class="pad-fix">
      <ion-col size="1" *ngIf="Progress == 1 || Progress == 2 || Progress == 0">
        <ion-fab-button color="primary" (click)="changeProgress(0)">1</ion-fab-button>
      </ion-col>
      <ion-col size="3" class="progbar-mat" *ngIf="Progress == 0">
        <ion-progress-bar></ion-progress-bar>
      </ion-col>
      <ion-col size="3" class="progbar-mat" *ngIf="Progress == 1 || Progress == 2">
        <ion-progress-bar value="1"></ion-progress-bar>
      </ion-col>
      <ion-col size="1" *ngIf="Progress == 2 || Progress == 1">
        <ion-fab-button color="primary" (click)="changeProgress(1)">2</ion-fab-button>
      </ion-col>
      <ion-col size="1" *ngIf="Progress == 0">
        <ion-fab-button color="light" (click)="changeProgress(1)">2</ion-fab-button>
      </ion-col>
      <ion-col size="3" class="progbar-mat" *ngIf="Progress == 1 || Progress == 0">
        <ion-progress-bar></ion-progress-bar>
      </ion-col>
      <ion-col size="3" class="progbar-mat" *ngIf="Progress == 2">
        <ion-progress-bar value="1"></ion-progress-bar>
      </ion-col>
      <ion-col size="1" *ngIf="Progress == 3 || Progress == 2">
        <ion-fab-button color="primary" (click)="changeProgress(2)">3</ion-fab-button>
      </ion-col>
      <ion-col size="1" *ngIf="Progress == 0 || Progress == 1">
        <ion-fab-button color="light" (click)="changeProgress(2)">3</ion-fab-button>
      </ion-col>
    </ion-row>

    <ion-col *ngIf="Progress == 0">
      <ion-item>
        <ion-label class="labelfont2" position="floating" color="primary">Material*</ion-label>
        <ion-input type="text" class="labelfont2" [(ngModel)]="material.Color" name="Color" #Color="ngModel"></ion-input>
        <ion-icon slot="end" name="search" class="mar-top20" (click)="ActionSearchSelect()"></ion-icon>
      </ion-item>
      <div *ngIf="f.submitted && material.invalid" class="invalid-feedback padd-Left">
        <div *ngIf="material.errors.required" class="error">Material Name is required</div>
      </div>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Product</ion-label>
            <ion-input type="text" class="labelfont2" name="Vendor" value="Natural"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Sub.Group</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.StoneType" name="StoneType"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Type</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.SlabType" name="SlabType"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label position="floating" color="primary">Thickness</ion-label>
            <ion-select [(ngModel)]="material.DepthID" name="DepthID" interface="popover" class="border-btm labelfont2 color-blue">
              <ion-select-option *ngFor="let item of thicknessItems" [value]="item.ID">{{item.Name}}</ion-select-option>
            </ion-select>   
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item> 
            <ion-label position="floating" color="primary">Finish</ion-label>
            <ion-select [(ngModel)]="material.FinishID" name="FinishID" interface="popover" class="border-btm labelfont2 color-blue">
              <ion-select-option *ngFor="let item of finishItems" [value]="item.ID">{{item.Name}}</ion-select-option>
            </ion-select>   
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Vendor</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.SupplierName" name="SupplierName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label>Price by:</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-item>
              <ion-radio value="biff"></ion-radio>
              <ion-label>Sqft</ion-label>
            </ion-item>
            <ion-item>
              <ion-radio value="biff"></ion-radio>
              <ion-label>Slab</ion-label>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Cost</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.Cost" (change)="ActionSetDisc(material)">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">D(%)</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.CostDiscount"
              (change)="ActionSetDisc(material)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Cost</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.UnitCost" name="UnitCost"
              (change)="ActionSetMargin(1,material,'mat')"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">M(%)</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.Margin" name="Margin"
              (change)="ActionSetMargin(2,material,'mat')"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Price</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.UnitPrice" name="UnitPrice">$</ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-footer>
        <ion-row>
          <ion-col size="12">
            <ion-button size="small" style="float: right;" color="primary" (click)="changeProgress(1)">Next</ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-col>
    <ion-col *ngIf="Progress == 1">
      <ion-row>
        <ion-col size="5">
          <ion-item>
            <ion-label>Description</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-col size="4">Qty</ion-col>
            <ion-col size="4">Price</ion-col>
            <ion-col size="4">Amt</ion-col>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-col *ngFor="let area of Version.AreaList">
        <ion-row>
          <ion-col size="1" *ngIf="checkThis == 1 || checkThis == 0">
            <h3>
              <ion-icon name="checkmark-circle-outline" class="check-font"></ion-icon>
            </h3>
          </ion-col>
          <ion-col size="1" *ngIf="checkThis == 2">
            <h3>
              <ion-icon name="checkmark-circle" class="check-font"></ion-icon>
            </h3>
          </ion-col>
          <ion-col size="10" (click)=chngCheck(2)>
            <h3>{{area.Name}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <ion-item>
              <ion-radio value="biff"></ion-radio>
              <ion-label>Part{{Version.SrNo}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-col size="4">{{area.MaterialSqft}}</ion-col>
              <ion-col size="4">{{material.UnitPrice}}</ion-col>
              <ion-col size="4">{{area.MaterialAmount|number: '.2-2'}}</ion-col>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-footer>
        <ion-row>
          <ion-col size="12">
            <ion-button size="small" style="float: right;" color="primary" (click)="changeProgress(2)">Next</ion-button>
            <ion-button size="small" style="float: left;" color="primary" (click)="changeProgress(1)">Previous
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-col>
    <ion-col *ngIf="Progress == 2">
      <ion-item>
        <ion-label class="labelfont2" position="floating" color="primary">Measurements*
          <ion-icon name="add-circle" (click)="ActionAddMeas()"></ion-icon>
          <ion-icon name="cart"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-row>
        <ion-col size="2">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">W</ion-label>
            <ion-input type="text" class="labelfont2" name="Vendor" [(ngModel)]="material.Width"
              (change)="ActionSetSqft(material,0)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">H</ion-label>
            <ion-input type="text" class="labelfont2" name="Vendor" [(ngModel)]="material.Height"
              (change)="ActionSetSqft(material,0)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Sqft</ion-label>
            <ion-input type="text" class="labelfont2" name="Sqft" [(ngModel)]="material.Sqft"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Qty</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.Qty" name="Qty"
              (change)="ActionSetAmount()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label class="labelfont2" position="floating" color="primary">Amt</ion-label>
            <ion-input type="text" class="labelfont2" [(ngModel)]="material.Amount" name="Amount">
              <ion-row class="mar-right3">$</ion-row>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-footer>
        <ion-row>
          <ion-col size="12">
            <ion-button size="small" style="float: left;" color="primary" (click)="changeProgress(1)">Previous
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-col>
  </form>
</ion-content>