<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
        <img src="assets/img/companylogo.png" alt="your image" style="width:25px;height:25px;">
      </ion-buttons>
      <ion-title>StoneApp</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
          <ion-button (click)="ActionLoadQuote()">
          <ion-icon name="logo-buffer"></ion-icon> Quoting
          </ion-button>
      </ion-item>
      <ion-item >
          <ion-icon name="calendar"></ion-icon>  Scheduling
      </ion-item>
      <ion-item >
          <ion-icon name="barcode"></ion-icon>  Purchasing
      </ion-item>
        <ion-item >
            <ion-icon name="clipboard"></ion-icon>  Inventory
      </ion-item>
  </ion-list>
</ion-content>
