<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
        <img src="assets/img/companylogo.png" alt="your image" style="width:25px;height:25px;">
      </ion-buttons>
      <ion-title><h1>StoneApp</h1></ion-title>
      
      <ion-icon slot="end" class="fontlarge" name="power" color="danger" (click)="ActionLogout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item >
          <ion-col (click)="ActionLoadQuote()" (click)=" showLoader()">
              <h2>  <ion-icon name="logo-buffer" style="color:rgb(148, 24, 117)"></ion-icon> Quoting</h2>
        </ion-col>
      </ion-item>
      <ion-item >
        <ion-col>
            <h2><ion-icon name="calendar" style="color: rgb(218, 101, 58);"></ion-icon> Scheduling</h2></ion-col>
      </ion-item>
      <ion-item >
          <ion-col>
              <h2><ion-icon name="barcode" style="color: rgb(31, 85, 31);"></ion-icon>  Purchasing</h2></ion-col>
      </ion-item>
        <ion-item >
            <ion-col>
                <h2> <ion-icon name="clipboard" style="color: rgb(160, 140, 28);"></ion-icon> Inventory</h2></ion-col>
      </ion-item>
  </ion-list>
</ion-content>
