<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
        <img src="assets/img/companylogo.png" alt="your image" style="width:25px;height:25px;">
      </ion-buttons>
      <ion-title>StoneApp</ion-title>
      <ion-icon slot="end" class="fontlarge" name="power" color="danger" (click)="ActionLogout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item >
          <ion-col (click)="ActionLoadQuote()">
              <h2>  <ion-icon name="logo-buffer"></ion-icon> Quoting</h2>
        </ion-col>
      </ion-item>
      <ion-item >
        <ion-col>
            <h2><ion-icon name="calendar"></ion-icon> Scheduling</h2></ion-col>
      </ion-item>
      <ion-item >
          <ion-col>
              <h2><ion-icon name="barcode"></ion-icon>  Purchasing</h2></ion-col>
      </ion-item>
        <ion-item >
            <ion-col>
                <h2> <ion-icon name="clipboard"></ion-icon> Inventory</h2></ion-col>
      </ion-item>
  </ion-list>
</ion-content>
