
.margin-zero {
    margin-top: 0px;
    margin-bottom: 0px;
 }
 .notestyle {
    font-size: 12px;
    margin-left: 14px;
    margin-top: 5px;
 }
 .padding5 {
   padding: 5px;
 }
 .requiredField {
   color: Red;
   font-weight: bolder;
   font-size: 14pt;
}
.martop35 {
   margin-top: 35px;
}
.toolbarsty {
   height:37px;
   top:-8px;
   left:-10px;
}
.font-size15 {
   font-size: 15px;
}
.buttonsty {
   font-size:13px;
   height:17px;
   width: 22px;
}
.paddleft5 {
   padding-left: 5px;;
}
.paddleft7 {
   padding-left: 7px;
}
.martop10 {
   margin-top: 10px;
}
.martb {
   margin-top: 0px;margin-bottom: 0px;
}
.paddright10 {
   padding-right: 10px;
}
.font11 {
   font-size: 11px;
}
.resoucesty {
   font-size: 14px;
   background-color: #f3f3f4;
}
.checksty {
   width: 17px;
   height: 17px;
}
.mart25 {
   margin-top: 25px;
}
.delsty {
   font-size: 16px;
   color: red;
   vertical-align: bottom;
}