<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon class="fontlarge" (click)="ActionCloseQuoteInfo()" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>
            <h1>
                <div id="" class="text-left">{{headerInfo.QuoteNo}} -
                    <select [(ngModel)]="QuoteVersionID" interface="popover" style="border: 0px;background: #3880ff;">
                        <option *ngFor="let version of headerInfo.VersionList" value="{{version.ID}}">V{{version.SrNo}}
                        </option>
                    </select>
                </div>
            </h1>
        </ion-title>
        <ion-icon name="home" slot="end" class="fontlarge" (click)="ActionGoToHome()"></ion-icon>
    </ion-toolbar>
    <ion-toolbar>
        <ion-row>
            <ion-col class="paddtopzero" (click)="ActionLoadTabInfo(1)">
                <img src="assets/img/Checklist-icon.png" alt="your image" style="width:35px;height:35px;">
                <div class="mar-top5"><span style="font-size:11px;">summary</span></div>
            </ion-col>
            <ion-col class="paddtopzero" (click)="ActionLoadTabInfo(2)">
                <img src="assets/img/Drawing-icon.png" alt="your image" style="width:35px;height:35px;">
                <div class="mar-top5"><span style="font-size:11px;">Area Info</span></div>
            </ion-col>
            <ion-col class="paddtopzero" (click)="ActionLoadTabInfo(3)">
                <img src="assets/img/email-icon.png" alt="your image" style="width:35px;height:35px;">
                <div class="mar-top5"><span style="font-size:11px;">Comm Hub</span></div>
            </ion-col>
            <ion-col class="paddtopzero" (click)="ActionLoadTabInfo(4)">
                <img src="assets/img/calendar-icon.png" alt="your image" style="width:35px;height:35px;">
                <div class="mar-top5"><span style="font-size:11px;">Activities</span></div>
            </ion-col>
            <ion-col class="paddtopzero" (click)="ActionLoadTabInfo(5)">
                <img src="assets/img/marbles-icon.png" alt="your image" style="width:35px;height:35px;">
                <div class="mar-top5"><span style="font-size:11px;">Other</span></div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-row [ngSwitch]="selectedtabtype">
        <ion-col *ngSwitchCase="1">
            <ion-row style="background:#ddd">
                <ion-col size="9" class="paddtopzero" (click)="ActionEditJob()">
                    <h2 class="fontsmall no-margin"><u>{{headerInfo.QuoteName}}</u></h2>
                </ion-col>
                <ion-col size="3" class="text-right paddtopzero">
                    <p class="no-margin">{{headerInfo.QuoteDate | date:'dd/MM'}} &nbsp; SA</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="paddtopzero">
                    <ion-icon class="text-font" class="fontsmall" name="pin"></ion-icon>
                    <span class="valignsup">{{headerInfo.Address1}}
                        <span *ngIf="headerInfo.City != '' && headerInfo.City != null">,{{headerInfo.City}}</span>
                        <span *ngIf="headerInfo.State != '' && headerInfo.State != null">,{{headerInfo.State}}</span>
                        <span *ngIf="headerInfo.State != '' && headerInfo.State != null">-{{headerInfo.Zipcode}}</span>
                    </span>
                </ion-col>
                <div *ngFor="let contact of headerInfo.QuoteContacts">
                    <ion-col size="12" class="paddtopzero">
                        <ion-icon class="text-font" class="fontsmall" name="contact"></ion-icon>
                        <span class="valignsup">
                            {{contact.Name}}
                        </span>
                        <span *ngIf="headerInfo.Phone != '' && headerInfo.Phone != null" class="valignsup">
                            - &nbsp; {{contact.Phone}}
                        </span>
                    </ion-col>
                    <ion-col size="12" *ngIf="contact.Email != '' && contact.Email != null">
                        <ion-icon class="text-font" class="fontsmall" style="display: none;" name="contact"></ion-icon>
                        <ion-icon class="text-font" class="fontsmall" name="call"></ion-icon> <span
                            class="valignsup">{{contact.Email}}</span>
                    </ion-col>
                </div>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="text-font paddtopzero">
                    <div class="valignsup">
                        <span class="color-primary"
                            (click)="ActionEditCustomer(1,headerInfo.Customer,headerInfo.CustomerContacts)"><u>Cust:</u></span>{{headerInfo.Customer.Name}}
                    </div>
                    <div class="valignsup" *ngIf="headerInfo.Version.ChildAccID  > 0"
                        (click)="ActionEditCustomer(3,headerInfo.ChildAccount,headerInfo.ChildAccountContacts)">
                        <span class="color-primary"><u> Child Acc:</u></span><span
                            class="labelfont">&nbsp;{{headerInfo.ChildAccount.Name}}</span>
                    </div>
                    <div class="valignsup" *ngIf="headerInfo.Version.ParentAccID  > 0"
                        (click)="ActionEditCustomer(2,headerInfo.ParentAccount,headerInfo.ParentAccountContacts)">
                        <span class="color-primary"><u>Acc:</u></span><span
                            class="labelfont">&nbsp;{{headerInfo.ParentAccount.Name}}</span>
                    </div>
                </ion-col>
                <ion-col size="12" class="text-font paddtopzero">
                    <div class="valignsup">
                        <span class="color-primary" (click)="ActionEditJobDesc(1)"><u>Job Description:</u></span>
                        <span class="labelfont"
                            *ngIf="headerInfo.Version.Description && headerInfo.Version.Description.length >= 85 && expanded == false">
                            <div [innerHTML]="headerInfo.Version.Description.substr(0,85)"></div>
                            <span (click)="expanded = true" class="color-blue"><u>Read More</u></span>
                        </span>
                        <span class="labelfont" *ngIf="expanded == true">
                            <div [innerHTML]="headerInfo.Version.Description"></div>
                            <span (click)="expanded = false" class="color-blue"><u>Read Less</u></span>
                        </span>
                    </div>
                </ion-col>
            </ion-row>

            <div>
                <ion-row style="background:#ddd;">
                  <ion-col  ><h4 class="no-margin"> Summary</h4></ion-col>
                </ion-row>
                
               <app-areasummary [VersionId]="headerInfo.Version.ID"></app-areasummary>
              </div>

              <ion-list>
                <ion-row>
                    <ion-col size="5">
                       <ion-row>
                         <div><b class="fontbold text-right">Payment Schedule</b></div>
                       </ion-row>
                       <ion-row *ngIf="headerInfo.Version.PayTypeID == 1">
                           {{headerInfo.Version.DueSigningName}}:({{headerInfo.Version.DueSigning}}%)
                           <span>$ {{headerInfo.Version.SigningAmt| number : '.2-2'}}</span>
                       </ion-row>
                       <ion-row *ngIf="headerInfo.Version.PayTypeID == 1 && headerInfo.Version.TeamplateAmt != 0">
                          {{headerInfo.Version.DueTeamplateName}}:({{headerInfo.Version.DueTeamplate}}%)
                          <span>$ $ {{headerInfo.Version.TeamplateAmt| number : '.2-2'}}</span>
                      </ion-row>
                      <ion-row *ngIf="headerInfo.Version.PayTypeID == 1">
                         {{headerInfo.Version.DueInstallName}}: ({{headerInfo.Version.DueInstall}}%)
                         <span>$ {{headerInfo.Version.InstallAmt | number : '.2-2'}}</span>
                      </ion-row>
                      <ion-row *ngIf="headerInfo.Version.PayTypeID == 2">
                          Pay Terms: <span class="b-Color">{{headerInfo.Version.PaymentTerm}}</span>
                          <span>$ {{((headerInfo.Version.TotalAmt + headerInfo.Version.TaxAmt) - (headerInfo.Version.DiscountAmt))| number : '.2-2'}}</span>
                      </ion-row>
                    </ion-col>
                    <ion-col size="7">
                        <ion-row class="marginbot">
                            <ion-col size="7" class="fontbold text-right" (click)="ActionSummaryEdit()"><u>Sub Total:</u>
                            </ion-col>
                            <ion-col size="5" class="fontbold text-right">&nbsp;$
                                {{headerInfo.Version.TotalAmt | number : '.2-2'}}</ion-col>
                        </ion-row>
                        <ion-row class="marginbot">
                            <ion-col size="7" class="fontbold text-right">Discount:</ion-col>
                            <ion-col size="5" class="fontbold text-right"><span
                                    style="color:red;">&nbsp;(${{(headerInfo.Version.DiscountAmt) | number : '.2-2'}})</span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="marginbot">
                            <ion-col size="7" class="fontbold text-right">Sales Tax:</ion-col>
                            <ion-col size="5" class="fontbold text-right">&nbsp;$
                                {{headerInfo.Version.TaxAmt | number : '.2-2'}}</ion-col>
                        </ion-row>
                        <ion-row class="marginbot">
                            <ion-col size="7" class="fontbold text-right">Net Total:</ion-col>
                            <ion-col size="5" class="fontbold text-right">&nbsp;$
                                {{((headerInfo.Version.TotalAmt + headerInfo.Version.RoundOff + headerInfo.Version.TaxAmt - (headerInfo.Version.RefAmt + headerInfo.Version.RoundOff)) - (headerInfo.Version.DiscountAmt)) | number : '.2-2'}}
                            </ion-col>
                        </ion-row>
                        <ion-row class="marginbot">
                            <ion-col size="7" class="fontbold text-right">Fee & Charge:</ion-col>
                            <ion-col size="5" class="fontbold text-right">&nbsp;$
                                {{(headerInfo.Version.RefAmt) | number : '.2-2'}}</ion-col>
                        </ion-row>
                        <ion-row class="marginbot">
                            <ion-col size="7" class="fontbold text-right">Final Total:</ion-col>
                            <ion-col size="5" class="fontbold text-right">&nbsp;$
                                {{((headerInfo.Version.TotalAmt + headerInfo.Version.RoundOff + headerInfo.Version.TaxAmt) - (headerInfo.Version.DiscountAmt)) | number : '.2-2'}}
                            </ion-col>
                        </ion-row>
                        <ion-row class="marginbot">
                            <ion-col size="7" class="fontbold text-right">Payment:</ion-col>
                            <ion-col size="5" class="fontbold text-right"><span style="color:red;">&nbsp;($
                                    {{(headerInfo.Version.PmtReceived) | number : '.2-2'}})</span></ion-col>
                        </ion-row>
                        <ion-row class="marginbot" *ngIf="headerInfo.Version.RefundAmount > 0">
                            <ion-col size="7" class="fontbold text-right">Refunds:</ion-col>
                            <ion-col size="5" class="fontbold text-right">&nbsp;$
                                {{(headerInfo.Version.RefundAmount) | number : '.2-2'}}</ion-col>
                        </ion-row>
                        <ion-row class="marginbot"
                            *ngIf="headerInfo.Version.PmtReceived != 0 || headerInfo.Version.RefundAmount != 0 || headerInfo.Version.CreditAmount != 0">
                            <ion-col size="7" class="fontbold text-right">Balance:</ion-col>
                            <ion-col size="5" class="fontbold text-right">$
                                &nbsp;{{((((headerInfo.Version.TotalAmt + headerInfo.Version.RoundOff + headerInfo.Version.TaxAmt) - headerInfo.Version.DiscountAmt) - (headerInfo.Version.PmtReceived - headerInfo.Version.RefundAmount) - headerInfo.Version.CreditAmount)) | number : '.2-2'}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
              
            </ion-list>
        </ion-col>
        
        <ion-col *ngSwitchCase="2">
          <app-areainfo [Version]="headerInfo.Version"></app-areainfo>
        </ion-col>
        <ion-col *ngSwitchCase="3">
          <app-commhub [Version]="headerInfo.Version"></app-commhub>
        </ion-col>
        <ion-col *ngSwitchCase="4">
         <app-activities [VersionId]="headerInfo.Version.ID" [PhaseId]="0"></app-activities>
        </ion-col>
        <ion-col *ngSwitchCase="5">

        </ion-col>
    </ion-row>
</ion-content>