.padd-scroll{
  padding: 0px 5px;
}
.bar-header1 {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
}
.scroll{
  overflow-x: scroll;
  overflow-y: hidden;
  .list-scroll{
    height: 100%;
    white-space: nowrap;
  }
}
::-webkit-scrollbar { 
  display: none; 
}
ion-segment-button {
  --padding-top: 0;
  --padding-end: 16px;
  --padding-bottom: 0;
  --padding-start: 16px;
  --transition: color 0.15s linear 0s,opacity 0.15s linear 0s;
  min-width: 90px;
  max-width: 150px !important;
  min-height: 48px;
  font-size: 16px !important;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 40px;
  text-transform: uppercase;
}
.fontheading{
  font-size: 20px;
  font-weight: 600;
  color:green;
}
.btn-ion{
  --background: #ddd;
  color: black;
  font-size: 18px;
  height: 35px;
  font-weight: 600;
  padding-right: 5px;
  padding-left: 5px;
}
.active{
  --background:#3880ff;
  color:#FFFFFF;
}
.paddleft10 {
  padding-left: 10px;
}
