.margin-zero {
   margin-top: 0px;
   margin-bottom: 0px;
}
.inputheight {
    height: 16px;
}
.labelstyle {
    color: blue;
    margin-top: 7px;
    margin-left: 14px;
    margin-bottom: 10px;
}
.isfinanacesty {
    padding-left: 13px;
    font-size: 16px;
}
.mar-bot2 {
    margin-bottom: 2px;
 }
 .colorgreen {
    color: green;
}