<ion-header>
    <ion-toolbar>
      <ion-title><b>Job Info</b></ion-title>
      <ion-button slot="end" color="success" size="small">Save</ion-button>
      <ion-button slot="end" color="danger" size="small" (click)="ActionCloseJobEdit()">X</ion-button>
    </ion-toolbar>
  </ion-header>
<ion-content>
<ion-list class="ion-no-margin ion-no-padding">
    <ion-item>
        <ion-label position="stacked" class="labelfont margin-zero">Job Name</ion-label>
        <ion-input required type="text" class="inputheight"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" class="labelfont margin-zero">Address</ion-label>
        <ion-input required type="text" class="inputheight"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" class="labelfont margin-zero">City</ion-label>
        <ion-input required type="text" class="inputheight"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" class="labelfont margin-zero">State</ion-label>
        <ion-input required type="text" class="inputheight"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" class="labelfont margin-zero">Zipcode</ion-label>
        <ion-input required type="text" class="inputheight"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" class="labelfont margin-zero">Country</ion-label>
        <ion-input required type="text" class="inputheight"></ion-input>
    </ion-item>
</ion-list>
</ion-content>
