<ion-header>
  <ion-toolbar>
    <ion-title class="titleheader">Create Quote</ion-title>
    <ion-button slot="end" color="success" size="small">Save</ion-button>
    <ion-button slot="end" color="danger" size="small" (click)="ActionCloseCreateQuote()">X</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #quoteheaderForm="ngForm" (ngSubmit)="ActionQuoteSubmit(quoteheaderForm)">
    <ion-item>
      <ion-label class="labelfont" position="floating" color="primary">Lead Type</ion-label>
      <ion-select [(ngModel)]="header.LeadTypeID" class="labelfont">
      <ion-select-option  *ngFor="let p of leadTypes" [value]="p.ID">{{p.Name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="labelfont" position="floating" color="primary">Hear About us?</ion-label>
      <ion-select [(ngModel)]="header.SourceID"  class="labelfont">
          <ion-select-option  *ngFor="let p of leadHearAbout" [value]="p.ID">{{p.Name}}</ion-select-option>
          </ion-select>
    </ion-item>

    <ion-item>
        <ion-label class="labelfont" position="floating" color="primary">Customer</ion-label>
        <ion-input [(ngModel)]="header.Version.AccName" (keyup.enter)="ActionShowAccountCustomerItems(2)" ></ion-input>
        <ion-icon slot="end" style="margin-top: 35px;" name="arrow-dropdown"  (click)="ActionShowAccountCustomerItems(2)"></ion-icon>
        <ion-icon slot="end" style="margin-top: 35px;" name="search" (click)="ActionShowAccountCustomerItems(2)"></ion-icon>
      </ion-item>


  </form>
</ion-content>